<template>
  <q-page>
    <div class="page-header-and-label">
        <div class="fit row wrap justify-between items-start">
            <div class="col-xs-12 col-sm-6">
                <h6 class="q-ma-md">{{$t('Events')}}</h6>
            </div>
            <div class="col-xs-12 col-sm-6 q-pt-md q-pr-sm">
                <DateRange />
            </div>
        </div>
    </div>
    <div class="row q-ma-md border">
      <div class="col-12 col-xs-12 col-sm-12 col-lg-8 q-pr-sm">
        <full-calendar :classNames="['events-calendar-wrapper']" :events="eventsList"></full-calendar>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-lg-4 q-pl-xs bg-grey-3">
          <h6 class="q-ma-md">{{$t('Notifications')}}</h6>
          <div class="q-ma-md">
              <q-banner class="">
                <template v-slot:avatar>
                    <q-icon name="notifications_off" color="blue-grey-10" />
                </template>
                {{$t("You don't have any notifications yet.")}}
                <!-- <template v-slot:action>
                    <q-btn flat color="blue-grey-10" label="Turn on Wifi" />
                </template> -->
            </q-banner>
          </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import DateRange from '../../components/forms/DateRange'
import { API } from '../../utils/api'

export default {
  name: 'PageNotifications',
  components: {
    DateRange
  },
  data () {
    return {
      events: {
        results: [
          {
            title: 'event1',
            start: '2020-03-01'
          },
          {
            title: 'event2',
            start: '2020-03-05',
            end: '2020-03-07'
          },
          {
            title: 'event3',
            start: '2020-03-09T12:30:00',
            allDay: false
          }
        ]
      }
    }
  },
  computed: {
    eventsList () {
      return (this.events && this.events.results) || []
    }
  },
  methods: {
    getTodoList () {
      API(this, {
        url: '/todos'
      }).then(resp => {
        console.log('getTodoList response', resp)
        if (resp && resp.data) {
          this.events = resp.data
          this.events.results = this.events.results.map(todo => {
            return { ...(todo || {}), title: todo.text, start: this.toISODate(todo.due_date), url: todo.target_url }
          })
        }
      }).catch(err => {
        console.log('getTodoList error', err)
      })
    },
    toISODate (d) {
      return new Date(d).toISOString()
    }
  },
  beforeMount () {
    this.getTodoList()
  }
}
</script>
