<template>
  <q-page :class="`flex flex-center ${userTypeTab === 'customer' ? 'teal-gradient-bg' : 'black-gradient-bg'}`">
    <div class="q-pa-md auth-form-card">

      <q-card
        :class="`my-card text-blue-10 ${isVendor ? 'text-black' : 'text-teal-10'}`"
        style=""
      >
        <q-tabs
          v-model="userTypeTab"
          dense
          align="justify"
          class="text-white shadow-2"
          :breakpoint="0"
        >
          <q-tab name="customer" class="bg-teal-10" label="Customer" icon="person" />
          <q-tab name="seller" class="bg-blue-grey-10" label="Seller" icon="store_mall_directory" />
        </q-tabs>

        <q-tab-panels
          v-model="userTypeTab"
          animated
          swipeable
        >
          <q-tab-panel name="customer">
            <q-card-section>
              <div class="text-h6">{{$t('Login')}}</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-form
                @submit="onSubmit"
                @reset="onReset"
                :class="`q-gutter-md ${isVendor ? 'text-black' : 'text-teal-10'}`"
              >
                <q-input
                  filled
                  v-model="username"
                  autocapitalize="off"
                  :label="$t('Your username *')"
                  :hint="$t('Userame or email')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />

                <q-input
                  filled
                  type="password"
                  v-model="password"
                  :label="$t('Your password *')"
                  lazy-rules
                  :rules="[
                    val => val !== null && val !== '' || $t('Please type your password')
                  ]"
                />

                <div>
                  <q-btn :loading="loading" :label="$t('Login')" type="submit" color="blue-grey-10"/>
                  <q-btn :disable="loading" :label="$t('Reset')" type="reset" color="negative" flat class="q-ml-sm" />
                </div>
              </q-form>

              <p class="q-pt-lg text-right">{{$t("You don't have an account")}} <q-btn :disable="loading" unelevated rounded color="primary" size="sm" text-color="white" :label="$t('Sign up')" to="/accounts/signup" /> </p>

              <div>
                By using you accept the <q-btn flat dense no-caps size="md" color="primary" to="/terms-and-privacy">terms of use and privacy policy</q-btn>
              </div>
            </q-card-section>
          </q-tab-panel>
          <q-tab-panel name="seller">
            <q-card-section>
              <div class="text-h6">{{$t('Login')}}</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-form
                @submit="onSubmit"
                @reset="onReset"
                class="q-gutter-md"
              >
                <q-input
                  filled
                  v-model="username"
                  autocapitalize="off"
                  :label="$t('Your username *')"
                  :hint="$t('Userame or email')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />

                <q-input
                  filled
                  type="password"
                  v-model="password"
                  :label="$t('Your password *')"
                  lazy-rules
                  :rules="[
                    val => val !== null && val !== '' || $t('Please type your password')
                  ]"
                />

                <div>
                  <q-btn :loading="loading" :label="$t('Login')" type="submit" color="blue-grey-10"/>
                  <q-btn :disable="loading" :label="$t('Reset')" type="reset" color="negative" flat class="q-ml-sm" />
                </div>
              </q-form>

                <p class="q-pt-lg text-right">{{$t("You don't have an account?")}} <q-btn :disable="loading" unelevated rounded color="primary" size="sm" text-color="white" :label="$t('Sign up')" to="/accounts/signup" /> </p>

                <div>
                  By using you accept the <q-btn flat dense no-caps size="md" color="primary" to="/terms-and-privacy">terms of use and privacy policy</q-btn>
                </div>
            </q-card-section>
          </q-tab-panel>
        </q-tab-panels>

      </q-card>

    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { API, EventBus, clearLocalStorage } from '../../utils'

export default {
  name: 'LoginPage',
  data: () => ({
    loading: false,
    username: '',
    password: '',
    is_vendor: false
  }),
  computed: {
    ...mapGetters(['isVendor']),
    userTypeTab: {
      get () {
        return this.$store.getters['app/userTypeTab']
      },
      set (val) {
        this.$store.commit('app/userTypeTab', val)
        this.is_vendor = val === 'seller'
      }
    }
  },
  methods: {
    onReset (e) {
      console.log('onReset', e)
    },
    onSubmit (e) {
      this.loading = true
      API(this, {
        url: this.$store.getters.getLoginEndpint,
        method: 'post',
        data: { username: this.username, password: this.password, is_vendor: this.is_vendor },
        noAuthHeader: true,
        caching: true
      }).then(resp => {
        this.loading = false
        console.log('login success', { next: (this.$route.query && this.$route.query.next) || '/' })
        if (resp && resp.data && resp.data.token) {
          this.$store.commit('updateToken', resp.data.token)
          this.$store.commit('updateIsVendor', resp.data.is_vendor)
          EventBus.$emit('getUserData', { next: (this.$route.query && this.$route.query.next) || '/' })
          this.$q.notify({
            type: 'positive',
            color: 'positive',
            position: 'top',
            message: this.$t('Login successful'),
            timeout: 2000
          })
        }
      }).catch(err => {
        this.loading = false
        console.log('login failed', err)
      })
    }
  },
  beforeMount () {
    if (this.$route.path === '/accounts/logout') {
      this.$store.dispatch('clearUserData')
      this.$router.push('/accounts/login')
      clearLocalStorage()
      setTimeout(() => {
        this.$router.go()
      }, 1000)
      return
    }
    setTimeout(() => {
      console.log('isAuthenticated', this.$store.getters.isAuthenticated)
      if (this.$store.getters.isAuthenticated) {
        EventBus.$emit('getUserData', { next: '/' })
      }
      this.is_vendor = this.userTypeTab === 'seller'
    }, 1000)
  }
}
</script>
<style>

</style>
