<template>
  <q-page> <!-- class="flex flex-center" -->
    <div class="page-header-and-label">
        <div class="fit row wrap justify-between items-start">
          <div class="col-12 col-xs-7 col-md-8">
              <h6 class="q-ma-md">{{(authUser && authUser.full_name) || $t('Profile')}}</h6>
          </div>
          <div class="col-12 col-xs-5 col-md-4 q-pt-md q-pr-xs q-pl-xs">
              <!-- <q-btn color="blue-grey-10" text-color="white" glossy unelevated icon="fa fa-file-pdf" label="Download CV" style="float: right; margin-right: 1em;"  @click="dowloadCandidateCV(candidate)" /> -->
          </div>
        </div>
      </div>
      <div class="page-contents-wrapper">
        <div class="q-gutter-y-md">
          <div class="row">
            <div class="col-xs-12 col-sm-12" v-if="authUser && authUser.candidate">
              <div class="q-pa-none q-ma-sm"  v-if="authUser && authUser.id && authUser.candidate">
                <q-list bordered>
                    <q-item-label header>{{$t('Status')}}</q-item-label>
                    <q-item class="q-my-none">
                      <q-item-section avatar>
                        <q-icon name="show_chart" color="green" />
                      </q-item-section>

                      <q-item-section>
                        <q-item-label overline>{{$t('Current progress')}} ({{authUser.candidate.step && authUser.candidate.step.progress}}%) </q-item-label>
                        <q-item-label v-if="candidateSteps && candidateSteps.length > 0">
                            <q-chip
                              v-for="step in candidateSteps"
                              :key="step.id"
                              size="sm"
                              :selected="authUser.candidate.step && authUser.candidate.step.id === step.id"
                              icon="clear"
                              :color="authUser.candidate.step && authUser.candidate.step.id === step.id ? 'teal' : 'blue-grey-5'"
                              text-color="white"
                              >{{step.number}} - {{$t(step.name)}}</q-chip>
                        </q-item-label>
                        <q-item-label v-else>
                            {{ $t('No results found') }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                </q-list>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6" v-if="authUser && authUser.id">
              <div class="q-pa-none q-ma-sm">
                <q-list bordered>
                  <q-item-label header>{{$t('Personal Info')}}</q-item-label>
                  <q-item class="q-my-none">
                    <q-item-section avatar>
                      <q-icon name="person" color="green" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label overline>{{$t('Full name')}}</q-item-label>
                      <q-item-label>{{ authUser.full_name || $t('[Unknown]') }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item class="q-my-none">
                    <q-item-section avatar>
                      <q-icon name="email" color="green" />
                    </q-item-section>

                    <q-item-section>
                      <q-item-label overline>Email</q-item-label>
                      <q-item-label>{{ authUser.email || $t('[Unknown]') }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item class="q-my-none">
                    <q-item-section avatar>
                      <q-icon name="phone" color="green" />
                    </q-item-section>

                    <q-item-section>
                      <q-item-label overline>{{$t('Phone')}}</q-item-label>
                      <q-item-label>{{ authUser.phone || $t('[Unknown]') }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item class="q-my-none">
                    <q-item-section avatar>
                      <q-icon name="people_alt" color="green" />
                    </q-item-section>

                    <q-item-section>
                      <q-item-label overline>{{$t('Gender')}}</q-item-label>
                      <q-item-label>{{ $t( authUser.gender ||'[Unknown]') }}</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item class="q-my-none">
                    <q-item-section avatar>
                      <q-icon name="access_time" color="green" />
                    </q-item-section>

                    <q-item-section>
                      <q-item-label overline>{{$t('Date Joined')}}</q-item-label>
                      <q-item-label>{{$t('Joined')}} {{ timeSince(authUser.date_joined) || '' }}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6" v-if="authUser && authUser.id && authUser.candidate">
                <div class="q-pa-none q-ma-sm" >
                  <!-- <q-toolbar class="bg-blue-grey-10 text-white shadow-2">
                      <q-toolbar-title>Contacts</q-toolbar-title>
                  </q-toolbar> -->

                  <q-list bordered>
                    <q-item-label header>{{$t('About')}}</q-item-label>
                    <q-item class="q-my-none">
                      <q-item-section avatar>
                        <!-- <q-avatar color="blue-grey-10" text-color="white">
                            {{ candidate.full_name && candidate.full_name[0] }}
                        </q-avatar> -->
                        <q-icon name="flag" color="green" />
                      </q-item-section>

                      <q-item-section>
                        <q-item-label overline>{{$t('Country of birth')}}</q-item-label>
                        <q-item-label>{{ (getCountryByCode(authUser.candidate.country) || {}).name || $t('No country') }}</q-item-label>
                        <!-- <q-item-label caption lines="1">{{ candidate.email }}</q-item-label> -->
                      </q-item-section>

                      <!-- <q-item-section side>
                        <q-icon name="chat_bubble" color="green" />
                      </q-item-section> -->
                    </q-item>
                    <q-item class="q-my-none">
                      <q-item-section avatar>
                        <q-icon name="fa fa-id-card-alt" color="green" />
                      </q-item-section>

                      <q-item-section>
                        <q-item-label overline>{{$t('National ID')}}</q-item-label>
                        <q-item-label>{{ authUser.candidate.identity_number || $t('No id card') }}</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item class="q-my-none">
                      <q-item-section avatar>
                        <q-icon name="fa fa-passport" color="green" />
                      </q-item-section>

                      <q-item-section>
                        <q-item-label overline>{{$t('Passport')}}</q-item-label>
                        <q-item-label>{{ authUser.candidate.passport_number || $t('No passport') }}</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item class="q-my-none">
                      <q-item-section avatar>
                        <q-icon name="fa fa-id-card" color="green" />
                      </q-item-section>

                      <q-item-section>
                        <q-item-label overline>{{$t('License')}}</q-item-label>
                        <q-item-label>{{ authUser.candidate.license_number || $t('No license') }}</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item class="q-my-none">
                      <q-item-section avatar>
                        <q-icon name="trending_up" color="green" />
                      </q-item-section>

                      <q-item-section>
                        <q-item-label overline>{{$t('Status')}}</q-item-label>
                        <q-item-label>{{  authUser.candidate.step ? `${authUser.candidate.step.number} ${$t(authUser.candidate.step.name)}` : $t('No status') }}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12" v-if="authUser && authUser.id && authUser.candidate">
                <div class="q-pa-none q-ma-sm" >

                    <q-list bordered>
                        <q-item-label header>{{$t('About Preferences & Skills')}}</q-item-label>
                        <q-item class="q-my-none">
                          <q-item-section avatar>
                            <q-icon name="work_outline" color="green" />
                          </q-item-section>

                          <q-item-section>
                            <q-item-label overline>{{$t('Preferred jobs')}}</q-item-label>
                            <q-item-label v-if="authUser.candidate.preferred_jobs && authUser.candidate.preferred_jobs.length > 0">
                                <q-chip v-for="job in authUser.candidate.preferred_jobs" :key="job.id" size="sm" color="teal" text-color="white">{{$t(job.name)}}</q-chip>
                            </q-item-label>
                            <q-item-label v-else>
                                {{ $t('No job preference') }}
                            </q-item-label>
                          </q-item-section>
                        </q-item>
                        <q-item class="q-my-none">
                            <q-item-section avatar>
                                <q-icon name="work_outline" color="green" />
                            </q-item-section>

                            <q-item-section>
                                <q-item-label overline>{{$t('Skills')}}</q-item-label>
                                <q-item-label v-if="authUser.candidate.skills && authUser.candidate.skills.length > 0">
                                    <q-chip v-for="skill in authUser.candidate.skills" :key="skill.id" size="sm" color="teal" text-color="white">{{$t(skill.name)}}</q-chip>
                                </q-item-label>
                                <q-item-label v-else>
                                    {{ $t('No job skills') }}
                                </q-item-label>
                            </q-item-section>
                        </q-item>
                    </q-list>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12" v-if="authUser && authUser.candidate">
                <div class="q-pa-none q-ma-sm"  v-if="authUser && authUser.id">

                    <q-list bordered>
                        <q-item-label header>{{$t('About Experience')}}</q-item-label>
                        <q-item class="q-my-none" v-for="job in authUser.candidate.list_of_jobs_done" :key="job.id">
                            <q-item-section avatar>
                                <q-icon name="work_outline" color="green" />
                            </q-item-section>

                            <q-item-section>
                                <q-item-label overline>{{$t('Job title')}}: {{job.title}} <span v-if="job.years">{{$t('{years} years', {years: job.years})}}</span></q-item-label>
                                <q-item-label v-if="job.skills && job.skills.length > 0">
                                    <q-chip v-for="skill in job.skills" :key="skill.id" size="sm" color="teal" text-color="white">{{$t(skill.name)}}</q-chip>
                                </q-item-label>
                            </q-item-section>
                        </q-item>
                    </q-list>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12" v-if="authUser && authUser.id && authUser.partner">
                <div class="q-pa-none q-ma-sm" >
                  <h5>Financial Reports</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
  </q-page>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
import { EventBus, timeSince } from '../../utils'
import { API } from '../../utils/api'

export default {
  name: 'PageProfile',
  computed: {
    ...mapGetters(['authUser', 'getCountryByCode'])
  },
  data () {
    return {
      candidateSteps: []
    }
  },
  methods: {
    timeSince: timeSince,
    updatePreferredJobs () {
      if (this.authUser && this.authUser.candidate && this.authUser.candidate.preferred_jobs && this.authUser.candidate.preferred_jobs.length > 0) {
        API(this, {
          url: `/job_types`,
          loading: 'show'
        }).then(resp => {
          if (resp && resp.data && resp.data.results && resp.data.results.length > 0) {
            let authUser = JSON.parse(JSON.stringify(this.authUser))
            console.log('updatePreferredJobs: Updating...')
            authUser.candidate.preferred_jobs.forEach((pj, index, preferredJobs) => {
              console.log('updatePreferredJobs: forEach', { preferred_jobs: pj })
              resp.data.results.forEach(jt => {
                console.log('updatePreferredJobs: forEach', { job_type: jt })
                if (jt && pj && jt.id && jt.id === pj) {
                  authUser.candidate.preferred_jobs[index] = jt
                  console.log('updatePreferredJobs: Changed', { from: pj, to: jt })
                }
              })
            })
            this.$store.commit('setAuthUser', { authUser })
          }
        })
      } else {
        console.log('updatePreferredJobs: Skipping...')
      }
    },
    getJobTypes () {
      API(this, {
        url: `/candidate_steps?limit=1000`
      }).then(resp => {
        if (resp && resp.data && resp.data.results) {
          this.candidateSteps = resp.data.results
        }
      })
    }
  },
  beforeMount () {
    EventBus.$emit('getUserData')
    this.getJobTypes()
  },
  mounted () {
    setTimeout(() => {
      this.updatePreferredJobs()
    }, 3000)
  }
}
</script>
