<template>
  <q-page class="flex flex-center black-gradient-bg">
    <div class="q-pa-md auth-form-card">

      <q-card
        class="my-card text-blue-10"
        style=""
      >
        <q-card-section>
          <div class="text-h6">{{$t('Reset password')}}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form
            @submit="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
          >
            <q-input
              filled
              v-model="password1"
              :label="$t('Your new password *')"
              :hint="$t('Your new password')"
              lazy-rules
              :rules="[ val => val && val.length > 0 || $t('Please type something')]"
            />

            <q-input
              filled
              type="password"
              v-model="password2"
              :label="$t('Confirm password *')"
              lazy-rules
              :rules="[
                val => val !== null && val !== '' || $t('Please type your password')
              ]"
            />

            <div>
              <q-btn :label="$t('Submit')" type="submit" color="blue-grey-10"/>
              <q-btn :label="$t('Reset')" type="reset" color="negative" flat class="q-ml-sm" />
            </div>
          </q-form>
        </q-card-section>
      </q-card>

    </div>
  </q-page>
</template>

<script>
import { EventBus } from '../../utils'
export default {
  name: 'LoginPage',
  data: () => ({
    password1: '',
    password2: '',
    accept: false
  }),
  methods: {
    onReset (e) {
      console.log('onReset', e)
    },
    onSubmit (e) {
      console.log('onSubmit', e)
    }
  },
  beforeMount () {
    setTimeout(() => {
      console.log('isAuthenticated', this.$store.getters.isAuthenticated)
      if (this.$store.getters.isAuthenticated) {
        EventBus.$emit('getUserData', { next: '/' })
      }
    }, 1000)
  }
}
</script>
<style>
.blue-gradient-bg {
  background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)
}
</style>
