<template>
  <q-page :class="`flex flex-center ${userTypeTab === 'customer' ? 'teal-gradient-bg' : 'black-gradient-bg'}`">
    <div class="q-pa-md auth-form-card">

      <q-card
        class="my-card text-blue-10"
        style=""
      >
        <q-tabs
          v-model="userTypeTab"
          dense
          align="justify"
          class="text-white shadow-2"
          :breakpoint="0"
        >
          <q-tab name="customer" class="bg-teal-10" label="Customer" icon="person" />
          <q-tab name="seller" class="bg-blue-grey-10" label="Seller" icon="store_mall_directory" />
        </q-tabs>

        <q-tab-panels
          v-model="userTypeTab"
          animated
          swipeable
        >
          <q-tab-panel name="customer">
            <q-card-section>
              <div class="text-h6 text-teal-10">{{$t('Sign up as a customer')}}</div>
            </q-card-section>

            <q-card-section class="q-pt-none text-teal-10">
              <q-form
                id="new-customer-signup-form"
                autocomplete="off"
                @submit="onSubmit"
                @reset="onReset"
                class="q-gutter-md"
              >
                <q-input
                  filled
                  v-model="customer.first_name"
                  name="first_name"
                  :label="$t('Your first name *')"
                  :hint="$t('Your given name')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />
                <q-input
                  filled
                  v-model="customer.last_name"
                  name="last_name"
                  :label="$t('Your last name *')"
                  :hint="$t('Your father\'s name')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />
                <div class="q-gutter-none text-center">
                  <q-radio v-model="customer.gender" size="50px" val="male" label="Male" />
                  <q-radio class="q-ml-lg" v-model="customer.gender" size="50px" val="female" label="Female" />
                </div>
                <q-input
                  filled
                  v-model="customer.email"
                  name="email"
                  type="email"
                  :label="$t('Your email *')"
                  :hint="$t('Your email')"
                  lazy-rules
                  :rules="[ val => (!val || isValidEmail(val)) || $t('Please type a valid email')]"
                />

                <Autocomplete v-model="customer.address" label="Address" hint="The street or the building you live" />

                <TelInput v-model="customer.phone" hint="Your personal phone" />

                <q-input
                  filled
                  v-model="customer.username"
                  name="username"
                  autocapitalize="off"
                  type="tel"
                  :label="$t('Your username *')"
                  :hint="$t('Your username')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />

                <q-input
                  filled
                  type="password"
                  v-model="customer.password"
                  :name="$t('password')"
                  :label="$t('Your password *')"
                  lazy-rules
                  :rules="[
                    val => val !== null && val !== '' || $t('Please type your password')
                  ]"
                />

                <q-toggle v-model="customer.accept" :class="customer.warn_accept ? 'text-negative' : 'text-primary'" >
                  I accept the <q-btn flat dense no-caps size="md" color="primary" to="/terms-and-privacy">terms of use and privacy policy</q-btn>
                </q-toggle>

                <div>
                  <q-btn :loading="loading" :label="$t('Register')" type="submit" color="teal-10"/>
                  <q-btn :disable="loading" :label="$t('Reset')" type="reset" color="negative" flat class="q-ml-sm" />
                </div>
              </q-form>

              <p class="q-pt-lg text-right">{{$t('You already have an account')}}  <q-btn :disable="loading" unelevated rounded color="primary" size="sm" text-color="white" :label="$t('Login')" to="/accounts/login" /> </p>
            </q-card-section>
          </q-tab-panel>
          <q-tab-panel name="seller">
            <q-card-section>
              <div class="text-h6 text-blue-grey-10">{{$t('Sign up as a seller')}}</div>
            </q-card-section>

            <q-card-section class="q-pt-none blue-grey-10">
              <q-form
                id="new-seller-signup-form"
                autocomplete="off"
                @submit="onSubmit"
                @reset="onReset"
                class="q-gutter-md"
              >
                <q-input
                  filled
                  v-model="seller.first_name"
                  name="first_name"
                  :label="$t('Your first name *')"
                  :hint="$t('Your given name')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />
                <q-input
                  filled
                  v-model="seller.last_name"
                  name="last_name"
                  :label="$t('Your last name *')"
                  :hint="$t('Your father\'s name')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />
                <q-input
                  filled
                  v-model="seller.email"
                  name="email"
                  type="email"
                  :label="$t('Your email *')"
                  :hint="$t('Your email')"
                  lazy-rules
                  :rules="[ val => (!val || isValidEmail(val)) || $t('Please type a valid email')]"
                />

                <q-input
                  filled
                  v-model="seller.shop_name"
                  name="shop_name"
                  :label="$t('Your shop or company name *')"
                  :hint="$t('The name of your business')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />

                <Autocomplete v-model="seller.address" label="Vendor Address" hint="The street or the building business is located" />

                <TelInput v-model="seller.phone" hint="Your business phone" />

                <q-input
                  filled
                  v-model="seller.username"
                  name="username"
                  autocapitalize="off"
                  type="text"
                  :label="$t('Your username *')"
                  :hint="$t('Your username')"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                />

                <q-input
                  filled
                  type="password"
                  v-model="seller.password"
                  :name="$t('password')"
                  :label="$t('Your password *')"
                  lazy-rules
                  :rules="[
                    val => val !== null && val !== '' || $t('Please type your password')
                  ]"
                />

                <q-toggle v-model="seller.accept" :class="seller.warn_accept ? 'text-negative' : 'text-primary'" >
                  I accept the <q-btn flat dense no-caps size="md" color="primary" to="/terms-and-privacy">terms of use and privacy policy</q-btn>
                </q-toggle>

                <div>
                  <q-btn :loading="loading" :label="$t('Register')" type="submit" color="blue-grey-10"/>
                  <q-btn :disable="loading" :label="$t('Reset')" type="reset" color="negative" flat class="q-ml-sm" />
                </div>
              </q-form>

              <p class="q-pt-lg text-right">{{$t('You already have an account')}}  <q-btn :disable="loading" unelevated rounded color="primary" size="sm" text-color="white" :label="$t('Login')" to="/accounts/login" /> </p>
            </q-card-section>
          </q-tab-panel>
        </q-tab-panels>

      </q-card>

    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { EventBus, isValidEmail, getLocalStorage, setLocalStorage } from '../../utils'
import { API } from '../../utils/api'
import Autocomplete from '../../components/Autocomplete.vue'
import TelInput from '../../components/TelInput.vue'

export default {
  name: 'SignupPage',

  components: {
    Autocomplete,
    TelInput
  },

  data: () => ({
    loading: false,
    countries: [],
    customer: {
      username: '',
      password: '',
      first_name: '',
      middle_name: '',
      last_name: '',
      gender: 'male',
      email: '',
      phone: {},
      accept: false,
      warn_accept: false,
      address: {},
      is_vendor: false
    },
    seller: {
      username: '',
      password: '',
      first_name: '',
      middle_name: '',
      last_name: '',
      email: '',
      phone: {},
      accept: false,
      warn_accept: false,
      address: {},
      shop_name: '',
      is_vendor: true
    }
  }),
  computed: {
    ...mapGetters([]),
    userTypeTab: {
      get () {
        return this.$store.getters['app/userTypeTab']
      },
      set (val) {
        this.$store.commit('app/userTypeTab', val)
      }
    }
  },
  watch: {
    accept (val) {
      this.warn_accept = !val
    }
  },
  methods: {
    getConstant (name, dataKey) {
      if (!name) {
        return
      }
      name = name.toUpperCase()
      API(this, {
        url: `/constants/${name}`
      }).then(resp => {
        if (resp.data && resp.data[name]) {
          this[dataKey || name] = resp.data[name]
          setLocalStorage(`constant-${dataKey}-${name}`, JSON.stringify(resp.data[name]))
        }
      }).catch(err => {
        if (err.toString().indexOf('Network') > -1) {
          let data = getLocalStorage(`constant-${dataKey}-${name}`)
          if (data) {
            data = JSON.parse(data)
            this[dataKey || name] = data
          }
        }
      })
    },
    isValidEmail,
    onReset (e) {
      console.log('onReset', this.$data)
    },
    onSubmit (e) {
      console.log('onSubmit', { id: e.target.id, e })
      const formType = e.target.id === 'new-customer-signup-form'
                        ? 'customer' : (
                          e.target.id === 'new-seller-signup-form'
                            ? 'seller' : ''
                        )
      let data = {}
      if (e.target.id === 'new-customer-signup-form') {
        data = JSON.parse(JSON.stringify(this.customer))
      } else if (e.target.id === 'new-seller-signup-form') {
        data = JSON.parse(JSON.stringify(this.seller))
      }

      if (!data.accept) {
        console.log('onSubmit', { data, formType })
        this.$q.notify({
          type: 'negative',
          color: 'negative',
          position: 'top',
          message: this.$t('Please accept the terms of use to proceed')
        })
        formType === 'customer'
            ? this.customer.warn_accept = true
            : this.seller.warn_accept = true

        return
      }
      this.loading = true

      data.phone = (data.phone && data.phone.number) || ''

      API(this, {
        url: '/signup',
        method: 'post',
        data,
        noAuthHeader: true
      }).then(resp => {
        console.log('login success', { next: (this.$route.query && this.$route.query.next) || '/' })
        this.loading = false
        if (resp && resp.data && resp.data.token) {
          this.$store.commit('updateToken', resp.data.token)
          this.$store.commit('updateIsVendor', resp.data.is_vendor)
          EventBus.$emit('getUserData', { next: (this.$route.query && this.$route.query.next) || '/' })
          this.$q.notify({
            type: 'positive',
            color: 'positive',
            position: 'top',
            message: this.$t('Sign up successful'),
            timeout: 6000
          })
        }
      }).catch(err => {
        // console.log('login failed', err)
        this.loading = false
        EventBus.$emit('handleAPIError', err)
      })
    }
  },
  beforeMount () {
    setTimeout(() => {
      console.log('isAuthenticated', this.$store.getters.isAuthenticated)
      if (this.$store.getters.isAuthenticated) {
        EventBus.$emit('getUserData', { next: '/' })
      } else {
        this.getConstant('GENDER_TYPES', 'genderOptions')
        this.getConstant('COUNTRIES', 'countries')
      }
    }, 1000)
  }
}
</script>
<style>
</style>
