<template>
  <q-page> <!-- class="flex flex-center" -->
    <!-- <img alt="Quasar logo" src="~assets/quasar-logo-full.svg"> -->
    <div class="page-header-and-label">
        <div class="fit row wrap justify-between items-start">
            <div class="col-12 col-xs-7 col-md-8">
                <h6 class="q-ma-md">{{$t('Users')}}</h6>
            </div>
            <div class="col-12 col-xs-5 col-md-4 q-pt-md q-pr-xs q-pl-xs" v-if="tab === 'users'">
                <q-input
                    rounded outlined dense standout
                    v-model="search"
                    type="search"
                    bg-color="white"
                    debounce="1000"
                    :placeholder="$t('Search user by name | email | phone')"
                    @input="onSearch">
                    <template v-slot:append>
                        <q-icon name="search" />
                    </template>
                </q-input>
            </div>
        </div>
    </div>
    <div class="latest-added-users">
        <div class="q-gutter-y-md">
                <q-tabs
                    v-model="tab"
                    dense
                    class="text-grey"
                    active-color="blue-grey-10"
                    indicator-color="blue-grey-10"
                    align="left"
                    narrow-indicator
                    >
                    <q-tab name="users" icon="fa fa-users" :label="$t('All Users')" />
                    <q-tab name="new-user" icon="fa fa-user-plus" :label="$t('New User')" ></q-tab>
                </q-tabs>

                <q-separator />

                <q-tab-panels v-model="tab" animated>
                    <q-tab-panel name="users" class="q-pt-none">
                        <div class="fit row wrap justify-between items-start">
                            <div class="col-6 col-xs-6 col-sm-4 col-md-3">
                                <h6 class="q-ma-md">{{$t('Filters')}}</h6>
                            </div>
                            <div class="col-6 col-xs-6 col-md-4 col-md-3 q-pa-sm">
                                <q-select
                                    filled
                                    required
                                    use-input
                                    v-model="filter.type"
                                    :options="userTypeOptions"
                                    input-debounce="1000"
                                    :label="$t('Filter by type *')"
                                    @input="onSearch"
                                    />
                            </div>
                            <div class="col-3 col-xs-3 col-md-2 q-pa-sm q-pt-lg">
                                <q-btn color="secondary" :label="$t('Reset')" :disable="disableReset" @click="resetFilters" />
                            </div>
                        </div>
                        <div class="row q-pa-xs">
                            <div class="col-12 col-xs-12 q-pa-xs">
                                <div class="q-pa-sm">
                                    <q-table
                                        class="my-sticky-virtscroll-table"
                                        flat
                                        virtual-scroll
                                        table-style="max-height: 400px"
                                        :pagination.sync="pagination"
                                        :rows-per-page-options="[0]"
                                        :virtual-scroll-sticky-size-start="48"
                                        row-key="index"
                                        :no-data-label="this.disableReset ? $t('No users found') : $t(`No users matching '{search}'`, {search: this.search})"
                                        :title="$t('Registered users')"
                                        :data="filteredUsers.results"
                                        :columns="usersColumns"
                                    />
                                </div>
                            </div>
                            <div class="col-12 col-xs-12 q-pa-xs">
                            </div>
                        </div>
                    </q-tab-panel>
                    <q-tab-panel name="new-user">
                        <div class="text-h6">{{$t('New user')}}</div>
                        <q-form
                            @submit="onSubmit"
                            @reset="onReset"
                            class="q-gutter-md"
                        >
                            <div class="row">
                                <div class="col-12 col-xs-12 col-sm-6 q-pa-xs">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 q-pa-xs">
                                            <q-select
                                                filled
                                                required
                                                v-model="newUser.user_type"
                                                :options="userTypes"
                                                input-debounce="1000"
                                                :label="$t('Select user type *')"
                                                :hint="$t(user_type_descriptions[newUser.user_type && newUser.user_type.value] || 'Please select user type to see description')"
                                                @input="userTypeChanged"
                                                />
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 q-pa-xs">
                                            <div class="row text-center">
                                                <div class="col-4 q-pt-md" @click="isFemaleGender = false">
                                                    <span :class="!isFemaleGender ? 'text-green text-weight-bold' : 'text-grey'"><q-icon name="fas fa-male" /> {{$t('Male')}}</span>
                                                </div>
                                                <div class="col-4">
                                                    <q-toggle
                                                        v-model="isFemaleGender"
                                                        size="xl"
                                                        color="green"
                                                        keepColor
                                                        />
                                                </div>
                                                <div class="col-4 q-pt-md" @click="isFemaleGender = true">
                                                    <span :class="isFemaleGender ? 'text-green text-weight-bold' : 'text-grey'">{{$t('Female')}} <q-icon name="fas fa-female" /></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 q-pa-xs">
                                            <q-input
                                                filled
                                                v-model="newUser.first_name"
                                                :label="$t('First name *')"
                                                lazy-rules
                                                :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                                                />
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 q-pa-xs">
                                            <q-input
                                                filled
                                                v-model="newUser.last_name"
                                                :label="$t('Last name *')"
                                                lazy-rules
                                                :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                                                />
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 q-pa-xs">
                                            <q-input
                                                filled
                                                required
                                                v-model="newUser.email"
                                                :label="$t('Email *')"
                                                lazy-rules
                                                type="email"
                                                :rules="[email]"
                                                />
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 q-pa-xs">
                                            <div class="q-field row no-wrap items-start q-input q-field--filled q-field--labeled q-field--with-bottom">
                                                <div class="q-field__control-container col relative-position">
                                                    <vue-tel-input
                                                        v-model="newPhoneNumber"
                                                        wrapperClasses="q-field__control relative-position row no-wrap"
                                                        inputClasses="q-field__native q-placeholder"
                                                        :preferredCountries="['KE']"
                                                        defaultCountry="KE"
                                                        @input="phoneNumberChanged"
                                                        style="border: none;border-radius: 4px 4px 0 0;"
                                                    ></vue-tel-input>
                                                    <div v-if="!phoneNumberValid" class="text-red q-field__bottom row items-start q-field__bottom--animated"><div class="q-field__messages col"><div>{{$t('Please enter a valid phone number')}}</div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 q-pa-xs">
                                            <q-input
                                                filled
                                                required
                                                v-model="newUser.username"
                                                :label="$t('Username *')"
                                                lazy-rules
                                                type="text"
                                                :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                                                />
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 q-pa-xs">
                                            <q-input
                                                filled
                                                v-model="newUser.password"
                                                :label="$t('Password number *')"
                                                lazy-rules
                                                type="password"
                                                :rules="[ val => val && val.length > 0 || $t('Please type something')]"
                                                />
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 q-pa-xs" v-if="newUser.user_type === 'CANDIDATE' || newUser.user_type.value === 'CANDIDATE'">
                                            <q-input
                                                filled
                                                required
                                                v-model="newUser.date_of_birth"
                                                mask="date"
                                                fill-mask="_"
                                                :hint="before18Years === newUser.date_of_birth ? $t('Select correct date of birth') : ''"
                                                :rules="[val => val && val.length > 0 || $t('Select a valid date'), 'date']"
                                                >
                                                <template v-slot:append>
                                                    <q-icon name="event" class="cursor-pointer">
                                                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                                                        <q-date
                                                            v-model="newUser.date_of_birth"
                                                            :options="dateOfBirthLimitations"
                                                            @input="() => $refs.qDateProxy.hide()"
                                                        />
                                                    </q-popup-proxy>
                                                    </q-icon>
                                                </template>
                                            </q-input>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 q-pa-xs" v-if="newUser.user_type === 'INTERNATIONAL_PARTNER' || newUser.user_type.value === 'INTERNATIONAL_PARTNER'">
                                            <q-select
                                                filled
                                                required
                                                v-model="newUser.country"
                                                :options="countries"
                                                :label="$t('Partner\'s country *')"
                                                :rules="[ val => val && val.value && val.value.length == 2 || $t('Please select a country')]"
                                                />
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 q-pa-xs" v-if="newUser.user_type === 'INTERNATIONAL_PARTNER' || newUser.user_type.value === 'INTERNATIONAL_PARTNER'">
                                            <q-select
                                                filled
                                                v-model="newUser.city"
                                                :disable="!(newUser.country && newUser.country.value)"
                                                use-input
                                                fill-input
                                                input-debounce="750"
                                                :label="$t('City')"
                                                :options="foundCities"
                                                :option-label="a => a && a.country_name ? `${a.name}, ${a.country_name}` : a.name"
                                                new-value-mode="add-unique"
                                                @filter="onCitySearch"
                                                @filter-abort="abortCitySearch"
                                                @new-value="createNewCity"
                                                :hint="!(newUser.country && newUser.country.value) ? $t('Select a country first') : $t('Select the city *')"
                                                :rules="[ val => val || $t('Please select at least one skill')]"
                                                lazy-rules
                                                style="max-height: 76px;overflow: hidden;"
                                            >
                                                <!-- <template v-slot:prepend>
                                                    <q-icon name="person" />
                                                </template> -->
                                                <template v-slot:no-option>
                                                    <q-item>
                                                        <q-item-section class="text-grey">
                                                            {{$t(citySearchError)}}
                                                        </q-item-section>
                                                    </q-item>
                                                </template>
                                            </q-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-xs-12 col-sm-6 q-pa-xs">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 q-pa-xs">
                                            <user-permissions v-model="newUser.permissions" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12-col-xs-12 col-sm-12 q-pt-lg">
                                    <q-btn class="float-right" type="submit" color="blue-grey-10" :label="$t('Register')" />
                                </div>
                            </div>
                        </q-form>
                    </q-tab-panel>
                </q-tab-panels>
        </div>
    </div>
    <!-- <UserPopup :user="userDetails" /> -->
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
// import UserPopup from '../../components/popups/User.vue'
// import UsersList from '../../components/partials/UserList'
// import UserForm from '../../components/forms/User.vue'
import { API } from '../../utils/api'
import { VueTelInput } from 'vue-tel-input'
import { required, email } from '../../utils/validations'
import UserPermissions from '../../components/partials/UserPermissions'
import { EventBus, setLocalStorage, getLocalStorage } from '../../utils'

export default {
    name: 'PageUsers',
    components: {
        'vue-tel-input': VueTelInput,
        'user-permissions': UserPermissions
        // UserPopup,
        // UsersList,
        // UserForm
    },
    data () {
        return {
            newUser: {
                first_name: '',
                last_name: '',
                gender: 'MALE',
                phone: '',
                email: '',
                username: '',
                password: '',
                country_of_birth: '',
                date_of_birth: '',
                source_form: '',
                registered_by: '',
                user_type: '',
                permissions: '001223',
                permissions_scope: {
                    monitoring: { value: 0, label: this.$t('Not Allowed') },
                    money: { value: 0, label: this.$t('Not Allowed') },
                    users: { value: 0, label: this.$t('Not Allowed') },
                    files: { value: 0, label: this.$t('Not Allowed') },
                    contents: { value: 0, label: this.$t('Not Allowed') },
                    view: { value: 3, label: this.$t('Can Do Anything') }
                },
                country: null,
                city: null
            },
            tab: 'users',
            filter: {
                type: { value: null, label: 'All user types' }
            },
            users: [],
            search: '',
            filteredUsers: { results: [] },
            loading: true,
            updateListTimeout: 0,
            selectedUser: null,
            usersList: [],
            usersColumns: [
                { name: 'full_name', label: 'Full name', field: 'full_name', sortable: false, align: 'left' },
                { name: 'username', label: 'Username', field: 'username', sortable: false, align: 'left' },
                { name: 'gender', label: 'Gender', field: 'gender', sortable: false, align: 'left' },
                { name: 'phone', label: 'Phone', field: 'phone', sortable: false, align: 'left' },
                { name: 'email', label: 'Email', field: 'email', sortable: false, align: 'left' },
                { name: 'user_type', label: 'User type', field: a => this.userTypesDict[a.user_type], sortable: false, align: 'left' }
            ],
            userTypes: [],
            newPhoneNumber: '',
            phoneNumberValid: true,
            pagination: {
                rowsPerPage: 10
            },
            permissionOptions: [
                { value: 0, label: this.$t('Not Allowed') },
                { value: 1, label: this.$t('Can View') },
                { value: 2, label: this.$t('Can Create/Update') },
                { value: 3, label: this.$t('Can Do Anything') }
            ],
            before18Years: '2002/01/01',
            citySearchError: '',
            foundCities: [],
            countries: [],
            user_type_descriptions: {
                'INTERNAL': 'A normal employee in this company',
                'CANDIDATE': 'A candidate waiting be hired by an international parnter',
                'LOCAL_AGENT': 'A broker who brings in candidates',
                'INTERNATIONAL_PARTNER': 'A company or an individual that hires candidates',
                'OTHER': 'A user that is not decided to be given a role yet'
            }
        }
    },
    computed: {
        ...mapGetters(['getCountryByCode']),
        userTypeOptions () {
            return [{ value: null, label: 'All user types' }].concat(this.userTypes)
        },
        disableReset () {
            return !this.filter.type.value && !this.search
        },
        userTypesDict () {
            let obj = {}
            this.userTypes.forEach(a => {
                obj[a.value] = a.label
            })
            return obj
        },
        isFemaleGender: {
            get () {
                return this.newUser.gender !== 'MALE'
            },
            set (val) {
                this.newUser.gender = val ? 'FEMALE' : 'MALE'
            }
        }
    },
    methods: {
        email,
        required,
        getCityName (city) {
            console.log('getCityName', city && city.name)
            if (city && city.name && city.country) {
                return `${city && city.name}, ${city.country && Object(this.getCountryByCode(city.country)).name}`
            }
            return city && city.name
        },
        onCitySearch (val, update, abort) {
            console.log('onCitySearch', val)
            let query = val ? `?q=${encodeURIComponent(val)}&country=${this.newUser.country && this.newUser.country.value}` : ''
            API(this, {
                url: `/cities${query}`,
                method: 'get'
            }).then(resp => {
                console.log('onCitySearch response', resp)
                update(() => {
                    if (resp.data && resp.data.cities && resp.data.cities.length > 0) {
                        if (this.newUser.country && this.newUser.country.value) {
                            this.foundCities = resp.data.cities.filter(a => a && a.country && a.country === this.newUser.country.value).map(a => ({ ...(a || {}), label: a.name, value: a.id }))
                        } else {
                            this.foundCities = resp.data.cities.map(a => ({ ...(a || {}), label: a.name, value: a.id }))
                        }
                    }
                })
            }).catch(err => {
                console.log('onCitySearch error', err)
            })
        },
        createNewCity (val, done) {
            console.log('createNewCity', val)
            if (!(this.newUser.country && this.newUser.country.value)) {
                done({
                    name: this.toTitle(val),
                    country: (this.newUser.country && this.newUser.country.value)
                }, 'add-unique')
                return
            }
            API(this, {
                url: `/cities`,
                method: 'post',
                data: { name: this.toTitle(val), country: (this.newUser.country && this.newUser.country.value) }
            }).then(resp => {
                console.log('createNewCity response', resp)
                if (resp && resp.data && resp.data.id) {
                    done(resp.data, 'add-unique')
                }
            }).catch(err => {
                console.log('createNewCity error', err)
            })
        },
        toTitle (val) {
            if (val && val.length > 0) {
                return val.charAt(0).toUpperCase() + val.substring(1)
            }
            return val
        },
        abortCitySearch () {},
        dateOfBirthLimitations (date) {
            let d = new Date()
            this.before18Years = `${d.getFullYear() - 18}/${String(d.getMonth() + 1).padStart(2, '0')}/${String(d.getDate()).padStart(2, '0')}`
            return date <= this.before18Years
        },
        userTypeChanged (userType) {
            console.log('userTypeChanged', {
                current: parseInt(this.newUser.permissions),
                default: parseInt(userType.default_permissions),
                is_greater: (parseInt(this.newUser.permissions) > parseInt(userType.default_permissions))
            })
            console.log('userType', JSON.stringify(userType))
            if (!(userType && userType.default_permissions)) {
                return
            }
            if (parseInt(this.newUser.permissions) > parseInt(userType.default_permissions)) {
                console.log('changing permissions', { from: this.newUser.permissions, to: userType.default_permissions })
                this.newUser.permissions = userType.default_permissions
            }
        },
        onSubmit (e) {
            console.log('onSubmit', e)
            let data = JSON.parse(JSON.stringify(this.newUser))
            Object.keys(data).forEach(key => {
                if (data[key] && data[key].value) {
                    data[key] = data[key].value
                }
            })
            data.date_of_birth = data.date_of_birth.replace('/', '-')
            API(this, {
                url: '/register-user',
                method: 'post',
                data
            }).then(resp => {
                console.log('Register user response', resp)
                this.getUsers()
                this.tab = 'users'
            }).catch(err => {
                console.log('Register user error', err)
                EventBus.$emit('handleAPIError', err)
            })
        },
        onReset (e) {
            console.log('onReset', e)
        },
        phoneNumberChanged (number, isValid, country) {
            // console.log('phoneNumberChanged', { number, isValid, country: JSON.stringify(isValid && isValid.country) })
            this.phoneNumberValid = isValid && isValid.valid
            if (isValid && isValid.valid && isValid.number && isValid.number.e164) {
                this.newUser.phone = isValid.number.e164
                if (this.newUser.country_of_birth === '' && isValid && isValid.country && isValid.country.iso2) {
                    this.newUser.country_of_birth = isValid.country.iso2
                }
            }
        },
        resetFilters (e) {
            console.log('resetFilters', e)
        },
        getConstant (name, dataKey) {
            if (!name) {
                return
            }
            name = name.toUpperCase()
            API(this, {
                'url': `/constants/${name}`
            }).then(resp => {
                if (resp.data && resp.data[name]) {
                    this[dataKey || name] = resp.data[name]
                    setLocalStorage(`constant-${dataKey}-${name}`, JSON.stringify(resp.data[name]))
                }
            }).catch(err => {
                if (err.toString().indexOf('Network') > -1) {
                    let data = getLocalStorage(`constant-${dataKey}-${name}`)
                    if (data) {
                        data = JSON.parse(data)
                        this[dataKey || name] = data
                    }
                }
            })
        },
        editUser (user) {
            console.log('editUser', user)
            this.selectedUser = user
        },
        updateList (newItem) {
            console.log('updateList', newItem)
            let userId = parseInt((newItem && newItem.user && newItem.user.id) || '0')
            console.log('updateList', { userId })
            clearInterval(this.updateListTimeout)
            this.loading = true
            this.updateListTimeout = setTimeout(() => {
                if (userId) {
                    this.getUsers()
                }
            }, 3000)
        },
        getUsers (url = null) {
            this.loading = true
            API(this, {
                url: url || '/users',
                method: 'get',
                loading: 'show'
            }).then(resp => {
                this.loading = false
                console.log('users response', resp.data && resp.data.results)
                this.filteredUsers.results.length = 0
                this.filteredUsers = resp.data
                this.usersList = this.filteredUsers.results || []
                this.$forceUpdate()
            }).catch(err => {
                this.loading = false
                console.log('users error', err)
            })
        },
        nextUsers () {
            if (this.filteredUsers && this.filteredUsers.next) {
                this.getUsers(this.filteredUsers.next)
            }
        },
        previousUsers () {
            if (this.filteredUsers && this.filteredUsers.previous) {
                this.getUsers(this.filteredUsers.previous)
            }
        },
        onSearch () {
            console.log('onSearch', this.search)
            this.loading = true
            let query = '?'
            if (this.search) {
                query += `q=${this.search}`
            }
            if (this.filter.type && this.filter.type.value) {
                query += (query.length > 1) ? `&user_type=` : 'user_type='
                query += this.filter.type.value
            }
            API(this, {
                url: `/users${query}`,
                method: 'get'
            }).then(resp => {
                this.loading = false
                console.log('users response', resp.data && resp.data.results)
                this.filteredUsers.results.length = 0
                this.filteredUsers = resp.data
                this.usersList = this.filteredUsers.results || []
                this.$forceUpdate()
            }).catch(err => {
                this.loading = false
                console.log('users error', err)
            })
        }
    },
    mounted () {
        // this.filteredUsers = this.filterUsers()
        this.getUsers()
        this.getConstant('USER_TYPES', 'userTypes')
        this.getConstant('PARTNER_COUNTRIES', 'countries')
        this.newUser.date_of_birth = this.before18Years
    }
}
</script>
<style lang="scss">
.vue-tel-input--input {
    padding-top: 10px;
}
</style>
