<template>
  <q-page padding>
    <q-form
      id="update-shop-form"
      autocomplete="off"
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <div class="fit row wrap justify-center items-end content-end" style="min-height: 30vh;">
        <div class="col-xs-12 col-sm-12 q-pa-xs">
          <h6 class="q-ma-md">
            <q-icon name="shopping_cart"></q-icon>
            {{$t('Vendorping Cart')}}
          </h6>
        </div>
        <div class="col-xs-12 col-sm-12 q-pa-xs">
          <ProductList v-if="cartItems && cartItems.length > 0" :items="cartItems" :errMsg="cartItemsError" :showQuantity="true" @quantity-updated="quantityUpdated" />
          <BannerMessage class="q-mb-lg" v-else type="info" msg="" :action="emptyWarningAction" :loading="loading">
            No items added to your <strong>Vendorping cart</strong>
          </BannerMessage>
        </div>
        <div class="col-xs-6 col-sm-6 q-pa-xs">
          <strong>Total price: {{fmtAmount(totalPrice, 'KSh')}}</strong>
        </div>
        <div class="col-xs-6 col-sm-6 q-pa-xs">
          <div class="text-right">
            <q-btn :loading="loading" type="submit" :disabled="totalPrice === 0" color="teal-10" label="Order items"></q-btn>
            <q-btn type="reset" color="negative" :disabled="totalPrice === 0" flat label="Cancel"></q-btn>
          </div>
        </div>
      </div>
    </q-form>
  </q-page>
</template>

<script>
import BannerMessage from '../components/BannerMessage.vue'
// import ItemList from '../components/ItemList.vue'
import ProductList from '../components/ProductList.vue'
import { API } from '../utils'

export default {
  name: 'PageCart',

  components: {
    // ItemList,
    BannerMessage,
    ProductList
  },

  data () {
    return {
      loading: false
    }
  },

  computed: {
    cartItems () {
      return this.$store.getters['shop/cartItems']
    },
    cartItemsError () {
      return this.$store.getters['shop/cartItemsError']
    },
    emptyWarningAction () {
      return {
        label: 'Go back',
        click: this.goBack
      }
    },
    totalPrice () {
      return this.$store.getters['shop/totalPrice']
    }
  },

  methods: {
    quantityUpdated ({ id, quantity }) {
      this.$store.commit('shop/updateCartItemQuantity', { id, quantity })
    },
    onSubmit () {
      console.log('onSubmit order')
      API(this, {
        url: '/orders',
        method: 'post',
        data: this.cartItems.map(a => ({ id: a.id, shop_id: a && a.shop && a.shop.id, order_quantity: (a.order_quantity || 1) }))
      }).then(resp => {
        console.log('New order response', resp.data.orders)
        if (resp.data && resp.data.orders && resp.data.orders.length > 0) {
          this.$q.notify({
            type: 'positive',
            color: 'positive',
            position: 'top',
            message: this.$t('Your order is being processed'),
            timeout: 5000
          })
          this.$router.push({ path: '/orders' })
          this.$store.commit('shop/setCartItems', [])
          this.$store.commit('shop/setCartItemsError', '')
        }
      }).catch(err => {
        console.log('New order error', err)
        this.$store.commit('shop/setCartItemsError', err.toString())
      })
    },
    onReset () {
      console.log('onReset')
      this.$store.commit('shop/setCartItems', [])
      this.$store.commit('shop/setCartItemsError', '')
    },
    goBack () {
      console.log('goBack', this.$router)
      return this.$router.go(-1)
    },
    fmtAmount (amount, currency) {
      amount = Number(amount).toLocaleString()
      if (currency === 'KSh' || currency === 'KES') {
        return `${amount} ${currency}`
      }
      return `${currency} ${amount}`
    }
  }
}
</script>
