<template>
  <q-page padding>
    <div class="fit row wrap justify-center items-end content-end" style="min-height: 30vh;">
      <!-- <div class="col-xs-6 col-sm-6 q-pa-xs">
        <h6 class="q-ma-md">{{$t('Search')}}</h6>
      </div> -->
      <div class="col-xs-12 col-sm-6 q-pa-xs">
        <q-input
          v-model="search"
          debounce="500"
          filled
          placeholder="Search"
          :hint="`Search for items in ${paramTitle}`"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </div>
      <div class="col-xs-12 col-sm-12 q-pa-xs q-mb-lg">
        <div class="float-right">
          <q-btn-group rounded outline>
            <q-btn :outline="!listMode" :color="listMode ? 'primary' : 'grey-10'" @click="listMode = true" icon="list" />
            <q-btn :outline="listMode" :color="listMode ? 'grey-10' : 'primary'" @click="listMode = false" icon="view_module" />
          </q-btn-group>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <ProductList :items="items" :listMode="listMode" :errMsg="productsError" />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import ProductList from '../components/ProductList.vue'

import { API } from '../utils'
export default {
  name: 'PageSearch',

  components: {
    ProductList
  },

  computed: {
    ...mapGetters(['isVendor']),
    ...mapState('shop', {
      shops: state => state.shops,
      items: state => state.items,
      productsError: state => state.productsError
    }),
    paramTitle () {
      return this.$route.params && this.$route.params.categoryName && (this.$route.params.categoryName.charAt(0).toLocaleUpperCase() + this.$route.params.categoryName.substring(1))
    },
    categoryName () {
      return this.$route.params && this.$route.params.categoryName
    }
  },

  data () {
    return {
      search: '',
      listMode: false
    }
  },

  methods: {
    getProducts () {
      API(this, {
        url: `/category-items/${this.categoryName}`,
        loading: 'show'
      }).then(resp => {
        console.log('getProducts response', resp)
        this.$store.commit('shop/setItems', (resp.data && resp.data.items) || [])
        this.$store.commit('shop/setProductsError', '')
      }).catch(err => {
        console.log('getProducts error', err)
        this.$store.commit('shop/setProductsError', err.toString())
      })
    }
  },

  mounted () {
    this.getProducts()
  }
}
</script>
