<template>
  <q-page padding>
    <div class="row wrap">
      <div class="col-xs-2 col-sm-4 col-md-3 q-pa-none q-pr-xs" ref="conversation-list">
        <q-list bordered separator dense clickable style="width: 100%;">
          <q-item
            v-for="conversation in conversations"
            :key="conversation.id"
            class="q-mb-none"
            clickable
            v-ripple
            :active="selectConversation && selectConversation.id === conversation.id"
            @click="selectConversation(conversation)">
            <q-item-section avatar class="q-ma-none">
              <q-avatar color="primary" text-color="white" size="sm">
                {{ avatarLetter(getChatTitle(selectedConversation.members)) }}
              </q-avatar>
            </q-item-section>

            <q-item-section v-if="$q.screen.gt.xs">
              <q-item-label>{{ getChatTitle(conversation.members) }}</q-item-label>
              <q-item-label caption lines="1" v-if="conversation.last_message && conversation.last_message.id">{{conversation.last_message.data}}</q-item-label>
            </q-item-section>

            <div v-if="$q.screen.gt.xs" class="absolute-top-right text-caption q-pr-xs">
              <q-icon name="access_time" />
              <small class="q-mt-xs">{{ timeSince(conversation.updated_at) }}</small>
            </div>
          </q-item>
        </q-list>
      </div>
      <div class="col-xs-10 col-sm-8 col-md-9 q-pa-xs relative-position" ref="chat-message-section" id="chat-message-section" style="border: 1px solid rgba(0,0,0,.1);">
        <q-card v-if="selectedConversation && selectedConversation.id" flat style="">
          <q-item>
            <q-item-section avatar>
              <q-avatar color="primary" text-color="white">
                {{ avatarLetter(getChatTitle(selectedConversation.members)) }}
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <div class="text-h6">{{getChatTitle(selectedConversation.members)}}</div>
            </q-item-section>
            <q-item-section side top>
              <q-item-label caption>
                <q-icon name="access_time" />
                  {{timeSince(selectedConversation.updated_at)}}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
        <q-scroll-area
          class="chat-message-scroll"
          id="chat-message-scroll"
          :delay="1200"
          :style="`height: ${msgSectionHeight}px; max-width: ${chatMsgWidth}px;box-shadow: inset 0 0 1em rgba(0,0,0,0.1);`"
        >
          <!-- <pre>{{selectedConversation}}</pre> -->
          <div v-if="selectedConversation && selectedConversation.messages" style="width: 100%;height: 100%;">
            <div class="text-caption text-center">Started {{timeSince(selectedConversation.created_at, false)}}</div>
            <q-chat-message
              name-sanitize
              text-sanitize
              v-for="msg in selectedConversation.messages" :key="msg.id"
              :ref="`chat-msg-${msg.id}`"
              :name="getMemberNameByID(msg.sender_id)"
              :stamp="timeSince(msg.created_at)"

              :sent="msg.sender_id === userID"
              :style="$q.screen.lt.xs ? 'width: 90%;' : ''"
            >
              <template v-slot:avatar>
                <q-avatar class="q-ma-xs q-mb-none" color="primary" text-color="white" size="md">
                  {{ avatarLetter(getMemberNameByID(msg.sender_id)) }}
                </q-avatar>
              </template>
              <template v-slot:default v-for="(item, index) in getMsgData(msg.text)">
                <div :key="`${msg.id}-${index}`">
                  {{item}}
                </div>
              </template>
            </q-chat-message>
          </div>
        </q-scroll-area>
        <div :class="`fixed-bottom-right q-pb-xs ${$q.screen.lt.xs ? 'q-mr-md' : 'q-mr-lg'} z-top`" ref="chat-message-input" id="chat-message-input" :style="`min-width: ${chatMsgWidth}px;`">
          <q-form @submit="sendMessage">
            <q-input outlined :debounce="1000" v-model="newMessage.text" bg-color="white" ref="chat-message-text-box">
              <template v-slot:append>
                <q-btn round dense flat :disable="!newMessage.text.trim()" type="submit" icon="send" @click="sendMessage" />
              </template>
            </q-input>
          </q-form>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
// import moment from 'moment'
import { API, EventBus, timeSince } from '../utils'

export default {
  name: 'ChatPage',

  data () {
    return {
      newMessage: {
        text: '',
        type: 'text',
        image: {
          url: '',
          description: '',
          link: ''
        }
      },
      chatMsgWidth: 500,
      msgSectionHeight: 500,
      inputOffset: {},
      msgOffset: {}
    }
  },

  computed: {
    ...mapGetters(['userID']),
    conversations () {
      return this.$store.getters['chat/conversations'].slice().sort((a, b) => a && b && a.last_seen > b.last_seen ? -1 : 1)
    },
    conversationID () {
      return this.$route.params && this.$route.params.conversationID
    },
    orderID () {
      return this.$route.query && this.$route.query.order
    },
    selectedConversation () {
      return this.$store.getters['chat/selectedConversation']
    }
  },

  watch: {
    conversationID () {
      this.newMessage.conversation_id = this.conversationID
    },
    conversations (list) {
      if (!(this.selectedConversation && this.selectedConversation.id && this.selectedConversation.id.length !== 24) && list && list.length > 0) {
        this.selectConversation(list[0])
      }
    }
  },

  methods: {
    getMsgData (data) {
      if (typeof data === 'string') {
        return [data]
      }
      if (data && typeof data === 'object' && data.constructor && data.constructor.name === 'object') {
        return [data]
      }
      return data
    },
    getChatTitle (members) {
      return members.filter(m => m && m.id !== this.userID).map(a => a && a.full_name).join(', ')
    },
    selectConversation (conversation) {
      if (!conversation || (this.selectedConversation && this.selectedConversation.id === conversation.id)) {
        console.warn('already selected chat')
        return
      }
      this.$store.commit('chat/selectedConversation', conversation)
      this.$router.push({ path: `/chat/${conversation.id}`, query: this.$route.query })
      this.getMessages(conversation.id)
    },
    getMemberNameByID (id) {
      const item = this.selectedConversation && this.selectedConversation.members && this.selectedConversation.members.filter(a => a && a.id === id)
      if (item && item.length > 0) {
        return item[0].full_name
      }
      return ''
    },
    sendMessage () {
      console.log('sendMessage')
      if (this.newMessage && this.newMessage.text.trim() === '') {
        return
      }
      EventBus.$emit('sendMessage', this.newMessage)
      // add message to the list
      const conversation = this.clone(this.selectedConversation)
      const now = new Date().toISOString()
      const msg = {
        id: this.newMessage.unique_id,
        unique_id: this.newMessage.unique_id,
        text: this.newMessage.text,
        type: 'text',
        image: {
          url: '',
          description: '',
          link: ''
        },
        conversation_id: this.conversationID,
        sender_id: this.userID,
        html: false,
        sent: false,
        created_at: now,
        updated_at: now
      }
      const lastMsg = (conversation.messages && conversation.messages.length > 0 && conversation.messages[conversation.messages.length - 1]) || null
      if (lastMsg === null) {
        conversation.messages.push(msg)
      } else if (lastMsg.sender_id === msg.sender_id) {
        if (typeof lastMsg.text === 'object' && lastMsg.text.constructor && lastMsg.text.constructor.name === 'Array') {
          lastMsg.text.push(msg.text)
        } else {
          lastMsg.text = [lastMsg.text, msg.text]
        }
        lastMsg.created_at = msg.created_at
        lastMsg.updated_at = msg.updated_at
        conversation.messages[conversation.messages.length - 1] = lastMsg
      } else {
        conversation.messages.push(msg)
      }
      conversation.last_message = msg
      this.$store.commit('chat/selectedConversation', conversation)

      this.newMessage = {
        text: '',
        unique_id: this.generateUUID(),
        conversation_id: this.conversationID
      }
      this.$refs['chat-message-text-box'].focus()
      setTimeout(() => {
        this.scrollToBottom()
      }, 500)

      this.$forceUpdate()
    },
    generateUUID () { // Public Domain/MIT
      var d = new Date().getTime() // Timestamp
      var d2 = (performance && performance.now && (performance.now() * 1000)) || 0 // Time in microseconds since page-load or 0 if unsupported
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = Math.random() * 16 // random number between 0 and 16
        if (d > 0) { // Use timestamp until depleted
          r = (d + r) % 16 | 0
          d = Math.floor(d / 16)
        } else { // Use microseconds since page-load if supported
          r = (d2 + r) % 16 | 0
          d2 = Math.floor(d2 / 16)
        }
        return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16)
      })
    },
    timeSince: timeSince,
    avatarLetter (fullName) {
      if (fullName && fullName.length > 0) {
        const parts = fullName.split(' ')
        return parts.length > 1 ? parts[0].charAt(0) + parts[1].charAt(0) : (parts && parts[0].charAt(0)) || 'UN'
      }

      return 'UN'
    },
    getConversation () {
      if (this.conversationID && this.conversationID.length === 24) {
        API(this, {
          url: `/conversations/${this.conversationID}`
        }).then(resp => {
          if (resp && resp.data && 'conversation' in resp.data) {
            let conversation = resp.data.conversation
            conversation = {
              ...conversation,
              me: conversation.members && conversation.members.filter(m => m && m.id === this.userID)[0],
              messages: []
            }
            this.selectConversation(conversation)
          }
        }).catch(err => {
          this.$q.notify({
            type: 'negative',
            color: 'negative',
            position: 'top',
            message: this.$t(`Finding chat failed: ${err.toString()}`),
            timeout: 4000
          })
        })
      }
    },
    getConversations () {
      API(this, {
        url: '/conversations'
      }).then(resp => {
        if (resp.data && 'conversations' in resp.data) {
          this.$store.commit('chat/setConversations', resp.data.conversations.map(a => a && ({ ...a, me: a.members && a.members.filter(m => m && m.id === this.userID)[0], messages: [] })))
        }
      }).catch(err => {
        console.log('getConversations failed', err)
      })
    },
    clone (obj) {
      if (typeof obj === 'object') {
        return JSON.parse(JSON.stringify(obj))
      }
      return obj
    },
    getMessages (conversationID) {
      API(this, {
        url: `/conversations/${conversationID}/messages`
      }).then(resp => {
        const conversation = {
          ...this.clone(this.selectedConversation),
          messages: (resp.data && resp.data.messages) || []
        }
        // this.selectConversation(conversation)
        this.$store.commit('chat/selectedConversation', conversation)
        const conversations = this.clone(this.conversations).map(a => a && a.id === conversation.id ? conversation : a)
        this.$store.commit('chat/setConversations', conversations)
      }).catch(err => {
        console.log('[getMessages] failed:', err)
      })
    },
    updateUI () {
      const input = this.$refs['chat-message-input']
      const msgSection = this.$refs['chat-message-section']
      const conversationList = this.$refs['conversation-list']
      console.log('resized:', input.clientWidth)
      this.chatMsgWidth = (this.$q.screen.gt.xs ? msgSection.clientWidth - 13 : msgSection.clientWidth + conversationList.clientWidth) || 500
      this.inputOffset = input.getBoundingClientRect()
      this.msgOffset = msgSection.getBoundingClientRect()
      this.msgSectionHeight = this.inputOffset.y - this.msgOffset.y - (this.$q.screen.gt.xs ? this.inputOffset.height * 1.2 : this.inputOffset.height * 1.6)
    },
    scrollToBottom () {
      const msgScrollSection = document.querySelector('#chat-message-scroll > div.scroll')
      if (msgScrollSection && 'scrollTop' in msgScrollSection) {
        msgScrollSection.scrollTop = msgScrollSection.scrollHeight
      }
    }
  },

  beforeMount () {
    window.addEventListener('resize', this.updateUI)
    EventBus.$on('newChatMessageReceived', (msg) => {
      if (this.conversationID && msg && msg.id && this.conversationID === msg.id) {
        setTimeout(() => {
          this.scrollToBottom()
        }, 3000)
      }
    })
  },

  mounted () {
    this.getConversation()
    this.getConversations()
    this.updateUI()
    setTimeout(() => {
      console.warn('scrolling now')
      this.newMessage.unique_id = this.generateUUID()
      this.newMessage.conversation_id = this.conversationID
      this.scrollToBottom()
    }, 500)
  }
}
</script>
<style scoped>
.chat-message-scroll .q-message-text:last-child {
  min-width: 25em;
}
</style>
