<template>
  <q-page padding>
    <div :class="`fit row wrap justify-center items-end content-end ${isVendor ? 'text-black' : 'text-teal-10'}`" style="min-height: 30vh;">
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <h6 class="q-ma-md">
          <q-icon name="shopping_basket" />
          {{$t('Customer orders')}}
        </h6>
      </div>
      <BannerMessage v-if="shopsError" class="q-ma-lg full-width" type="error" msg="" :action="emptyWarningAction" :loading="loading">
        {{ shopsError }}
      </BannerMessage>
      <div class="col-xs-12 col-sm-12 q-pa-xs" v-for="shop in shops" :key="shop.id">
        <q-card
          bordered
          flat
          :dense="$q.screen.lt.md"
          :class="`q-ma-xs ${isVendor ? 'text-black' : 'text-teal-10'}`"
          v-for="order in applyFilters(shop.orders)"
          :key="order.id">
          <q-card-section class="q-pa-xs q-pl-md q-pr-md">
            <div class="text-caption float-right">{{shop.name}}</div>

            <div class="text-h6">
              <q-icon name="person" color="grey-9" />
              {{getFullName(order.customer)}}
            </div>
          </q-card-section>

          <q-card-section>
            <q-item-label overline>
              <q-btn flat class="float-right" color="primary" icon="phone" size="md" :href="`tel:+${getPhone(order.customer)}`" :label="`+${getPhone(order.customer)}`" target="_blank" />
              <div class="text-subtitle1 text-grey-7">
                <q-chip class="text-capitalize" dense outline square :color="orderStatuses[order.status].color || 'primary'" :text-color="orderStatuses[order.status].textColor || 'white'" :icon="orderStatuses[order.status].icon" :size="$q.screen.lt.md ? 'md' : 'md'">
                  {{order.status}}
                </q-chip>
              </div>
            </q-item-label>
            <q-markup-table flat :dense="$q.screen.lt.md" class="q-mt-md">
              <thead>
                <tr>
                  <th class="text-left">Item</th>
                  <th class="text-right">Quantity</th>
                  <th class="text-right">Unit price</th>
                  <th class="text-right">Total price</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in order.items" :key="item.id">
                  <td class="text-left auto-width">{{item.name}}</td>
                  <td class="text-right auto-width">{{item.order_quantity}}</td>
                  <td class="text-right auto-width">{{item.price}}</td>
                  <td class="text-right auto-width">{{item.order_quantity * item.price}}</td>
                </tr>
                <tr>
                  <td class="text-left" colspan="3">
                    <!-- <q-btn-group rounded outline stretch> -->
                      <q-btn class="q-ma-xs" round :disabled="order.status !== 'processing' && order.status !== 'pending' && order.status !== 'rejected'" :size="$q.screen.lt.md ? 'xs' : 'sm'" color="teal" icon="hourglass_empty"  @click="confirmAction(order, 'processing')">
                        <q-tooltip>
                          Processing
                        </q-tooltip>
                      </q-btn>
                      <q-btn class="q-ma-xs" round :disabled="order.status !== 'pending' && order.status !== 'rejected'" :size="$q.screen.lt.md ? 'xs' : 'sm'" color="teal" icon="check_circle_outline"  @click="confirmAction(order, 'verify')">
                        <q-tooltip>
                          Verified
                        </q-tooltip>
                      </q-btn>
                      <q-btn :disabled="order.status === 'rejected'" class="q-ma-xs" round :size="$q.screen.lt.md ? 'xs' : 'sm'" color="negative" icon="clear" @click="confirmAction(order, 'reject')">
                        <q-tooltip>
                          Reject
                        </q-tooltip>
                      </q-btn>
                      <q-btn class="q-ma-xs" round :disabled="false" :size="$q.screen.lt.md ? 'xs' : 'sm'" color="teal" icon="message"  @click="confirmAction(order, 'chat')">
                        <q-tooltip>
                          Chat with customer
                        </q-tooltip>
                      </q-btn>
                      <!-- <q-btn class="q-ma-xs" round :disabled="order.status === 'delivering'" :size="$q.screen.lt.md ? 'xs' : 'sm'" color="positive" icon="share"  @click="confirmAction(order, 'delivering')">
                        <q-tooltip>
                          Share with deliver agent
                        </q-tooltip>
                      </q-btn> -->
                      <q-btn-dropdown
                        class="q-ma-xs" round dense :disabled="order.status === 'delivering'" size="sm" color="positive" icon="share"
                      >
                        <q-list>
                          <q-item clickable v-close-popup v-for="service in shareServices" :key="service.name" @click="confirmShareOrder(order, service)">
                            <q-item-section avatar class="q-pa-xs q-ma-none">
                              <q-avatar :icon="service.icon" color="primary" text-color="white" size="lg" />
                            </q-item-section>
                            <q-item-section>
                              <q-item-label>{{service.name}}</q-item-label>
                              <q-item-label caption>{{service.description}}</q-item-label>
                            </q-item-section>
                          </q-item>
                        </q-list>
                      </q-btn-dropdown>
                    <!-- </q-btn-group> -->
                  </td>
                  <td class="text-right">
                    <strong>Total: {{orderTotalPrice(order)}}</strong>
                  </td>
                </tr>
              </tbody>
            </q-markup-table>
          </q-card-section>
        </q-card>
        <q-card
          bordered
          flat
          :dense="$q.screen.lt.md"
          :class="`q-ma-xs ${isVendor ? 'text-black' : 'text-teal-10'}`">
          <q-card-section v-if="!(shop && shop.orders && shop.orders.length > 0)">
            <BannerMessage class="q-mb-lg" type="info" msg="" :action="emptyWarningAction" :loading="loading">
              No items found in <strong>{{shop.name}}</strong>
            </BannerMessage>
          </q-card-section>
          <q-card-section v-else-if="filterStatus && applyFilters(shop.orders).length === 0">
            <BannerMessage class="q-mb-lg" type="info" msg="" :action="emptyWarningAction" :loading="loading">
              No items with status <strong>{{filterStatus}}</strong> found in <strong>{{shop.name}}</strong>
            </BannerMessage>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import BannerMessage from '../components/BannerMessage.vue'
import { API, getLocalStorage, timeSince } from '../utils'
export default {
  name: 'PageCustomerOrders',

  components: {
    BannerMessage
  },

  data () {
    return {
      // shops: [],
      orders: [],
      loading: false,
      orderStatuses: {
        pending: {
          icon: 'access_time',
          color: 'orange',
          textColor: 'black'
        },
        verified: {
          icon: 'check',
          color: 'teal'
        },
        processing: {
          icon: 'hourglass_empty',
          color: 'orange',
          textColor: 'black'
        },
        delivering: {
          icon: 'departure_board',
          color: 'lime-9',
          textColor: 'black'
        },
        delivered: {
          icon: 'departure_board',
          color: 'lime-9',
          textColor: 'black'
        },
        received: {
          icon: 'check_box',
          color: 'orange'
        },
        cancelled: {
          icon: 'cancel',
          color: 'negative'
        },
        rejected: {
          icon: 'clear',
          color: 'red'
        }
      },
      statusNames: [
        'cancelled',
        'pending',
        'verified',
        'processing',
        'delivering',
        'received',
        'rejected'
      ],
      shareServices: [
        {
          name: 'WhatsApp',
          icon: 'fab fa-whatsapp',
          description: 'Share on WhatsApp'
        } // ,
        // {
        //   name: 'SMS',
        //   icon: 'sms',
        //   description: 'Is NOT FREE'
        // }
      ]
    }
  },

  computed: {
    ...mapGetters(['isVendor']),
    emptyWarningAction () {
      return {
        label: 'Go back',
        click: this.goBack
      }
    },
    shops: {
      get () {
        return this.$store.getters['shop/myShops']
      },
      set (val) {
        this.$store.commit('shop/setMyShops', val)
      }
    },
    shopsError () {
      return this.$store.getters['shop/shopsError']
    },
    filterStatus () {
      return this.$route.query && this.$route.query.status
    }
  },

  methods: {
    timeSince: timeSince,
    confirmShareOrder (order, service) {
      if (!service || !(service && service.name)) {
        console.error('invalid service provider for sharing')
        return
      }
      let msg = `Are you sure want to share this order through ${service.name}?`
      const title = 'Share'
      switch (service.name) {
        case 'WhatsApp':
          msg = `Are you sure you want to share this customer's address through ${service.name}?`
          break

        case 'SMS':
          msg = `Are you sure you want to share customer address through ${service.name}?<br><span class="text-negative">Warning: This service will charge your airtime</span>`
          break

        default:
          break
      }
      this.$q.dialog({
        title: title,
        message: msg || 'Would you like to proceed?',
        cancel: true,
        persistent: true,
        html: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        const url = this.getDirectionsToCustomerURL(order)
        if (url) {
          this.createShortURL(url).then(resp => {
            console.log('Shortened URL', resp)
            if (resp && resp.data && resp.data.short_url) {
              const msg = `Hi please deliver, "${order.items.map(a => a.name).join(', ')}" to the following address ${resp.data.short_url}`
              if (service.name === 'WhatsApp') {
                window.open(`https://wa.me/?text=${encodeURIComponent(msg)}`, '_blank')
              } else if (service.name === 'SMS') {
                // for iOS: sms://open?addresses=+15558675309,+15558675301/&body=Text%20Here%20end
                window.open(`sms:+2547416208?body=${encodeURIComponent(msg)}`, '_blank')
              }
            }
          }).catch(err => {
            console.log('Shorten URL failed', err)
          })
        }
      }).onOk(() => {
        console.log('>>>> second OK catcher')
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    sendShareMsg (msg, url) {
      console.log('sendShareMsg', { msg, url })
    },
    getDirectionsToCustomerURL (order) {
      if (order && order.customer && order.customer.address && 'lat' in order.customer.address && 'lng' in order.customer.address) {
        const ccd = JSON.parse(getLocalStorage('lastCoords'))
        return `https://www.google.com/maps/dir/?api=1&origin=${[ccd.lat, ccd.lng].join(',')}&destination=${[order.customer.address.lat, order.customer.address.lng].join(',')}&travelmode=driving`
      }
      return null
    },
    createShortURL (url) {
      return new Promise((resolve, reject) => {
        if (url && url.length > 0 && url.indexOf('http') === 0) {
          API(this, {
            url: '/short-url',
            data: { url },
            method: 'post'
          }).then(resp => {
            console.log('createShortURL reponse', resp)
            resolve(resp)
          }).catch(err => {
            console.log('createShortURL error', err)
            reject(err)
          })
        } else {
          reject(new Error('Invalid URL to Shorten'))
        }
      })
    },
    applyFilters (orders) {
      if (this.filterStatus) {
        return orders.filter(order => order && order.status === this.filterStatus)
      }
      return orders || []
    },
    getFullName (user) {
      if (!(user && user.id && user.profile)) {
        return ''
      }
      return [user.profile.first_name, user.profile.last_name].join(' ')
    },
    getPhone (user) {
      if (!(user && user.id && user.phone)) {
        return ''
      }
      return user.phone
    },
    confirmAction (order, actionName) {
      const orderID = order && order.id
      console.log('confirmAction', orderID)
      let msg = 'Would you like to proceed?'
      switch (actionName) {
        case 'reject':
          msg = 'Would you like to reject this order?'
          break
        case 'verify':
          msg = 'Would you like to verify this order?'
          break
        case 'delivering':
          msg = 'Would you like to mark this order as delivering?'
          break
        case 'chat':
          msg = `Would you like to speak with ${this.getFullName(order.customer)}?`
          break

        default:
          break
      }
      this.$q.dialog({
        title: 'Confirm',
        message: msg || 'Would you like to proceed?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        if (actionName !== 'chat') {
          this.updateOrderStatus(orderID, actionName)
        } else {
          this.getConversation(order.customer.profile.id, orderID)
          // this.$router.push({ path: '/chat', query: { order: orderID, customer: order.customer.id } })
        }
      }).onOk(() => {
        console.log('>>>> second OK catcher')
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    getConversation (customerID, orderID) {
      if (!customerID || (customerID && customerID.length !== 24)) {
        console.error('[getConversation] invalid customer ID')
        return
      }

      API(this, {
        url: `/chat-with/${customerID}`
      }).then(resp => {
        if (resp && resp.data && resp.data.conversation && resp.data.conversation.id) {
          this.$router.push({ path: `/chat/${resp.data.conversation.id}`, query: { order: orderID } })
        } else {
          this.$q.notify({
            type: 'negative',
            color: 'negative',
            position: 'top',
            message: this.$t('Initiating chat connection failed'),
            timeout: 4000
          })
        }
      }).catch(err => {
        this.$q.notify({
          type: 'negative',
          color: 'negative',
          position: 'top',
          message: this.$t(`Error initiating chat: ${err.toString()}`),
          timeout: 4000
        })
      })
    },
    updateOrderStatus (orderID, action) {
      API(this, {
        url: `/customer-orders/${orderID}/${action}`,
        method: 'put',
        loading: 'show'
      }).then(resp => {
        console.log('updateOrderStatus response', resp)
        this.getMyVendors()
      }).catch(err => {
        console.log('updateOrderStatus error', err)
      })
    },
    orderTotalPrice (order, currency) {
      var total = 0
      if (!order) {
        return this.fmtAmount(total, currency)
      }
      if (!order.items) {
        return this.fmtAmount(total, currency)
      }
      order.items.forEach(item => {
        total += parseFloat(item.price) * parseInt(item.order_quantity)
      })
      return this.fmtAmount(total, currency) // `${total} ${currency}`
    },
    orderItemsCount (order, unit = ['item', 'items']) {
      var total = 0
      if (unit && unit.length !== 2) {
        unit = ['item', 'items']
      }
      if (!order) {
        return `${total} ${total === 1 ? unit[0] : unit[1]}`
      }
      if (!order.items) {
        return `${total} ${total === 1 ? unit[0] : unit[1]}`
      }
      order.items.forEach(item => {
        total += item.order_quantity
      })
      return `${total} ${total === 1 ? unit[0] : unit[1]}`
    },
    fmtAmount (amount, currency = 'KSh') {
      amount = Number(amount).toLocaleString()
      if (currency === 'KSh' || currency === 'KES') {
        return `${amount} ${currency}`
      }
      return `${currency} ${amount}`
    },
    canCancelOrder (order) {
      console.log('canCancelOrder', order)
      if (order.status === 'cancelled') {
        return false
      }
      if (this.statusNames.indexOf(order.status) > 1) {
        return false
      }
      return true
    },
    cancelDisabled (order) {
      return order.status === 'cancelled' || this.statusNames.indexOf(order.status) > 1
    },
    getOrderStatusTextColor (status) {
      if (this.orderStatuses[status] && this.orderStatuses[status].textColor) {
        return this.orderStatuses[status].textColor
      }
      return 'white'
    },
    getOrderStatusColor (status) {
      if (this.orderStatuses[status] && this.orderStatuses[status].color) {
        return this.orderStatuses[status].color
      }
      return 'primary'
    },
    getOrderStatusIcon (status) {
      if (this.orderStatuses[status] && this.orderStatuses[status].icon) {
        return this.orderStatuses[status].icon
      }
      return 'radio_button_unchecked'
    },
    getMyVendors () {
      API(this, {
        url: '/my-shops',
        loading: 'show'
      }).then(resp => {
        this.shops = (resp.data && resp.data.shops && resp.data.shops.map(a => ({ ...a, orders: [] }))) || []
        this.shops.forEach(shop => shop && shop.id && this.getCustomerOrders(shop.id))
        this.$store.commit('shop/shopsError', '')
        this.$forceUpdate()
      }).catch(err => {
        console.error('getMyVendors error: ' + err)
        this.$store.commit('shop/shopsError', err.toString())
      })
    },
    getCustomerOrders (shopID) {
      API(this, {
        url: `/my-shops/${shopID}/orders`,
        loading: 'show'
      }).then(resp => {
        this.updateVendorOrders(shopID, resp.data && resp.data.orders)
      }).catch(err => {
        this.loading = false
        console.error('getMyProducts error: ' + err)
      })
    },
    updateVendorOrders (shopID, orders) {
      const shops = JSON.parse(JSON.stringify(this.shops))
      for (var i = 0; i < shops.length; i++) {
        if (shopID && shops[i] && shops[i].id === shopID) {
          shops[i].orders = orders || []
        }
      }
      this.shops = shops
    },
    cancelOrder (orderID) {
      console.log('cancelOrder', orderID)
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to cancel your order?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/cancel`,
          method: 'put',
          loading: 'show'
        }).then(resp => {
          console.log('cancelOrder response', resp)
          this.getMyVendors()
        }).catch(err => {
          console.log('cancelOrder error', err)
        })
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/cancel`,
          method: 'put',
          loading: 'show'
        }).then(resp => {
          console.log('cancelOrder response', resp)
          this.getMyVendors()
        }).catch(err => {
          console.log('cancelOrder error', err)
        })
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    undoCancelOrder (orderID) {
      console.log('undoCancelOrder', orderID)
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to reverse cancellation of your order?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/undo-cancel`,
          method: 'put',
          loading: 'show'
        }).then(resp => {
          console.log('undoCancelOrder response', resp)
          this.getMyVendors()
        }).catch(err => {
          console.log('undoCancelOrder error', err)
        })
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/undo-cancel`,
          method: 'put',
          loading: 'show'
        }).then(resp => {
          console.log('undoCancelOrder response', resp)
          this.getMyVendors()
        }).catch(err => {
          console.log('undoCancelOrder error', err)
        })
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    removeOrderItem (orderID, itemIDs = null, itemNames = null) {
      console.log('undoCancelOrder', orderID)
      if (!itemIDs) {
        console.error('removeOrderItem invalid itemIDs')
        return
      }
      const names = itemNames && itemNames.length > 0 ? `item${itemNames.length > 1 ? 's' : ''} "${itemNames.join(',')}"` : `${itemIDs.length} items`
      const query = `items=${itemIDs.join(',')}`
      this.$q.dialog({
        title: 'Confirm',
        message: `Would you like to remove ${names} from your order?`,
        cancel: true,
        persistent: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/items?${query}`,
          method: 'delete',
          loading: 'show'
        }).then(resp => {
          console.log('undoCancelOrder response', resp)
          this.getMyVendors()
        }).catch(err => {
          if (err.toString().indexOf('not found') > -1) {
            this.getMyVendors()
          }
          console.log('undoCancelOrder error', err)
        })
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/items?${query}`,
          method: 'delete',
          loading: 'show'
        }).then(resp => {
          console.log('undoCancelOrder response', resp)
          this.getMyVendors()
        }).catch(err => {
          if (err.toString().indexOf('not found') > -1) {
            this.getMyVendors()
          }
          console.log('undoCancelOrder error', err)
        })
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    goBack () {
      return this.$router && this.$router.back
    }
  },

  mounted () {
    this.getMyVendors()
  }
}
</script>
