<template>
  <q-page class="flex flex-center">
    <div class="fit row wrap justify-center items-end content-end" style="min-height: 30vh;">
      <template v-if="!isAuthenticated">
        <div class="col-4 col-xs-4 col-sm-3 col-md-2 q-pa-sm" v-for="item in parentCategories" :key="item.title">
          <q-card class="cursor-pointer" style="" @click="goTo(toURL(item.name))">
            <q-img
              :src="item.image_url"
              basic
            >
              <div class="absolute-bottom text-h6 text-center">
                {{item.name}}
              </div>
              <template v-slot:loading>
                <div class="text-yellow">
                  <q-spinner-ios />
                  <div class="q-mt-md">Loading...</div>
                </div>
              </template>
            </q-img>
          </q-card>
        </div>
      </template>

      <div class="col-12 col-xs-12">
        <div v-if="!isAuthenticated" class="text-teal-10 text-center">
          <div class="text-h4 q-pa-sm">
            Welcome to iWeydi Online Shopping
          </div>
          <div class="text-body1 q-pa-sm">
            iWeydi helps local business get access to online platform for their local customers
          </div>
          <div class="text-body1 q-pa-sm">
            iWeydi also helps customers get access to cheaper local products and services
          </div>
          <div class="text-body1 q-pa-sm text-center">
            <q-btn outline to="/accounts/login">Login here</q-btn>
          </div>
          <div class="text-body1 q-pa-sm text-center">
            And if you are new here
          </div>
          <div class="text-body1 q-pa-sm text-center">
            <q-btn outline to="/accounts/signup">Register here</q-btn>
          </div>
        </div>
        <CustomerHome v-else-if="!isVendor" />
        <VendorHome v-else />
      </div>
    </div>

  </q-page>
</template>

<script>
// import styles from '../data/dark-map-style.json'

import { mapGetters } from 'vuex'
import CustomerHome from '../components/CustomerHome.vue'
import VendorHome from '../components/VendorHome.vue'
import { getLocalStorage } from '../utils'

export default {
  name: 'PageIndex',

  components: {
    CustomerHome,
    VendorHome
  },

  data () {
    return {
    }
  },

  computed: {
    ...mapGetters(['isVendor', 'isAuthenticated']),
    vendor () {
      return getLocalStorage('is_vendor')
    },
    parentCategories () {
      return this.$store.getters['app/categories'] && this.$store.getters['app/categories'].length > 0 && this.$store.getters['app/categories'].filter(a => a && !a.parent)
    }
  },

  methods: {
    goTo (path) {
      if (this.$store.getters.isAuthenticated) {
        this.$router.push(path)
      } else {
        this.$router.push({ path: '/accounts/login', query: { next: path } })
      }
    },
    toURL (name) {
      if (typeof name === 'string') {
        return '/category/' + name.toLocaleLowerCase().split(' ').join('-')
      }
      return '/'
    }
  }

}
</script>
