<template>
  <q-page padding>
    <q-card bordered :class="`q-ma-xs ${isVendor ? 'text-black' : 'text-teal-10'}`" v-for="shop in shops" :key="shop.id">
      <q-card-section>
        <div class="text-h6">{{shop.name}}</div>
        <!-- <pre>{{shop.products}}</pre> -->
      </q-card-section>

      <q-card-section>
        <item-list class="q-mb-lg" v-if="shop.products && shop.products.length > 0" :items="shop.products" :errMsg="productsError" @selected="editProduct" @reset="resetProductForm"/>
        <BannerMessage class="q-mb-lg" v-else type="info" msg="" :action="emptyWarningAction" :loading="loading">
          No items found in <strong>{{shop.name}}</strong>
        </BannerMessage>
      </q-card-section>

      <q-card-section v-if="showForms.indexOf(shop.id) > -1">
        <div class="text-h6">{{isEdit ? (selectedProduct && selectedProduct.id && selectedProduct.name) || 'Edit product' : 'New product'}}</div>
        <ProductForm
          class="q-mb-lg"
          :is-edit="isEdit"
          :shop="shop"
          :selected-product="selectedProduct"
          @reset="toggleShowForm(shop.id, $event)"
          @updated="getMyVendors"
          />
      </q-card-section>

      <q-card-section>
        <div class="absolute-bottom-right z-top q-pa-md">
          <q-btn round :color="showForms.indexOf(shop.id) > -1 ? 'negative' : 'primary'" :icon="showForms.indexOf(shop.id) > -1 ? 'clear' : 'add'" @click="toggleShowForm(shop.id)" />
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import ItemList from '../components/ItemList.vue'
import BannerMessage from '../components/BannerMessage.vue'
import ProductForm from '../components/ProductForm.vue'

import { API } from '../utils'

export default {
  name: 'MyProductsPage',

  components: {
    ItemList,
    BannerMessage,
    ProductForm
  },

  computed: {
    ...mapGetters(['isVendor']),
    productsError () {
      return this.$store.getters['shop/productsError']
    },
    emptyWarningAction () {
      return {
        label: 'Refresh',
        click: this.getMyVendors
      }
    }
  },

  data () {
    return {
      products: [],
      shops: [],
      loading: false,
      showForms: [],
      isEdit: false,
      selectedProduct: null
    }
  },

  watch: {
    showForms (val) {
      console.log('showForms', val)
    }
  },

  methods: {
    resetProductForm (update) {
      if (update) {
        this.getMyVendors()
        this.isEdit = false
      }
    },
    editProduct (item) {
      this.isEdit = true
      this.selectedProduct = item
      if (item && item.id && item.shop && item.shop.id && this.showForms.indexOf(item.shop.id) === -1) {
        this.showForms = [item.shop.id]
        this.$forceUpdate()
      }
    },
    toggleShowForm (id, options) {
      console.log('toggleShowForm', { id, options })
      if (options && options.updateOnly) {
        this.getMyVendors()
      } else {
        if (this.showForms && this.showForms.indexOf(id) > -1) {
          this.showForms = this.showForms.filter(a => a !== id)
        } else {
          this.showForms = [id]
        }
        if (options && options.update) {
          this.getMyVendors()
        }
      }
    },
    getMyProducts (shopID) {
      API(this, {
        url: `/my-shops/${shopID}/products`
      }).then(resp => {
        // this.products = resp.data && resp.data.products
        // for (var i = 0; i < this.shops.length; i++) {
        //   if ()
        // }
        this.loading = false
        this.updateVendorProducts(shopID, resp.data && resp.data.products)
      }).catch(err => {
        this.loading = false
        console.error('getMyProducts error: ' + err)
      })
    },
    updateVendorProducts (shopID, products) {
      for (var i = 0; i < this.shops.length; i++) {
        if (shopID && this.shops[i] && this.shops[i].id === shopID) {
          this.shops[i].products = products || []
        }
      }
    },
    getMyVendors () {
      this.loading = true
      API(this, {
        url: '/my-shops',
        loading: 'show'
      }).then(resp => {
        this.shops = resp.data && resp.data.shops.map(a => a && { ...a, products: [] })
        this.shops.forEach(shop => {
          this.getMyProducts(shop.id)
        })
      }).catch(err => {
        this.loading = false
        console.error('getMyVendors error: ' + err)
      })
    }
  },

  mounted () {
    this.getMyVendors()
  }
}
</script>
