<template>
  <q-page padding>
    <!-- <pre>{{shops}}</pre> -->

    <VendorsList :shops="shops" v-if="isVendor" :mine="true" :selectedID="selectedVendor && selectedVendor.id" @edit="editVendor" />
    <q-banner v-else dense inline-actions class="text-white bg-red q-ma-sm">
      Access denied
      <template v-slot:action>
        <q-btn flat color="white" label="Go to shops page" to="/vendors" />
      </template>
    </q-banner>
    <VendorForm class="q-pa-md" v-if="selectedVendor" :shop="selectedVendor" @reset="selectedVendor = null" />
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { API } from '../utils'
import VendorsList from '../components/VendorsList.vue'
import VendorForm from '../components/VendorForm.vue'

export default {
  name: 'MyVendorsPage',

  components: {
    VendorsList,
    VendorForm
  },

  computed: {
    ...mapGetters(['authUser', 'isVendor'])
  },

  data () {
    return {
      shops: [],
      selectedVendor: null
    }
  },

  methods: {
    editVendor (shop) {
      console.log('editVendor', shop)
      this.selectedVendor = shop
    },
    getMyVendors () {
      API(this, {
        url: '/my-shops',
        loading: 'show'
      }).then(resp => {
        this.shops = resp.data && resp.data.shops
      }).catch(err => {
        console.error('getMyVendors error: ' + err)
      })
    }
  },

  mounted () {
    this.getMyVendors()
  }
}
</script>
