<template>
  <q-page padding>
    <div :class="`fit row wrap justify-center items-end content-end ${isVendor ? 'text-black' : 'text-teal-10'}`" style="min-height: 30vh;">
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <h6 class="q-ma-md">
          <q-icon name="shopping_basket" />
          {{$t('My orders')}}
        </h6>
      </div>
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <BannerMessage class="q-mb-lg" v-if="orders && orders.length === 0" type="info" msg="" :action="emptyWarningAction" :loading="loading">
          No orders found
        </BannerMessage>
        <div v-else>
          <q-list bordered separator v-for="order in orders" :key="order.id" class="shadow-1 q-ma-sm">
            <q-item dense>
              <q-item-section>
                <q-item-label header class="text-center q-pb-none">
                  <q-chip class="absolute-top-left q-ma-xs text-capitalize" outline :color="getOrderStatusColor(order.status)" :text-color="getOrderStatusTextColor(order.status)" :icon="getOrderStatusIcon(order.status)" size="md">
                    {{order.status}}
                  </q-chip>
                  Order <span v-if="order.items && order.items[0] && order.items[0].shop">to <strong :class="'text-' + getOrderStatusColor(order.status)">{{order.items[0].shop.name}}</strong></span> was updated {{timeSince(order.updated_at)}}
                </q-item-label>
                <!-- <q-item-label class="text-center">
                </q-item-label> -->
              </q-item-section>
              <q-item-section side style="border-left: 1px solid lightgrey;min-width: 9em;align-items: center;">
                <q-btn rounded v-if="order.status !== 'cancelled'" :disabled="cancelDisabled(order)" size="sm" color="negative" label="cancel order" @click="cancelOrder(order.id)" />
                <q-btn rounded v-else-if="order.status === 'cancelled'" size="sm" color="teal" label="undo cancel" @click="undoCancelOrder(order.id)" />
                <!-- <q-btn rounded v-if="order.status !== 'cancelled'" size="sm" color="negative" label="cancel order" @click="cancelOrder(order.id)" /> -->
              </q-item-section>
            </q-item>
            <!-- <q-item-label caption>{{order.items.length}} products</q-item-label> -->
            <q-item v-ripple v-for="item in order.items" :key="item.id">
              <q-item-section>
                <q-item-label>{{item.name}}</q-item-label>
                <q-item-label caption>{{item.order_quantity}} items for {{fmtAmount(item.price, 'KSh')}} each. <strong>Total: {{fmtAmount(item.order_quantity * item.price, 'KSh')}} </strong></q-item-label>
              </q-item-section>
              <q-item-section side style="border-left: 1px solid lightgrey;min-width: 9em;align-items: center;">
                <q-btn rounded size="sm" color="red-5" text-color="black" label="Remove item" @click="removeOrderItem(order.id, [item.id], [item.name])" />
              </q-item-section>
            </q-item>

            <q-item v-ripple>
              <!-- <q-item-section></q-item-section> -->
              <q-item-section style="min-width: 9em;align-items: center;">
                <q-item-label class="text-h6">{{orderTotalPrice(order, 'KSh')}}</q-item-label>
                <q-item-label caption>{{orderItemsCount(order)}}</q-item-label>
              </q-item-section>
              <!-- <q-item-section side style="border-left: 1px solid lightgrey;min-width: 9em;align-items: center;">
                <q-btn rounded size="sm" color="red-5" text-color="black" label="Remove item" @click="removeOrderItem(order.id, [item.id], [item.name])" />
              </q-item-section> -->
            </q-item>
          </q-list>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 q-pa-sm text-center">
        <div class="shadow-2 q-pa-sm q-ma-xs">
          <strong>{{orders.length}} orders</strong>
        </div>
      </div>
      <!-- <div class="col-xs-6 col-sm-6 q-pa-xs">
        <div class="text-right">
          <q-btn :loading="loading" type="submit" :disabled="totalPrice === 0" color="teal-10" label="Order items"></q-btn>
          <q-btn type="reset" color="negative" :disabled="totalPrice === 0" flat label="Cancel"></q-btn>
        </div>
      </div> -->
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import BannerMessage from '../components/BannerMessage.vue'
import { API, timeSince } from '../utils'
export default {
  name: 'PageOrders',

  components: {
    BannerMessage
  },

  data () {
    return {
      orders: [],
      loading: false,
      orderStatuses: {
        pending: {
          icon: 'access_time',
          color: 'orange',
          textColor: 'black'
        },
        verified: {
          icon: 'check',
          color: 'teal'
        },
        processing: {
          icon: 'hourglass_empty',
          color: 'orange',
          textColor: 'black'
        },
        delivering: {
          icon: 'departure_board',
          color: 'lime-9',
          textColor: 'black'
        },
        received: {
          icon: 'check_box',
          color: 'orange'
        },
        cancelled: {
          icon: 'cancel',
          color: 'negative'
        },
        rejected: {
          icon: 'clear',
          color: 'red'
        }
      },
      statusNames: [
        'cancelled',
        'pending',
        'verified',
        'processing',
        'delivering',
        'received',
        'rejected'
      ]
    }
  },

  computed: {
    ...mapGetters(['isVendor']),
    emptyWarningAction () {
      return {
        label: 'Go back',
        click: this.goBack
      }
    }
  },

  methods: {
    timeSince: timeSince,
    orderTotalPrice (order, currency) {
      var total = 0
      if (!order) {
        return this.fmtAmount(total, currency)
      }
      if (!order.items) {
        return this.fmtAmount(total, currency)
      }
      order.items.forEach(item => {
        total += parseFloat(item.price) * parseInt(item.order_quantity)
      })
      return this.fmtAmount(total, currency) // `${total} ${currency}`
    },
    orderItemsCount (order, unit = ['item', 'items']) {
      var total = 0
      if (unit && unit.length !== 2) {
        unit = ['item', 'items']
      }
      if (!order) {
        return `${total} ${total === 1 ? unit[0] : unit[1]}`
      }
      if (!order.items) {
        return `${total} ${total === 1 ? unit[0] : unit[1]}`
      }
      order.items.forEach(item => {
        total += item.order_quantity
      })
      return `${total} ${total === 1 ? unit[0] : unit[1]}`
    },
    fmtAmount (amount, currency) {
      amount = Number(amount).toLocaleString()
      if (currency === 'KSh' || currency === 'KES') {
        return `${amount} ${currency}`
      }
      return `${currency} ${amount}`
    },
    canCancelOrder (order) {
      console.log('canCancelOrder', order)
      if (order.status === 'cancelled') {
        return false
      }
      if (this.statusNames.indexOf(order.status) > 1) {
        return false
      }
      return true
    },
    cancelDisabled (order) {
      return order.status === 'cancelled' || this.statusNames.indexOf(order.status) > 1
    },
    getOrderStatusTextColor (status) {
      if (this.orderStatuses[status] && this.orderStatuses[status].textColor) {
        return this.orderStatuses[status].textColor
      }
      return 'white'
    },
    getOrderStatusColor (status) {
      if (this.orderStatuses[status] && this.orderStatuses[status].color) {
        return this.orderStatuses[status].color
      }
      return 'primary'
    },
    getOrderStatusIcon (status) {
      if (this.orderStatuses[status] && this.orderStatuses[status].icon) {
        return this.orderStatuses[status].icon
      }
      return 'radio_button_unchecked'
    },
    getMyOrders () {
      API(this, {
        url: '/orders',
        loading: 'show'
      }).then(resp => {
        this.orders = resp.data && resp.data.orders
      }).catch(err => {
        console.log('getMyOrders error', err)
      })
    },
    cancelOrder (orderID) {
      console.log('cancelOrder', orderID)
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to cancel your order?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/cancel`,
          method: 'put',
          loading: 'show'
        }).then(resp => {
          console.log('cancelOrder response', resp)
          this.getMyOrders()
        }).catch(err => {
          console.log('cancelOrder error', err)
        })
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/cancel`,
          method: 'put',
          loading: 'show'
        }).then(resp => {
          console.log('cancelOrder response', resp)
          this.getMyOrders()
        }).catch(err => {
          console.log('cancelOrder error', err)
        })
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    undoCancelOrder (orderID) {
      console.log('undoCancelOrder', orderID)
      this.$q.dialog({
        title: 'Confirm',
        message: 'Would you like to reverse cancellation of your order?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/undo-cancel`,
          method: 'put',
          loading: 'show'
        }).then(resp => {
          console.log('undoCancelOrder response', resp)
          this.getMyOrders()
        }).catch(err => {
          console.log('undoCancelOrder error', err)
        })
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/undo-cancel`,
          method: 'put',
          loading: 'show'
        }).then(resp => {
          console.log('undoCancelOrder response', resp)
          this.getMyOrders()
        }).catch(err => {
          console.log('undoCancelOrder error', err)
        })
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    removeOrderItem (orderID, itemIDs = null, itemNames = null) {
      console.log('undoCancelOrder', orderID)
      if (!itemIDs) {
        console.error('removeOrderItem invalid itemIDs')
        return
      }
      const names = itemNames && itemNames.length > 0 ? `item${itemNames.length > 1 ? 's' : ''} "${itemNames.join(',')}"` : `${itemIDs.length} items`
      const query = `items=${itemIDs.join(',')}`
      this.$q.dialog({
        title: 'Confirm',
        message: `Would you like to remove ${names} from your order?`,
        cancel: true,
        persistent: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/items?${query}`,
          method: 'delete',
          loading: 'show'
        }).then(resp => {
          console.log('undoCancelOrder response', resp)
          this.getMyOrders()
        }).catch(err => {
          if (err.toString().indexOf('not found') > -1) {
            this.getMyOrders()
          }
          console.log('undoCancelOrder error', err)
        })
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: `/orders/${orderID}/items?${query}`,
          method: 'delete',
          loading: 'show'
        }).then(resp => {
          console.log('undoCancelOrder response', resp)
          this.getMyOrders()
        }).catch(err => {
          if (err.toString().indexOf('not found') > -1) {
            this.getMyOrders()
          }
          console.log('undoCancelOrder error', err)
        })
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    goBack () {
      return this.$router && this.$router.back
    }
  },

  mounted () {
    this.getMyOrders()
  }
}
</script>
