<template>
  <q-page padding>
      <div :class="`fit row wrap justify-center items-start content-end ${isVendor ? 'text-black' : 'text-teal-10'}`" style="min-height: 30vh;">
        <div class="col-xs-12 col-sm-12 q-pa-xs">
          <h6 class="q-ma-md">
            <q-icon name="settings" />
            {{$t('Settings')}}
          </h6>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-8 q-pa-xs">
          <q-form
            @submit="updateUser"
            @reset="resetUser"
          >
            <q-card class="q-ma-sm" flat bordered>
              <!-- <q-item>
                <q-item-section avatar>
                  <q-avatar :color="isVendor ? 'black' : 'teal-10'" text-color="white">
                    <img v-if="user && user.profile && user.profile.profile_pic" :src="user.profile.profile_pic">
                    <span v-else>{{ avatarLetter }}</span>
                  </q-avatar>
                </q-item-section>

                <q-item-section>
                  <q-item-label class="text-h6">{{fullName}}</q-item-label>
                  <q-item-label caption>
                    @{{username}}
                  </q-item-label>
                </q-item-section>
              </q-item> -->

              <q-card-section>
                <div class="float-right" style="margin-top: -.5em;">
                  <q-toggle v-model="isEdit" label="Edit" />
                </div>
                <q-item-label class="text-h6">
                  Update Profile
                </q-item-label>
              </q-card-section>

              <q-separator />

              <q-card-section>
                <q-card-section>
                  <q-input filled :readonly="!isEdit" :color="isVendor ? 'black' : 'teal-10'" v-model="user.profile.first_name" label="First name">
                    <template v-slot:prepend>
                      <q-icon name="perm_identity" />
                    </template>
                  </q-input>
                </q-card-section>
                <q-card-section>
                  <q-input filled :readonly="!isEdit" :color="isVendor ? 'black' : 'teal-10'" v-model="user.profile.last_name" label="Last name">
                    <template v-slot:prepend>
                      <q-icon name="perm_identity" />
                    </template>
                  </q-input>
                </q-card-section>
                <q-card-section>
                  <Autocomplete :disable="!isEdit" v-model="user.address" label="Delivery address" hint="The address your orders will be delivered" />
                  <!-- <q-input filled :readonly="!isEdit" :color="isVendor ? 'black' : 'teal-10'" v-model="user.address" label="Delivery address">
                    <template v-slot:prepend>
                      <q-icon name="place" />
                    </template>
                  </q-input> -->
                </q-card-section>
                <q-card-section>
                  <q-input filled :readonly="!isEdit" :color="isVendor ? 'black' : 'teal-10'" v-model="user.email" label="Email">
                    <template v-slot:prepend>
                      <q-icon name="email" />
                    </template>
                  </q-input>
                </q-card-section>
                <q-card-section>
                  <TelInput :disable="!isEdit" v-model="user.phone_data" hint="Phone" />
                  <!-- <q-input filled :readonly="!isEdit" :color="isVendor ? 'black' : 'teal-10'" v-model="user.phone" label="Phone">
                    <template v-slot:prepend>
                      <q-icon name="phone" />
                    </template>
                  </q-input> -->
                </q-card-section>
                <q-card-section>
                  <div class="q-gutter-sm text-center text-h6">
                    <q-radio :disable="!isEdit" v-model="user.profile.gender" val="male" :color="isVendor ? 'black' : 'teal-10'" :text-color="isVendor ? 'black' : 'teal-10'" size="xl" label="Male" />
                    <q-radio :disable="!isEdit" v-model="user.profile.gender" val="female" :color="isVendor ? 'black' : 'teal-10'" :text-color="isVendor ? 'black' : 'teal-10'" size="xl" label="Female" />
                  </div>
                </q-card-section>
                <q-card-section>
                  <q-input filled :readonly="!isEdit" :color="isVendor ? 'black' : 'teal-10'" v-model="user.profile.birthday" label="Date of birth">
                    <template v-slot:prepend>
                      <q-icon name="cake" />
                    </template>
                  </q-input>
                </q-card-section>
                <q-card-section>
                  <div class="row wrap">
                    <div class="col-xs-12">
                      <q-btn :disable="!isEdit" type="reset" flat class="float-right q-ma-xs" color="negative" label="Reset"></q-btn>
                      <q-btn :disable="!isEdit" type="submit" class="float-right q-ma-xs" :color="isVendor ? 'black' : 'teal-10'" label="Save"></q-btn>
                    </div>
                  </div>
                </q-card-section>

              </q-card-section>
            </q-card>
          </q-form>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-4 q-pa-xs">
          <q-form
            @submit="updatePassword"
            @reset="resetPasswordForm"
          >
            <q-card class="q-ma-sm" flat bordered>
              <q-card-section>
                <div class="float-right" style="margin-top: -.5em;">
                  <q-toggle v-model="changePasswordForm.edit" label="Edit" />
                </div>
                <q-item-label class="text-h6">
                  Change Password
                </q-item-label>
              </q-card-section>

              <q-separator />

              <q-card-section>
                <q-input filled :type="changePasswordForm.show ? 'text' : 'password'" :disable="!changePasswordForm.edit" :color="isVendor ? 'black' : 'teal-10'" name="old-password" v-model="changePasswordForm.oldPassword" label="Old Password">
                  <!-- <template v-slot:prepend>
                    <q-icon name="lock" />
                  </template> -->
                  <template v-slot:after>
                    <q-btn round dense flat tabindex="-1" :color="changePasswordForm.show ? '' : 'teal-10'" :icon="changePasswordForm.show ? 'visibility_off' : 'visibility'" @click="changePasswordForm.show = !changePasswordForm.show" />
                  </template>
                </q-input>
              </q-card-section>
              <q-card-section>
                <q-input filled :type="changePasswordForm.show ? 'text' : 'password'" :disable="!changePasswordForm.edit" :color="isVendor ? 'black' : 'teal-10'" name="password" v-model="changePasswordForm.newPassword" label="New Password">
                  <!-- <template v-slot:prepend>
                    <q-icon name="lock" />
                  </template> -->
                  <template v-slot:after>
                    <q-btn round dense flat tabindex="-1" :color="changePasswordForm.show ? '' : 'teal-10'" :icon="changePasswordForm.show ? 'visibility_off' : 'visibility'" @click="changePasswordForm.show = !changePasswordForm.show" />
                  </template>
                </q-input>
              </q-card-section>
              <q-card-section>
                <q-input filled :type="changePasswordForm.show ? 'text' : 'password'" :disable="!changePasswordForm.edit" :color="isVendor ? 'black' : 'teal-10'" name="confirm-password" v-model="changePasswordForm.confirmPassword" label="Confirm Password">
                  <!-- <template v-slot:prepend>
                    <q-icon name="lock" />
                  </template> -->
                  <template v-slot:after>
                    <q-btn round dense flat tabindex="-1" :color="changePasswordForm.show ? '' : 'teal-10'" :icon="changePasswordForm.show ? 'visibility_off' : 'visibility'" @click="changePasswordForm.show = !changePasswordForm.show" />
                  </template>
                </q-input>
              </q-card-section>
              <q-card-section>
                <div class="row wrap">
                  <div class="col-xs-12">
                    <q-btn :disable="!changePasswordForm.edit" type="reset" flat class="float-right q-ma-xs" color="negative" label="Reset"></q-btn>
                    <q-btn :disable="!changePasswordForm.edit" type="submit" class="float-right q-ma-xs" :color="isVendor ? 'black' : 'teal-10'" label="Save"></q-btn>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-form>
        </div>
      </div>

  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { API } from '../utils'
import Autocomplete from '../components/Autocomplete.vue'
import TelInput from '../components/TelInput.vue'

export default {
  name: 'ProfilePage',

  components: {
    Autocomplete,
    TelInput
  },

  data () {
    return {
      isEdit: false,
      user: {},
      changePasswordForm: {
        edit: false,
        oldPassword: '',
        newPassword: '',
        confirmPassword: '',
        show: false
      }
    }
  },

  computed: {
    ...mapGetters(['authUser', 'isVendor']),
    fullName () {
      return this.user && this.user.profile && this.user.profile && `${this.user.profile.first_name} ${this.user.profile.last_name}`
    },
    username () {
      return (this.user && this.user.username) || 'guest'
    },
    avatarLetter () {
      if (this.user && this.user.profile && this.user.profile.first_name.length > 0) {
        return this.user.profile.first_name.charAt(0) +
               (this.user.profile.last_name && this.user.profile.last_name.length > 0 && this.user.profile.last_name[0]) || ''
      } else if (this.username && this.username.length > 0) {
        return this.username.charAt(0)
      }
      return 'A'
    },
    address () {
      if (this.user && typeof this.user.address === 'object') {
        if (this.user.address.street || this.user.address.city || this.user.address.county) {
          return [this.user.address.street, this.user.address.city || this.user.address.county, (this.user.address.country && this.user.address.country.name) || (this.user.address.country && this.user.address.country.code)].join(', ')
        }
        if ('lat' in this.user.address && 'lng' in this.user.address) {
          return [this.user.address.lat, this.user.address.lng].join(', ')
        }
      }
      return ''
    }
  },

  watch: {
    authUser (val) {
      console.log('watch::authUser')
      this.user = this.clone(this.authUser)
      this.user.phone_data = { number: this.user.phone }
    }
  },

  methods: {
    serverPath (url) {
      if (url && url.indexOf('/webapps/iweydi-shop/api/bin/') > -1) {
        url = url.replace('/webapps/iweydi-shop/api/bin/', '')
      }
      return `${this.$store.getters.baseURL}${url || 'static/No_Image_Available.jpg'}`
    },
    clone (obj) {
      if (typeof obj === 'object') {
        return JSON.parse(JSON.stringify(obj))
      }
      return obj
    },
    resetUser () {
      this.user = this.clone(this.authUser)
      this.user.phone_data = { number: this.user.phone }
      this.isEdit = false
    },
    updateUser () {
      this.$q.dialog({
        title: 'Update Profile',
        message: 'Changes you made to your profile will be saved?',
        cancel: true,
        persistent: true,
        html: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: '/user',
          method: 'put',
          data: { ...this.user },
          loading: 'show'
        }).then(resp => {
          console.log('updateUser response', resp)
        }).catch(err => {
          console.log('updateUser error', err)
        })
      }).onOk(() => {
        console.log('>>>> second OK catcher')
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    },
    resetPasswordForm () {
      this.changePasswordForm = {
        edit: false,
        oldPassword: '',
        newPassword: '',
        confirmPassword: '',
        show: false
      }
    },
    updatePassword () {
      this.$q.dialog({
        title: 'Update Profile',
        message: 'You are changing your password which will be required for your next login, are you sure you will remember this password?',
        cancel: true,
        persistent: true,
        html: true
      }).onOk(() => {
        console.log('>>>> second OK catcher')
        API(this, {
          url: '/change-password',
          method: 'put',
          data: {
            password: this.changePasswordForm.oldPassword,
            new_password: this.changePasswordForm.newPassword,
            new_password2: this.changePasswordForm.country
          },
          loading: 'show'
        }).then(resp => {
          console.log('updatePassword response', resp)
        }).catch(err => {
          console.log('updatePassword error', err)
        })
      }).onOk(() => {
        console.log('>>>> second OK catcher')
      }).onCancel(() => {
        console.log('>>>> Cancel')
      }).onDismiss(() => {
        console.log('I am triggered on both OK and Cancel')
      })
    }
  },

  beforeMount () {
    this.user = this.clone(this.$store.getters.authUser)
    this.user.phone_data = { number: this.user.phone }
  }
}
</script>
