<template>
  <q-page padding>
    <Subscription />
  </q-page>
</template>

<script>
import Subscription from '../components/Subscription.vue'
export default {
  // name: 'PageName',

  components: {
    Subscription
  }
}
</script>
