<template>
  <q-page padding>
    <div :class="`fit row wrap justify-center items-start content-end ${isVendor ? 'text-black' : 'text-teal-10'}`" style="min-height: 30vh;">
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <h6 class="q-ma-md">
          <q-icon name="settings" />
          Terms & Conditions
        </h6>
      </div>
      <div class="col-xs-12 col-md-7 col-lg-8 q-pa-xs">
        <div class="text-subtitle1">You accept to give iWeydi access to your location service</div>
        <p>We use your location to deliver to you the closest products in your area which helps you save a lot in delivery costs</p>

        <div class="text-subtitle1">You also accept to give access to third-party services</div>
        <p>We use third-party services such as Google Maps to process your geolocation data and calculate distances</p>

        <div class="text-subtitle1">You also accept any risk related to your non-careful use of the app</div>
        <p>iWeydi is a platform for different types of sellers, do not pay unless your order is delivered to you.
          If you don't follow our recommendation and pay money in advance we are not responsible for any loss of funds</p>

        <div class="text-subtitle1">You also accept to give access to third-party services</div>
        <p>We use third-party services such as Google Maps to process your geolocation data and calculate distances</p>

        <div class="text-subtitle1">You are responsible for any damage or harm caused using your account</div>
        <p>If you let someone else use your device and that person causes any negative effect on anyone or anything on this platform, that may result in being banned from the platform and/or criminal prosecution</p>
      </div>
    </div>
    <div :class="`fit row wrap justify-center items-start content-end ${isVendor ? 'text-black' : 'text-teal-10'}`" style="min-height: 30vh;">
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <h6 class="q-ma-md">
          <q-icon name="settings" />
          Privacy Policy
        </h6>
      </div>
      <div class="col-xs-12 col-md-7 col-lg-8 q-pa-xs">
        <div class="text-subtitle1">Your data is protected</div>
        <p>All the data you store on our system such as your presonal information, images, geolocation data and orders, products and business info is being encrypted and protected in our databases</p>

        <div class="text-subtitle1">Who we share your data with</div>
        <p>We don't directly share your personal data with any other external entity. We use Google Map service to calculate distance and for directions for your delivery agent</p>

        <div class="text-subtitle1">Your data belongs to you</div>
        <p>All the data you store in our system belongs to you and we guarantee you'll be able to erase any personally identifiable information from this</p>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  // name: 'PageName',

  computed: {
    ...mapGetters(['isVendor'])
  }
}
</script>
