<template>
  <q-page padding>
    <q-banner v-if="isVendor" dense inline-actions class="bg-grey-3 q-ma-sm">
      To access your shops
      <template v-slot:action>
        <q-btn flat label="Click here" to="/my-shops" />
      </template>
    </q-banner>
    <div class="fit row wrap justify-center items-end content-end" style="min-height: 30vh;">
      <div class="col-xs-12 col-sm-12">
        <q-slider
          v-model="radius"
          :min=".1"
          :max="50"
          :step=".1"
          label
          :label-value="'Radius: ' + radius + ' km'"
          label-always
          :color="isVendor ? 'black' : 'teal-10'"
          @input="radiusChanged"
        />
      </div>
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <h6 :class="`q-ma-md ${isVendor ? 'text-black' : 'text-teal-10'}`">
          <q-icon name="store" />
          {{`Vendors in ${radius} km radius`}}
        </h6>
      </div>
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <VendorsList :shops="shops" :errMsg="shopsError" />
      </div>
      <!-- <div class="col-xs-12 col-sm-12 q-pa-xs">
        <div class="absolute-right q-pt-sm q-pr-sm">
          <q-btn round color="black" icon="my_location" @click="getCurrentLocation">
            <q-tooltip>
              Use my current location
            </q-tooltip>
          </q-btn>
        </div>
        <Map :center="center" :options="options" :zoom="17" :markers="shopMarkers" />
      </div> -->
    </div>
  </q-page>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import VendorsList from '../components/VendorsList.vue'
// import Map from '../components/Map.vue'
import { API, EventBus, getLocalStorage, setLocalStorage } from '../utils'

export default {
  name: 'VendorsPage',

  components: {
    // Map,
    VendorsList
  },

  computed: {
    ...mapGetters(['isVendor']),
    ...mapState('shop', {
      shops: state => state.shops,
      shopsError: state => state.shopsError
    }),
    shopMarkers () {
      return this.$store.getters['shop/vendors'].map(shop => {
        return {
          position: shop.coords,
          name: shop.name,
          score: shop.score
        }
      })
    },
    coordinates () {
      return this.$store.getters['geolocation/coordinates'] || { lat: 0, lng: 0 }
      // return {
      //   lng: 36.8507725,
      //   lat: -1.2738629
      // }
    }
  },

  data () {
    return {
      options: {},
      radius: 50,
      center: { lat: 0, lng: 0 },
      radiusDelay: 0
    }
  },

  methods: {
    radiusChanged (radius) {
      // console.log('radiusChanged', radius)
      clearInterval(this.radiusDelay)
      this.radiusDelay = setTimeout(() => {
        this.getNearbyVendors()
      }, 1000)
    },
    getCurrentLocation () {
      const locationAccessStatus = getLocalStorage('location-access-allowed')
      if (!locationAccessStatus) {
        EventBus.$emit('askLocationAccess', true)
        return
      }
      this.$getLocation(this.options)
      .then(coordinates => {
        console.log('getCurrentLocation', coordinates)
        setLocalStorage('location-access-allowed', 'allowed')
        this.center = coordinates
        setLocalStorage('lastCoords', JSON.stringify(this.coordinates))
      }).catch(err => {
        console.log('getCurrentLocation error:', err)
        if (err && err.code === err.PERMISSION_DENIED) {
          setLocalStorage('location-access-allowed', 'denied')
        } else if (err && err.code === err.POSITION_UNAVAILABLE) {
          setLocalStorage('location-access-allowed', 'unavailable')
        } else if (err && err.code === err.TIMEOUT) {
          setLocalStorage('location-access-allowed', 'timeout')
        }
      })
    },
    getNearbyVendors () {
      API(this, {
        url: `/nearby-shops?lat=${this.coordinates.lat}&lng=${this.coordinates.lng}&radius=${this.radius}`,
        loading: 'show'
      }).then(resp => {
        if (resp.data) {
          this.$store.commit('shop/setVendors', resp.data.shops || [])
          this.$store.commit('shop/shopsError', '')
        }
      }).catch(err => {
        console.log('getNearbyVendors error', err)
        this.$store.commit('shop/shopsError', err.toString())
      })
    }
  },

  mounted () {
    this.getNearbyVendors()
  }
}
</script>
