<template>
  <q-page padding>
    <div class="fit row wrap justify-center items-end content-end" style="min-height: 30vh;">
      <div class="col-xs-12 col-sm-12 q-pa-xs">
        <div v-if="shop && shop.id" class="relative-position shadow-1 q-pa-md">
          <div class="absolute-top-right">
            <q-rating
              class="Vendortext-right"
              v-model="shop.score"
              size="1.6em"
              :max="5"
              readonly
              color="orange"
              />
            <div class="text-h6 text-weight-thin text-right q-pr-md">{{estimateCounter(shop.items_sold)}}</div>
            <div class="text-h6 text-weight-thin text-right q-pr-md">Joined {{timeSince(shop.created_at)}}</div>
          </div>
          <h6 :class="`q-ma-md ${isVendor ? 'text-black' : 'text-teal-10'}`">
            <q-icon name="store" />
            {{shop.name || `Vendor`}}
            <div class="text-weight-thin"><strong>{{shop.distance}} km</strong> from your current location</div>
            <div class="text-weight-thin">{{toAddress(shop.coords)}}</div>
          </h6>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 q-pt-lg" style="min-height: 50vh;">
        <ProductList :items="products" />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { API } from '../utils/api'
import { getLocalStorage, calculateDistance, timeSince } from '../utils'
import ProductList from '../components/ProductList.vue'

export default {
  name: 'VendorPage',

  components: {
    ProductList
  },

  data () {
    return {
      shop: {},
      products: []
    }
  },

  computed: {
    ...mapGetters(['isVendor']),
    shopID () {
      return this.$route.params && this.$route.params.shopID
    }
  },

  methods: {
    timeSince: timeSince,
    toAddress (coords) {
      if (!coords) {
        return ''
      }
      const address = [coords.street, coords.county, coords.city].filter(a => a && a).join(', ')

      if (address) {
        return address
      }
      return [coords.lng, coords.lat].join(', ')
    },
    estimateCounter (count, min = 100) {
      if (count < min) {
        return `Sold < ${min}`
      }
      if (count >= 1000 && count < 1000000) {
        return `Sold > ${(count / 1000).toFixed(1)}k`
      }
      if (count >= 1000000 && count < 1000000000) {
        return `Sold > ${(count / 1000000).toFixed(1)}m`
      }
      if (count >= 1000000000 && count < 1000000000000) {
        return `Sold > ${(count / 1000000000).toFixed(1)}b`
      }
      if (count >= 1000000000000 && count < 1000000000000000) {
        return `Sold > ${(count / 1000000000000).toFixed(1)}t`
      }
    },
    getVendorInfo () {
      API(this, {
        url: `/vendors/${this.shopID}`
      }).then(resp => {
        this.shop = resp.data.shop

        const currentCoords = JSON.parse(getLocalStorage('lastCoords'))
        this.shop.distance = (calculateDistance(this.shop.coords, currentCoords, null)).toFixed(2)
        this.getVendorProducts()
      }).catch(err => {
        console.log('getVendorInfo error', err)
      })
    },
    getVendorProducts () {
      API(this, {
        url: `/vendors/${this.shopID}/products`
      }).then(resp => {
        if (resp.data.products && resp.data.products.length > 0) {
          const currentCoords = JSON.parse(getLocalStorage('lastCoords'))
          this.products = resp.data.products.map(item => {
            if (item.shop && item.shop.coords && 'lat' in item.shop.coords && 'lng' in item.shop.coords) {
                item.shop.distance = (calculateDistance(item.shop.coords, currentCoords, null)).toFixed(2)
            }
            return item
          })
        } else {
          this.products = []
        }
      }).catch(err => {
        console.log('getVendorProducts error', err)
      })
    }
  },

  beforeMount () {
    this.getVendorInfo()
  }
}
</script>
