<template>
  <div class="relative-position">
    <label
      for="g-autocomplete"
      :class="`q-field row no-wrap items-start q-input  ${focused ? 'q-field--focused' : ''} ${(focused || address) ? 'q-field--float' : ''} q-field--filled q-field--labeled q-field--with-bottom`"
    >
      <div class="q-field__inner relative-position col self-stretch column justify-center">
        <div tabindex="-1" class="q-field__control relative-position row no-wrap">
          <div class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
            <vue-google-autocomplete
              id="g-autocomplete"
              ref="gAutocomplete"
              class="q-field__native q-placeholder"
              :placeholder="`Please type ${label || 'address'}`"
              :enable-geolocation="true"
              :disabled="disable"
              :name="address"
              @placechanged="getAddressData"
              @focus="focused = true"
              @blur="focused = false"
            ></vue-google-autocomplete>
            <div v-if="label" class="q-field__label no-pointer-events absolute ellipsis">{{label}}</div>
          </div>
        </div>
        <div class="q-field__bottom row items-start q-field__bottom--animated">
          <div class="q-field__messages col">
            <div v-if="hint">{{hint}}</div>
          </div>
        </div>
      </div>
    </label>
    <div class="absolute-right q-pt-sm q-pr-sm">
      <q-btn round tabindex="-1" :disable="disable" color="black" icon="my_location" @click="useMyLocation">
        <q-tooltip>
          Use GPS and use my current location
        </q-tooltip>
      </q-btn>
    </div>
  </div>
</template>

<script>
import VueGoogleAutocomplete from 'vue-google-autocomplete'

export default {
  name: 'Autocomplete',

  props: {
    value: {
      type: Object,
      required: true
    },
    label: {
      type: String,
      default: ''
    },
    hint: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'phone'
    },
    filled: {
      type: Boolean,
      default: false
    },
    disable: {
      type: Boolean,
      default: false
    }
  },

  components: {
    'vue-google-autocomplete': VueGoogleAutocomplete
  },

  data () {
    return {
      focused: false,
      address: null,
      options: {}
    }
  },

  methods: {
    /**
     * When the location found
     * @param {Object} addressData Data of the found location
     * @param {Object} placeResultData PlaceResult object
     * @param {String} id Input container ID
     */
    getAddressData (addressData, placeResultData, id) {
      console.log('getAddressData', { addressData, placeResultData, id })

      let street = (placeResultData && placeResultData.address_components && placeResultData.address_components.filter(a => a && a.types && a.types.indexOf('route') > -1)) || []
      if (street.length > 0) {
        street = street[0] && (street[0].long_name || street[0].short_name)
      } else {
        street = addressData && addressData.route
      }

      let county = (placeResultData && placeResultData.address_components && placeResultData.address_components.filter(a => a && a.types && a.types.indexOf('administrative_area_level_1') > -1 && a.types.indexOf('political') > -1)) || []
      if (county.length > 0) {
        county = county[0] && (county[0].long_name || county[0].short_name)
      } else {
        county = addressData && addressData.administrative_area_level_1
      }
      let city = (placeResultData && placeResultData.address_components && placeResultData.address_components.filter(a => a && a.types && a.types.indexOf('locality') > -1 && a.types.indexOf('political') > -1)) || []
      if (city.length > 0) {
        city = city[0] && (city[0].long_name || city[0].short_name)
      } else {
        city = addressData && addressData.locality
      }
      let country = (placeResultData && placeResultData.address_components && placeResultData.address_components.filter(a => a && a.types && a.types.indexOf('country') > -1 && a.types.indexOf('political') > -1)) || []
      if (country.length > 0) {
        country = country[0] && {
          name: country[0].long_name,
          code: country[0].short_name
        }
      } else {
        country = {
          name: addressData && addressData.country
        }
      }
      this.address = {
        lng: addressData && addressData.longitude,
        lat: addressData && addressData.latitude,
        street,
        county,
        city,
        country
      }
      this.$emit('input', this.address)
    },
    useMyLocation () {
      console.log('useMyLocation response', this.options)
      this.$getLocation(this.options)
      .then(coordinates => {
        console.log({ coordinates })
        this.address = {
          lng: coordinates && coordinates.lng,
          lat: coordinates && coordinates.lat,
          street: `${(coordinates && coordinates.lng).toFixed(4)}, ${(coordinates && coordinates.lat).toFixed(4)}`,
          county: '',
          city: '',
          country: {
            name: '',
            code: ''
          }
        }
        if (this.$refs.gAutocomplete) {
          this.$refs.gAutocomplete.update(this.address.street)
        } else {
          console.warn('Invalid gAutocomplete', this.$refs.gAutocomplete)
        }
        this.$emit('input', this.address)
      }).catch(err => {
        console.warn('useMyLocation error', err)
      })
    },
    geolocate () {
      console.log('geolocate', this.$refs.gAutocomplete)
      if (this.$refs.gAutocomplete) {
        this.$refs.gAutocomplete.geolocate()
      } else {
        console.warn('Invalid gAutocomplete', this.$refs.gAutocomplete)
      }
    }
  },

  mounted () {
    if (this.name) {
      document.querySelector('#g-autocomplete').setAttribute('name', this.name)
    }
    this.address = JSON.parse(JSON.stringify(this.value))
    if (this.$refs.gAutocomplete) {
      this.$refs.gAutocomplete.update(
        [this.address.street, this.address.city, this.address.country && this.address.country.name].filter(a => !!a).join(', ')
      )
    }
  }
}
</script>
