<template>
  <div>
    <q-banner inline-actions :class="colorClasses[type]">
      <template v-slot:avatar>
        <q-icon name="visibility_off" />
      </template>
      <template v-slot:default>
        <div v-if="msg">
          {{msg}}
        </div>
        <div v-else>
          <slot></slot>
        </div>
      </template>
      <template v-slot:action>
        <q-btn v-if="action" :loading="loading" flat :label="action.label" @click="action.click" />
      </template>
    </q-banner>
  </div>
</template>

<script>
export default {
  name: 'banner-msg',

  props: {
    type: {
      type: String,
      default: 'info'
    },
    msg: {
      type: String,
      required: true
    },
    loading: {
      type: Boolean,
      default: false
    },
    action: {
      type: Object,
      default: () => null
    }
  },
  data () {
    return {
      colorClasses: {
        warning: 'bg-orange text-white',
        error: 'text-white bg-red',
        info: 'bg-grey-3 text-grey-9'
      }
    }
  }
}
</script>
