<template>
  <div class="fit row wrap q-pl-md q-pr-md q-col-gutter-md q-pt-md q-pb-md">
    <div class="col-6 col-xs-6 col-sm-4 col-md-3" v-for="item in parentCategories" :key="item.title">
      <q-card class="cursor-pointer" style="" @click="goTo(toURL(item.name))">
        <q-img
          :src="item.image_url"
          basic
        >
          <div class="absolute-bottom text-h6 text-center">
            {{item.name}}
          </div>
          <template v-slot:loading>
            <div class="text-yellow">
              <q-spinner-ios />
              <div class="q-mt-md">Loading...</div>
            </div>
          </template>
        </q-img>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CustomerHome',
  data () {
    return {
      menuItems: [
        {
          title: 'Food',
          image: '/statics/images/Food.jpg',
          to: '/search/food'
        },
        {
          title: 'Groceries ',
          image: '/statics/images/oliveoil.jpg',
          to: '/search/groceries'
        },
        {
          title: 'Gas',
          image: '/statics/images/gas-cylinder.jpg',
          to: '/search/cooking-gas'
        },
        {
          title: 'Medications',
          image: '/statics/images/first-aid-supplies.jpg',
          to: '/search/medications'
        },
        // {
        //   title: 'Clothes',
        //   image: '/statics/images/Clothes.jpg',
        //   to: '/search/clothes'
        // },
        // {
        //   title: 'Cosmetics',
        //   image: '/statics/images/Cosmetics.jpeg',
        //   to: '/search/cosmetics'
        // },
        {
          title: 'Electronics',
          image: '/statics/images/Electronics.jpg',
          to: '/search/electronics'
        },
        {
          title: 'Others',
          image: '/statics/images/fullshelf.jpg',
          to: '/search/others'
        }
      ]
    }
  },
  computed: {
    parentCategories () {
      return this.$store.getters['app/categories'] && this.$store.getters['app/categories'].length > 0 && this.$store.getters['app/categories'].filter(a => a && !a.parent)
    }
  },
  methods: {
    goTo (path) {
      if (this.$store.getters.isAuthenticated) {
        this.$router.push(path)
      } else {
        this.$router.push({ path: '/accounts/login', query: { next: path } })
      }
    },
    toURL (name) {
      if (typeof name === 'string') {
        return '/category/' + name.toLocaleLowerCase().split(' ').join('-')
      }
      return '/'
    }
  }
}
</script>
