<template>
  <q-item
    clickable
    :class="isVendor ? 'text-black' : 'text-teal-10'"
    tag="a"
    exact
    v-if="is_public || (!authenticated && !isAuthenticated) || (authenticated && isAuthenticated)"
    :to="to"
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>
        <q-badge v-if="hasValue(badgeCounter)" class="q-mr-md q-mt-md" color="orange" floating>{{badgeCounter()}}</q-badge>
        {{ title }}
      </q-item-label>
      <q-item-label caption>
        {{ caption }}
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    to: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    },

    is_public: {
      type: Boolean,
      default: false
    },

    authenticated: {
      type: Boolean,
      required: true
    },

    badgeCounter: {
      type: Function,
      default: null
    }
  },

  computed: {
    ...mapGetters(['isVendor']),
    isAuthenticated () {
      return this.$store.getters.isAuthenticated
    }
  },

  methods: {
    hasValue (f) {
      return typeof f === 'function' && !!f()
    }
  }
}
</script>
