<template>
    <div class="items-list-wrapper">
    <BannerMessage v-if="errMsg" class="q-ma-lg full-width" type="error" msg="" :action="emptyWarningAction" :loading="loading">
      {{ errMsg }}
    </BannerMessage>
    <q-list bordered separator clicable :class="isVendor ? 'text-black' : 'text-teal-10'">
      <q-item clickable ripple v-for="item in itemsList" :key="item.id" :active="isInCart(item.id)" @click="$emit('selected', item)">
        <q-item-section v-if="!isVendor" avatar>
          <q-input
            v-if="showQuantity"
            dense
            :bottom-slots="false"
            class="text-center"
            v-model.number="itemQuantities[item.id]"
            type="number"
            filled
            :min="1"
            style="max-width: 75px"
            @input="itemQuantityUpdated($event, item && item.id)"
          >
            <q-tooltip>
              Quantity of items you want to order
            </q-tooltip>
          </q-input>
          <q-checkbox v-else :checked="isInCart(item.id)" :value="isInCart(item.id)" color="teal" style="margin: auto;" @input="addToCart(item)" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{item.name}}</q-item-label>
          <q-item-label caption class="text-weight-thin">
            <q-chip outline size="sm" color="positive" text-color="white" icon="check_circle">
              {{item.category && item.category.name}}
            </q-chip>
            {{item.description}}
          </q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-item-label caption>
            <strong>{{item.price}}</strong> KSh.
          </q-item-label>
          <q-item-label caption class="text-weight-thin">
            <q-chip clickable dense class="text-weight-bold q-ma-none" color="primary" text-color="white" size="sm" v-if="item.shop.distance">{{item.shop.distance}} km</q-chip>
            {{item.shop.name}}
            <q-btn
              v-if="showQuantity"
              round
              :color="isInCart(item.id) ? 'negative' : 'blue-grey-10'"
              size="xs"
              :icon="isInCart(item.id) ? 'clear' : 'add'"
              @click="addToCart(item)">
              <q-tooltip>
                {{ isInCart(item.id) ? 'Remove from shopping cart' : 'Add to shopping cart'}}
              </q-tooltip></q-btn>
          </q-item-label>
        </q-item-section>
      </q-item>

      <!-- <q-separator spaced inset /> -->
    </q-list>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import BannerMessage from './BannerMessage.vue'

export default {
  name: 'ItemsList',

  components: {
    BannerMessage
  },

  props: {
    items: {
      type: Array,
      required: true
    },
    showQuantity: {
      type: Boolean,
      default: false
    },
    errMsg: {
      type: String,
      default: null
    },
    loading: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      itemQuantities: {}
    }
  },

  computed: {
    ...mapGetters(['isVendor']),
    itemsList () {
        return this.items.slice().sort((a, b) => a && a.distance > b.distance ? 1 : -1)
    },
    cartItemsIDs () {
      return this.$store.getters['shop/cartItemsIDs']
    },
    emptyWarningAction () {
      return {
        label: 'Go back',
        click: this.goBack
      }
    }
  },

  watch: {
    items (val) {
      this.updateCounters()
    }
  },
  methods: {
    itemQuantityUpdated (quantity, itemID) {
      this.$emit('quantity-updated', { id: itemID, quantity })
    },
    addToCart (item) {
      this.$store.dispatch('shop/addToCart', item)
    },
    isInCart (id) {
      return this.cartItemsIDs.includes(id)
    },
    updateCounters () {
      this.items.forEach(item => {
        if (typeof this.itemQuantities[item.id] === 'undefined' || this.itemQuantities[item.id] < 1) {
          this.itemQuantities[item.id] = 1
        }
      })
      this.$forceUpdate()
    }
  },

  mounted () {
    console.log('mounted', this.items)
    this.updateCounters()
  }
}
</script>
<style>
.text-center input {
  text-align: center;
}
</style>
