<template>
  <div class="map-component-wrapper">
    <GmapMap
      ref="mapRef"
      :center="center"
      :zoom="zoom || 5"
      :options="options || {}"
      map-type-id="terrain"
      style="width: 100%; height: 100%"
    >
      <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
        <div v-html="infoContent"></div>
      </gmap-info-window>
      <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="m.clickable || true"
        :draggable="m.draggable || true"
        @click="toggleInfoWindow(m,index)"
      />
    </GmapMap>
  </div>
</template>

<script>
import { setLocalStorage } from '../utils'
export default {
  name: 'Map',
  props: {
    options: {
      type: Object,
      default: () => ({
        enableHighAccuracy: true
        // timeout: Infinity, //defaults to Infinity
        // maximumAge: int //defaults to 0
      })
    },
    markers: {
      type: Array,
      default: () => ([])
    },
    zoom: {
      type: Number,
      default: 14
    }
  },
  computed: {
    coordinates: {
      get () {
        return this.$store.getters['geolocation/coordinates']
      },
      set (val) {
        this.$store.commit('geolocation/coordinates', val)
        setLocalStorage('lastCoords', JSON.stringify(val))
      }
    }
  },
  data () {
    return {
      center: {
        lat: 0,
        lng: 0
      },
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      infoContent: '',
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      mapsURLs: {
        search: 'https://www.google.com/maps/search/?api=1&',
        // more info about directions: https://developers.google.com/maps/documentation/urls/guide#directions-examples
        directions: 'https://www.google.com/maps/dir/?api=1&',
        display: 'https://www.google.com/maps/@?api=1&map_action=map&',
        streetview: 'https://www.google.com/maps/@?api=1&map_action=pano&'
      }
    }
  },
  watch: {
    center (coords, oldCoords) {
      console.log('center', { coords, oldCoords })
    }
  },
  methods: {
    toggleInfoWindow (marker, idx) {
      this.infoWindowPos = marker.position
      var icons = ''
      for (var i = 0; i < 5; i++) {
        if (marker.score > i) {
          icons += '<i aria-hidden="true" style="color: #e65100!important;font-size: 1.5em;" role="img" class="material-icons q-icon notranslate">star</i>'
        } else {
          icons += '<i aria-hidden="true" style="color: #e65100!important;font-size: 1.5em;" role="img" class="material-icons q-icon notranslate">star_outline</i>'
        }
      }
      this.infoContent = `
        <div class="text-h6">${marker.name}</div>
        <p>
          ${icons}
        </p>
      `

      // check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen
      } else { // if different marker set infowindow to open and reset current marker index
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    }
  },
  mounted () {
    this.$getLocation(this.options)
      .then(coordinates => {
        // console.log(coordinates)
        this.coordinates = coordinates
        if (this.center.lat === 0 && this.center.lng === 0) {
          this.center.lat = this.coordinates.lat
          this.center.lng = this.coordinates.lng
        }
      })
    this.$refs.mapRef.$mapPromise.then((map) => {
      console.log('[mounted] $mapPromise', this.options && this.options.styles)
      // map.setOptions({ styles: (this.options && JSON.parse(JSON.stringify(this.options.styles))) || [] })
    })
  }
}
</script>
<style lang="scss">
.map-component-wrapper {
  position: relative;
  height: 50vh;
  // width: 97vw;
}
@media screen and (max-width: 600px) {
  .map-component-wrapper {
    height: 42vh;
    // width: 60vw;
  }
}
</style>
