<template>
  <LineChart v-if="showChart" :chart-data="chartData" :options="options" :height="300" :width="Infinity" @resize="renderChart" />
</template>

<script>
import moment from 'moment'
import LineChart from './LineChart.vue'

export default {
  name: 'Chart',
  props: {
    title: {
      type: String,
      required: true
    },
    series: {
      type: Array,
      required: true
    },
    labels: {
      type: Array,
      required: true
    },
    backgroundColor: {
      type: String,
      default: 'rgb(2, 123, 227)'
    },
    borderColor: {
      type: String,
      default: '#0af'
    },
    shopID: {
      type: String,
      required: true
    }
  },
  components: {
    LineChart
  },
  data () {
    const now = new Date()
    return {
      showChart: true,
      options: {
        responsive: true,
        maintainAspectRatio: false
      },
      now: now,
      endOfThisMonth: (new Date(now.getFullYear(), now.getMonth() + 1, 0)),
      dayInMiliseconds: (24 * 60 * 60 * 1000)
    }
  },

  computed: {
    chartData () {
      return {
        labels: this.labels.map(day => day && moment(day).format('MMM DD')),
        datasets: [{
            label: this.title || 'Title',
            backgroundColor: this.backgroundColor, // '#0af', // 'rgb(255, 99, 132)',
            borderColor: this.borderColor, // 'rgb(2, 123, 227)', // 'rgb(255, 99, 132)',
            data: this.series /* [
              0, 10, 5, 2, 20, 30, 45, 10, 40, 52, 72, 62, 93, 98, 87,
              0, 10, 5, 2, 20, 30, 45, 10, 40, 52, 72, 62, 93, 98, 100
            ] */
        }]
      }
    },
    monthDays: {
      get () {
        return this.$store.getters['shop/monthDays']
      },
      set (val) {
        this.$store.commit('shop/monthDays', val)
      }
    }
  },

  methods: {
    renderChart () {
      this.showChart = false
      setTimeout(() => {
        this.showChart = true
      }, 500)
    },
    updateMonthDays () {
      const before30Days = new Date(this.now.getFullYear(), this.now.getMonth() - 1, this.now.getDate() + 1)
      const diff = (Math.round(Math.abs((before30Days.getTime() - this.now.getTime()) / this.dayInMiliseconds))) - 1
      // before30Days.getDate() - this.now.getDate()
      console.log('updateMonthDays', { before30Days, diff })
      const monthDays = []
      for (var i = 0; i <= diff; i++) {
        // if (i === diff - 1) {
        //   continue // skip
        // }
        monthDays.push(new Date(before30Days.getFullYear(), before30Days.getMonth(), before30Days.getDate() + i))
      }
      this.monthDays = monthDays
    }
  },

  mounted () {
    // if (this.monthDays.length === 0) {
    this.updateMonthDays()
    // }
  }
}
</script>
