<template>
  <div v-if="show" class="notifications-wrapper shadow-3">
    <q-list bordered separator :class="`q-ma-none ${isVendor ? 'text-black' : 'text-teal-10'}`">
      <q-item>
        <q-item-section class="text-h6">Notifications</q-item-section>
      </q-item>
      <q-item clickable v-ripple v-for="notification in notifications" :key="notification.id">
        <q-item-section>{{notification.message}}</q-item-section>
      </q-item>
      <q-item v-if="notifications && notifications.length < 1" clickable v-ripple>
        <q-item-section>No notifications found</q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Notifications',

  props: {
    show: {
      type: Boolean,
      required: true
    }
  },

  data () {
    return {}
  },

  computed: {
    ...mapGetters(['isVendor']),
    notifications: {
      get () {
        return this.$store.getters['app/notification']
      },
      set (val) {
        this.$store.commit('app/setNotification', !val)
      }
    }
  }
}
</script>
<style lang="css">
.notifications-wrapper {
  position: absolute;
  top: 3.5em;
  right: 1em;
  width: 90vw;
  z-index: 9999;
  background: white;
  padding: .5em;
}

/* only in screens larger than 600px should have smaller width */
@media screen and (min-width: 600px) {
  .notifications-wrapper {
    width: 20em;
  }
}
</style>
