<template>
    <div class="items-list-wrapper">
      <div v-if="!listMode" class="row">
        <BannerMessage v-if="errMsg" class="q-ma-lg full-width" type="error" msg="" :action="emptyWarningAction" :loading="loading">
          {{ errMsg }}
        </BannerMessage>
        <BannerMessage class="q-mb-lg" v-if="itemsList && itemsList.length === 0" type="info" msg="" :action="emptyWarningAction" :loading="loading">
          No items found
        </BannerMessage>
        <div
          :class="`${fullViewItemID === item.id ? 'col-12 col-xs-12' : 'col-12 col-xs-6 col-sm-4 col-md-3'} q-pa-xs`"
          v-for="item in itemsList" :key="item.id">
          <q-card bordered :class="isVendor ? 'text-black' : 'text-teal-10'">
            <q-card-section class="q-pa-sm">
              <div class="text-h6 q-mb-none">
                <div class="absolute-top-right">
                  <q-btn v-if="fullViewItemID === item.id" round icon="share" size="xs" @click="shareItem(item)"></q-btn>
                  <q-input
                    v-if="showQuantity"
                    dense
                    :bottom-slots="false"
                    class="text-center"
                    v-model.number="itemQuantities[item.id]"
                    type="number"
                    filled
                    :min="1"
                    style="max-width: 75px"
                    @input="itemQuantityUpdated($event, item && item.id)"
                  >
                    <q-tooltip>
                      Quantity of items you want to order
                    </q-tooltip>
                  </q-input>
                  <q-checkbox v-else :checked="isInCart(item.id)" :value="isInCart(item.id)" color="teal" style="margin: auto;" @input="addToCart(item)">
                    <q-tooltip>
                      {{isInCart(item.id) ? 'Remove from shopping cart' : 'Add to shopping cart'}}
                    </q-tooltip>
                  </q-checkbox>
                </div>
                {{item.name}}
              </div>
              <div class="row no-wrap items-right">
                <q-rating readonly size="18px" v-model="item.shop.score" :max="5" color="orange-10" />
                <span class="text-caption text-grey q-ml-sm">{{item.shop.score}}</span>
              </div>
              <div class="text-caption text-grey-8" style="height: 1.7em;overflow: hidden;">
                {{item.description}}
              </div>
            </q-card-section>

            <div class="absolute-bottom-right">
              <q-chip clickable ripple color="teal-10" text-color="white" size="md" @click.stop="addToCart(item)">
                <strong class="q-mr-xs text-h5 text-bold">{{fmtAmount(item.price)}} </strong> <span style="font-weight: 300;">KSh</span>
                <q-tooltip>
                  {{!isInCart(item.id) ? 'Remove from shopping cart' : 'Add to shopping cart'}}
                </q-tooltip>
              </q-chip>
            </div>

            <q-img :contain="fullViewItemID && fullViewItemID === item.id" :src="serverPath(item.cover_image && item.cover_image.file_path)" :ratio="16/9" @click.stop.prevent="fullViewItemID = fullViewItemID != item.id ? item.id : null">
              <div class="absolute-bottom-left bg-transparent" style="padding: 0;">
                <q-chip clickable dense color="primary" text-color="white" size="md" icon="place" v-if="item.shop.distance">{{item.shop.distance}} km</q-chip>
              </div>
            </q-img>

            <q-card-section class="q-pa-xs q-pt-sm">
              <div
                class="text-subtitle1 cursor-pointer ellipsis"
                :title="item.shop.name"
                @click="$router.push(`/vendors/${item.shop.id}`)"
                style="max-width: 60% !important;">
                {{item.shop.name}}
              </div>
            </q-card-section>
          </q-card>

        </div>
      </div>
    <q-list v-else bordered separator clicable>
      <q-item :class="isVendor ? 'text-black' : 'text-teal-10'" v-for="item in itemsList" :key="item.id" :active="isInCart(item.id)">
        <q-item-section v-if="!isVendor" avatar>
          <q-input
            v-if="showQuantity"
            dense
            :bottom-slots="false"
            class="text-center"
            v-model.number="itemQuantities[item.id]"
            type="number"
            filled
            :min="1"
            style="max-width: 75px"
            @input="itemQuantityUpdated($event, item && item.id)"
          >
            <q-tooltip>
              Quantity of items you want to order
            </q-tooltip>
          </q-input>
          <q-checkbox v-else :checked="isInCart(item.id)" :value="isInCart(item.id)" color="teal" style="margin: auto;" @input="addToCart(item)" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{item.name}}</q-item-label>
          <q-item-label caption class="text-weight-thin">
            <q-chip outline size="sm" color="positive" text-color="white" icon="check_circle">
              {{item.category && item.category.name}}
            </q-chip>
            {{item.description}}
          </q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-item-label caption>
            <strong>{{item.price}}</strong> KSh.
          </q-item-label>
          <q-item-label caption class="text-weight-thin">
            <q-chip clickable dense class="text-weight-bold q-ma-none" color="primary" text-color="white" size="sm" icon="place" v-if="item.shop.distance">{{item.shop.distance}} km</q-chip>
            {{item.shop.name}}
            <q-btn
              v-if="showQuantity"
              round
              :color="isInCart(item.id) ? 'negative' : 'blue-grey-10'"
              size="xs"
              :icon="isInCart(item.id) ? 'clear' : 'add'"
              @click="addToCart(item)">
              <q-tooltip>
                {{ isInCart(item.id) ? 'Remove from shopping cart' : 'Add to shopping cart'}}
              </q-tooltip></q-btn>
          </q-item-label>
        </q-item-section>
      </q-item>

    </q-list>
    <div v-if="!showQuantity" :class="'text-center q-pa-md ' + (isVendor ? 'text-black' : 'text-teal-10')">
      <div class="text-subtitle1 text-thin" v-if="cartItemsIDs && cartItemsIDs.length > 0">
        {{`You have ${cartItemsIDs.length} ${cartItemsIDs.length > 1 ? ' items' : 'item'} in your shopping cart`}}
        <q-btn flat color="primary" label="Go to cart" to="/shopping-cart"></q-btn>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import BannerMessage from './BannerMessage.vue'

export default {
  name: 'ProductList',

  components: {
    BannerMessage
  },

  props: {
    items: {
      type: Array,
      required: true
    },
    showQuantity: {
      type: Boolean,
      default: false
    },
    listMode: {
      type: Boolean,
      default: false
    },
    errMsg: {
      type: String,
      default: null
    },
    loading: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      itemQuantities: {},
      fullViewItemID: null
    }
  },

  computed: {
    ...mapGetters(['isVendor']),
    itemsList () {
        return this.items.slice().sort((a, b) => a && a.distance > b.distance ? 1 : -1)
    },
    cartItemsIDs () {
      return this.$store.getters['shop/cartItemsIDs']
    },
    emptyWarningAction () {
      return {
        label: 'Go back',
        click: this.goBack
      }
    }
  },

  watch: {
    items (val) {
      this.updateCounters()
    }
  },
  methods: {
    shareItem (item) {
      this.$store.commit('app/shareItem', item)
    },
    goBack () {
      return this.$router && this.$router.back
    },
    serverPath (url) {
      if (url && url.indexOf('/webapps/iweydi-shop/api/bin/') > -1) {
        url = url.replace('/webapps/iweydi-shop/api/bin/', '')
      }
      return `${this.$store.getters.baseURL}${url || 'static/No_Image_Available.jpg'}`
    },
    itemQuantityUpdated (quantity, itemID) {
      this.$emit('quantity-updated', { id: itemID, quantity })
    },
    addToCart (item) {
      this.$store.dispatch('shop/addToCart', item)
    },
    isInCart (id) {
      return this.cartItemsIDs && this.cartItemsIDs.includes(id)
    },
    updateCounters () {
      if (!this.items) {
        return
      }
      this.items.forEach(item => {
        if (typeof this.itemQuantities[item.id] === 'undefined' || this.itemQuantities[item.id] < 1) {
          this.itemQuantities[item.id] = 1
        }
      })
      this.$forceUpdate()
    },
    fmtAmount (amount, currency) {
      amount = Number(amount).toLocaleString()
      if (!currency) {
        return amount
      }
      if (currency === 'KSh' || currency === 'KES') {
        return `${amount} ${currency}`
      }
      return `${currency} ${amount}`
    }
  },

  mounted () {
    console.log('mounted', this.items)
    this.updateCounters()
  }
}
</script>
<style>
.text-center input {
  text-align: center;
}
</style>
