<template>
  <div class="q-pa-md q-card q-card--bordered">
    <q-form
      id="update-shop-form"
      autocomplete="off"
      @submit="onSubmit"
      @reset="onReset"
      :class="`q-gutter-md ${isVendor ? 'text-black' : 'text-teal-10'}`"
    >
      <q-input
        filled
        v-model="newProduct.name"
        name="name"
        :label="$t('Item name *')"
        :hint="$t('The product name')"
        lazy-rules
        :rules="[ val => val && val.length > 0 || $t('Please type something')]"
      />
      <q-input
        filled
        v-model="newProduct.description"
        name="description"
        :label="$t('Item description *')"
        :hint="$t('The product description')"
      />
      <q-input
        filled
        v-model="newProduct.price"
        name="price"
        type="number"
        :step="1.00"
        :label="$t('Item price *')"
        :hint="$t('The product price')"
        lazy-rules
        :rules="[ val => val && val > 0 || $t('Please type something')]"
      />
      <q-input
        filled
        v-model="newProduct.available_quantity"
        name="available_quantity"
        type="number"
        :step="1"
        :min="1"
        :label="$t('Available quantity *')"
        :hint="$t('The maximum order of items a customer can request')"
        lazy-rules
        :rules="[ val => val && val > 0 || $t('Please type something')]"
      />

      <!-- <q-uploader
        hide-upload-btn
        url="/upload"
        name="files"
        label="Product images"
        multiple
        accept=".jpg, image/*"
      /> -->

      <div class="row wrap">
        <div class="col-12 col-sm-12">
          <div class="text-h6">Images</div>
        </div>
        <div class="col-xs-12 col-sm-5 q-pa-xs">
          <q-file
            color="teal"
            filled
            v-model="newProduct.files"
            name="files"
            label="Select product images"
            accept="image/*">
            <template v-slot:prepend>
              <q-icon name="image_search" />
            </template>
          </q-file>
        </div>
        <div :class="`col-xs-12 col-sm-2 ${$q.screen.gt.xs ? 'q-pt-lg' : ''} text-center`">
          OR
        </div>
        <div class="col-xs-12 col-sm-5 q-pa-xs">
          <q-file
            color="teal"
            filled
            v-model="newProduct.files"
            name="files"
            label="Take product photo"
            accept="image/*"
            capture="camera" >
            <template v-slot:prepend>
              <q-icon name="add_a_photo" />
            </template>
          </q-file>
        </div>
        <!-- <div class="col-3 col-xs-4 col-sm-4 col-md-4 text-center q-pl-sm" style="">
          <input type="file" name="take_photo" id="photo_uploader" accept="image/*" style="display: none;">
          <q-file
            color="teal"
            filled
            v-model="newProduct.files"
            name="files"
            label="Take photo"
            accept="image/*"
            capture="camera" >
            <template v-slot:prepend>
              <q-icon name="camera_alt" />
            </template>
          </q-file>
        </div> -->
        <div class="col-xs-6 col-sm-4 col-md-3 q-pa-xs" >
            <q-card class="cursor-pointer">
              <q-img
                :src="serverPath(newProduct.cover_image && newProduct.cover_image.file_path)"
                basic
                :ratio="16/16"
              >
                <div class="absolute-top text-h6 text-center">
                  Selected Cover
                </div>
                <q-btn
                  v-if="newProduct.cover_image && newProduct.cover_image.file_path"
                  round
                  color="negative"
                  class="absolute-bottom-right q-ma-sm"
                  icon="delete"
                  @click="removeProductImage({ shopID: newProduct.shop.id, productID: newProduct.id, image: newProduct.cover_image })"
                  ></q-btn>
                <template v-slot:loading>
                  <div class="text-yellow">
                    <q-spinner-ios />
                    <div class="q-mt-md">Loading...</div>
                  </div>
                </template>
              </q-img>
            </q-card>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 q-pa-xs" v-for="image in (newProduct.images || []).filter(a => a && (!(newProduct.cover_image && newProduct.cover_image.file_path) || newProduct.cover_image.file_path != a.file_path))" :key="image.id"  style="">
            <q-card class="cursor-pointer" @click="newProduct.cover_image = image">
              <q-img
                :src="serverPath(image.file_path)"
                basic
                :ratio="16/16"
              >
                <div class="absolute-top text-h6 text-center">
                  Set as cover
                </div>
                <div class="absolute-bottom text-h6 text-center">
                  {{image.description}}
                </div>
                <q-btn round color="negative" class="absolute-bottom-right q-ma-sm" icon="delete" @click="removeProductImage({ shopID: newProduct.shop.id, productID: newProduct.id, image })"></q-btn>
                <template v-slot:loading>
                  <div class="text-yellow">
                    <q-spinner-ios />
                    <div class="q-mt-md">Loading...</div>
                  </div>
                </template>
                <template v-slot:error>
                  <div class="absolute-full flex flex-center bg-negative text-white">
                    Cannot load image
                  </div>
                </template>
              </q-img>
            </q-card>
        </div>
      </div>

      <div class="row wrap">
        <div class="col-12 col-sm-12">
          <div class="text-h6">
            <q-chip outline clickable class="float-right" size="md" color="teal" text-color="white" :icon="showCategories ? 'expand_less' : 'expand_more'" @click="showCategories = !showCategories">
              {{showCategories ? 'Hide' : 'Show'}}
            </q-chip>
            Category:
            <q-chip v-if="!showCategories" square class="float-right full-width" :size="$q.screen.gt.xs ? '3em' : '1em'" color="grey-3" text-color="grey-10" @click="showCategories = true">
              <q-avatar v-if="newProduct.category && newProduct.category.image_url">
                <img :src="newProduct.category.image_url">
              </q-avatar>
              {{newProduct.category && newProduct.category.name}}
            </q-chip>
          </div>
        </div>
        <template v-if="showCategories">
          <q-tree :nodes="categoriesNodes" node-key="name" :default-expand-all="showCategories">
            <template v-slot:header-root="prop">
              <div class="row items-center cursor-pointer">
                <q-img :src="newProduct.category && newProduct.category.image_url" class="avatar q-mr-sm" height="200px" width="350px">
                  <div class="absolute-bottom text-h6 text-center">
                    <q-icon name="check_circle" color="light-green-13" size="lg"></q-icon>
                    <div class="text-light-green-13" :data-prop-name="prop.node.name">
                      {{ newProduct.category.name }}
                    </div>
                  </div>
                </q-img>
                <!-- <div>
                  <q-badge color="orange" class="q-ml-sm">New!</q-badge>
                </div> -->
              </div>
            </template>

            <template v-slot:header-generic="prop">
              <div class="row items-center cursor-pointer">
                <q-icon
                  :name="newProduct.category && newProduct.category.id === prop.node.id ? 'check_circle' : 'cancel'"
                  :color="newProduct.category && newProduct.category.id === prop.node.id ? 'light-green-7' : 'orange'"
                  size="28px"
                  class="q-mr-sm"
                  @click="newProduct.category = prop.node" />
                <div
                  :class="`text-weight-bold ${newProduct.category && newProduct.category.id === prop.node.id ? 'text-light-green-7' : 'text-primary'} `"
                  @click="newProduct.category = prop.node" >
                  {{ prop.node.name }}
                </div>
              </div>
            </template>

            <template v-slot:body-story="prop">
              <span class="text-weight-thin">The story is:</span> {{ prop.node.story }}
            </template>

            <template v-slot:body-toggle="prop">
              <p class="text-caption">{{ prop.node.description }}</p>
              <q-toggle v-model="prop.node.enabled" label="I agree to the terms and conditions" />
            </template>
          </q-tree>
          <!-- <div class="col-xs-6 col-sm-4 col-md-3 q-pa-xs" v-for="item in categories" :key="item.id"  style="">
            <q-card class="cursor-pointer" @click="newProduct.category = item;showCategories = false">
              <q-img
                :src="item.image_url"
                basic
                :ratio="16/16"
              >
                <div class="absolute-bottom text-h6 text-center">
                  <q-icon :name="newProduct.category && newProduct.category.id === item.id ? 'check_circle' : 'cancel'" :color="newProduct.category && newProduct.category.id === item.id ? 'light-green-13' : ''" size="lg"></q-icon>
                  <div :class="newProduct.category && newProduct.category.id === item.id ? 'text-light-green-13' : ''">{{item.name}}</div>
                </div>
                <template v-slot:loading>
                  <div class="text-yellow">
                    <q-spinner-ios />
                    <div class="q-mt-md">Loading...</div>
                  </div>
                </template>
              </q-img>
            </q-card>
          </div> -->
        </template>
      </div>

      <div class="text-right">
        <q-btn :loading="loading" type="submit" color="teal-10" label="Save"></q-btn>
        <q-btn type="reset" color="negative" flat label="Cancel"></q-btn>
      </div>
    </q-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { API } from '../utils'
export default {
  name: 'ProductForm',
  props: {
    shop: {
      type: Object,
      required: true
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    selectedProduct: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      newProduct: {
        name: '',
        description: '',
        shop: null,
        category: null,
        price: '1.00',
        tax: 0.0,
        total_price: '1.00',
        quantity: 1,
        files: null
      },
      loading: false,
      showCategories: true,
      custom: [
        {
          label: 'Satisfied customers',
          header: 'root',
          children: [
            {
              label: 'Good food',
              icon: 'restaurant_menu',
              header: 'generic',
              children: [
                {
                  label: 'Quality ingredients',
                  header: 'generic',
                  body: 'story',
                  story: 'Lorem ipsum dolor sit amet.'
                },
                {
                  label: 'Good recipe',
                  body: 'story',
                  story: 'A Congressman works with his equally conniving wife to exact revenge on the people who betrayed him.'
                }
              ]
            },
            {
              label: 'Good service',
              header: 'generic',
              body: 'toggle',
              caption: 'Why are we as consumers so captivated by stories of great customer service? Perhaps it is because...',
              enabled: false,
              children: [
                { label: 'Prompt attention' },
                { label: 'Professional waiter' }
              ]
            },
            {
              label: 'Pleasant surroundings',
              children: [
                { label: 'Happy atmosphere' },
                { label: 'Good table presentation', header: 'generic' },
                { label: 'Pleasing decor' }
              ]
            }
          ]
        }
      ]
    }
  },
  computed: {
    ...mapGetters(['isVendor']),
    categories () {
      return this.$store.getters['app/categories']
    },
    categoriesNodes () {
      const parents = this.categories
        .filter(category => category && !category.parent)
        .map(parent => ({
          ...parent,
          header: 'generic',
          description: parent.description,
          children: this.categories.filter(child => child && child.parent && child.parent.id === parent.id)
            .map(child => ({
              ...child,
              header: 'generic',
              description: child.description
            }))
        }))
      return [{
        children: parents,
        header: 'root',
        name: 'Categories'
      }]
    }
  },
  watch: {
    selectedProduct (val) {
      console.log('watch::selectedProduct', val && val.id)
      if (this.isEdit && this.selectedProduct && this.selectedProduct.id) {
        this.newProduct = { ...JSON.parse(JSON.stringify(this.selectedProduct)), files: null }
        // this.showCategories = false
      }
    }
  },
  methods: {
    serverPath (url) {
      if (url && url.indexOf('/webapps/iweydi-shop/api/bin/') > -1) {
        url = url.replace('/webapps/iweydi-shop/api/bin/', '')
      }
      return `${this.$store.getters.baseURL}${url || 'static/No_Image_Available.jpg'}`
    },
    uploadImages ({ shopID, productID, imageType }) {
      if (!this.newProduct.files) {
        console.error('select images to upload')
        return
      }

      if (!imageType) {
        imageType = 'product'
      }

      const formData = new FormData()
      const url = `/my-shops/${shopID}/products/${productID}/image?file_type=${imageType}`

      formData.append('shop_id', shopID)
      formData.append('product_id', productID)
      formData.append('file_type', imageType)
      formData.append('file', this.newProduct.files)

      API(this, {
        url,
        method: 'post',
        data: formData,
        headers: {
          'Content-Type': 'multipart/form-data',
          Accept: 'multipart/form-data, application/json, text/plain, */*'
        },
        loading: 'show '
      }).then(resp => {
        console.log('uploadImages response', resp)
        this.$emit('reset', { update: true })
      }).catch(err => {
        console.log('uploadImages error', err)
      })
    },
    removeProductImage ({ shopID, productID, image }) {
      if (!(image && image.id)) {
        console.error('invalid image: ' + image)
        return
      }
      const url = `/my-shops/${shopID}/products/${productID}/image?images=${image.id}`

      API(this, {
        url,
        method: 'delete'
      }).then(resp => {
        console.log('removeProductImage response', resp)
        if (this.newProduct.images && this.newProduct.images.length > 0) {
          for (var i = this.newProduct.images.length - 1; i >= 0; i++) {
            if (this.newProduct.images[i] && this.newProduct.images[i].id === image.id) {
              this.newProduct.images.splice(i, 1)
            }
          }
        }
        if (this.newProduct.cover_image && this.newProduct.cover_image.id === image.id) {
          this.newProduct.cover_image = {}
        }
        this.$emit('reset', { updateOnly: true })
      }).catch(err => {
        console.log('removeProductImage error', err)
      })
    },
    onSubmit () {
      console.log('onSubmit')
      if (!(this.shop && this.shop.id)) {
        console.error('invalid shop id: ' + this.shop)
        return
      }
      API(this, {
        url: `/my-shops/${this.shop.id}/products`,
        method: this.isEdit ? 'put' : 'post',
        data: {
          ...this.newProduct,
          available_quantity: parseInt(this.newProduct.available_quantity),
          price: parseFloat(this.newProduct.price),
          tax: parseFloat(this.newProduct.tax),
          total_price: parseFloat(parseInt(this.newProduct.available_quantity) * (parseFloat(this.newProduct.price) + parseFloat(this.newProduct.tax))),
          quantity: parseInt(this.newProduct.available_quantity)
        }
      }).then(resp => {
        console.log('newProduct response', resp)
        if (resp.data && resp.data.msg === 'Success') {
          // this.onReset(true)
          if (this.newProduct.files !== null) {
            this.uploadImages({ shopID: this.shop.id, productID: resp.data.product_id })
          }
        }
      }).catch(err => {
        console.log('newProduct error', err)
      })
    },
    onReset (update) {
      console.log('onReset')
      this.newProduct = {
        name: '',
        description: '',
        shop: this.shop,
        category: null,
        price: 1.0,
        tax: 0.0,
        total_price: 1.0,
        quantity: 1,
        files: null
      }
      this.$emit('reset', { update })
    }
  },

  mounted () {
    this.newProduct.shop = this.shop
    if (this.categories && this.categories.length > 0 && this.newProduct.category === null) {
      this.newProduct.category = this.categories[0]
    }
    if (this.isEdit && this.selectedProduct && this.selectedProduct.id) {
      this.newProduct = { ...JSON.parse(JSON.stringify(this.selectedProduct)), files: null }
    }
  }
}
</script>
