<template>
  <div v-show="showPopup">
    <q-dialog
      v-model="showPopup"
      persistent
      full-width
      full-height
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card v-if="shareItem" bordered :class="(isVendor ? 'text-black' : 'text-teal-10') + ' q-pa-sm'">
        <q-card-section class="q-pa-sm">
          <div class="text-h6 q-mb-none">
            <div class="absolute-top-right">
              <q-btn round icon="close" size="xs" @click="$store.commit('app/shareItem', null)"></q-btn>
            </div>
            Share item: {{shareItem.name}}
          </div>
          <div class="row no-wrap items-right">
            <q-rating readonly size="18px" v-model="shareItem.shop.score" :max="5" color="orange-10" />
            <span class="text-caption text-grey q-ml-sm">{{shareItem.shop.score}}</span>
          </div>
          <div class="text-caption text-grey-8" style="height: 1.7em;overflow: hidden;">
            {{shareItem.description}}
          </div>
        </q-card-section>

        <div class="absolute-bottom-right">
          <q-chip clickable ripple color="teal-10" text-color="white" size="md" @click.stop="addToCart(item)">
            <strong class="q-mr-xs text-h5 text-bold">{{fmtAmount(shareItem.price)}} </strong> <span style="font-weight: 300;">KSh</span>
            <q-tooltip>
              <!-- {{!isInCart(shareItem.id) ? 'Remove from shopping cart' : 'Add to shopping cart'}} -->
              Share item
            </q-tooltip>
          </q-chip>
        </div>

        <q-img :src="serverPath(shareItem.cover_image && shareItem.cover_image.file_path)" :ratio="16/9" >
          <div class="absolute-bottom-left bg-transparent" style="padding: 0;">
            <q-chip clickable dense color="primary" text-color="white" size="md" icon="place" v-if="shareItem.shop.distance">{{shareItem.shop.distance}} km</q-chip>
          </div>
        </q-img>

        <q-card-section class="q-pa-xs q-pt-sm">
          <div
            class="text-subtitle1 cursor-pointer ellipsis"
            :title="shareItem.shop.name"
            @click="$router.push(`/vendors/${shareItem.shop.id}`)"
            style="max-width: 60% !important;">
            {{shareItem.shop.name}}
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'share-popup',
  data () {
    return {}
  },

  computed: {
    ...mapGetters(['isVendor']),
    shareItem () {
      return this.$store.getters['app/shareItem']
    },
    showPopup: {
      get () {
        return this.shareItem !== null
      },
      set (show) {
        console.log('showPopup', { show })
        if (!show) {
          this.$store.commit('app/shareItem', null)
        }
      }
    }
  },

  methods: {
    fmtAmount (amount, currency) {
      amount = Number(amount).toLocaleString()
      if (!currency) {
        return amount
      }
      if (currency === 'KSh' || currency === 'KES') {
        return `${amount} ${currency}`
      }
      return `${currency} ${amount}`
    },
    serverPath (url) {
      if (url && url.indexOf('/webapps/iweydi-shop/api/bin/') > -1) {
        url = url.replace('/webapps/iweydi-shop/api/bin/', '')
      }
      return `${this.$store.getters.baseURL}${url || 'static/No_Image_Available.jpg'}`
    }
  }
}
</script>
