<template>
  <div>
    <div class="customer-drawer" v-if="!isVendor">
      <q-drawer
        v-model="leftDrawer"
        :width="200"
        :breakpoint="500"
        show-if-above
        bordered
        content-class="bg-grey-1"
      >
        <div class="absolute-bottom bg-transparent q-pt-lg q-pl-xs q-pr-xs">
          <span class="float-left">Customer</span>
          <span class="float-right">v{{appVersion}}</span>
        </div>
        <q-list style="margin-top: 150px; border-right: 1px solid #ddd">
          <!-- <q-item-label
            header
            class="text-grey-8"
          >
            Essential Links
          </q-item-label> -->
          <EssentialLink
            v-for="link in customerLinks"
            :key="link.title"
            v-bind="link"
          />
        </q-list>

        <q-img class="absolute-top cursor-pointer" :src="images.material2" style="height: 150px" @click="$router.push('/profile')">
            <div class="absolute-bottom bg-transparent">
              <!-- <q-avatar size="56px" class="q-mb-sm">
                <img src="https://cdn.quasar.dev/img/boy-avatar.png">
              </q-avatar> -->
              <q-avatar :color="isVendor ? 'black' : 'teal-10'" text-color="white">
                {{ avatarLetter }}
              </q-avatar>
              <div class="text-weight-bold">{{fullName}}</div>
              <div>@{{username}}</div>
            </div>
          </q-img>
      </q-drawer>
    </div>
    <div class="seller-drawer" v-else>
      <q-drawer
      v-model="leftDrawer"
      :width="200"
      :breakpoint="500"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <div class="absolute-bottom bg-transparent q-pt-lg q-pl-xs q-pr-xs">
        <span class="float-left">Seller</span>
        <span class="float-right">v{{appVersion}}</span>
      </div>
      <q-list style="margin-top: 150px; border-right: 1px solid #ddd">
        <q-item-label
          header
          :class="isVendor ? 'text-black' : 'text-teal-10'"
        >
          <!-- Essential Links -->
        </q-item-label>
        <EssentialLink
          v-for="link in sellerLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>

      <q-img class="absolute-top cursor-pointer" :src="images.material2" style="height: 150px" @click="$router.push('/profile')">
        <div class="absolute-bottom bg-transparent">
          <!-- <q-avatar size="56px" class="q-mb-sm">
            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
          </q-avatar> -->
            <q-avatar color="primary" text-color="white">
            {{ avatarLetter }}
          </q-avatar>
          <div class="text-weight-bold">{{fullName}}</div>
          <div>@{{username}}</div>
        </div>
      </q-img>
    </q-drawer>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import EssentialLink from './EssentialLink'

export default {
  name: 'Sidebar',
  props: {
    leftDrawerOpen: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      images: {
        mountain: 'https://www.worldatlas.com/r/w1200-h630-c1200x630/upload/d4/4d/db/mount-kenya.jpg',
        material: 'https://cdn.quasar.dev/img/material.png',
        material2: 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Mount_Kenya_2010.jpg/1200px-Mount_Kenya_2010.jpg'
      },
      sellerLinks: [
        {
          title: 'Home',
          caption: 'page',
          icon: 'home',
          to: '/',
          is_public: true,
          authenticated: false
        },
        {
          title: 'My Shops',
          caption: 'or Vendors',
          icon: 'store',
          to: '/my-shops',
          authenticated: true
        },
        {
          title: 'My Products',
          caption: 'items',
          icon: 'list_alt',
          to: '/my-products',
          authenticated: true
        },
        {
          title: 'Messages',
          caption: 'chat',
          icon: 'chat',
          to: '/chat',
          authenticated: true,
          badgeCounter: this.cartItemsCount
        },
        {
          title: 'Customer Orders',
          caption: 'list',
          icon: 'ballot',
          to: '/customer-orders',
          authenticated: true
        },
        {
          title: 'Settings',
          caption: 'page',
          icon: 'settings',
          to: '/settings',
          authenticated: true
        },
        {
          title: 'Login',
          caption: 'page',
          icon: 'vpn_key',
          to: '/accounts/login',
          authenticated: false
        },
        {
          title: 'Signup',
          caption: 'page',
          icon: 'person_add',
          to: '/accounts/signup',
          authenticated: false
        },
        {
          title: 'Logout',
          caption: 'from app',
          icon: 'power_settings_new',
          to: '/accounts/logout',
          authenticated: true
        }
      ]
    }
  },
  components: {
    EssentialLink
  },
  computed: {
    ...mapGetters(['authUser', 'isVendor']),
    appVersion () {
      return this.$store.getters['app/appVersion']
    },
    fullName () {
      return this.authUser && this.authUser.profile && this.authUser.profile && `${this.authUser.profile.first_name} ${this.authUser.profile.last_name}`
    },
    username () {
      return (this.authUser && this.authUser.username) || 'guest'
    },
    avatarLetter () {
      if (this.authUser && this.authUser.profile && this.authUser.profile.first_name.length > 0) {
        return this.authUser.profile.first_name.charAt(0) +
               (this.authUser.profile.last_name && this.authUser.profile.last_name.length > 0 && this.authUser.profile.last_name[0]) || ''
      } else if (this.username && this.username.length > 0) {
        return this.username.charAt(0)
      }
      return 'A'
    },
    leftDrawer: {
      get () {
        return this.leftDrawerOpen
      },
      set (val) {
        this.$emit('toggle-sidebar', val === true)
      }
    },
    customerLinks () {
      return [
        {
          title: 'Home',
          caption: 'page',
          icon: 'home',
          to: '/',
          is_public: true,
          authenticated: false
        },
        {
          title: 'Vendors',
          caption: 'nearby',
          icon: 'store',
          to: '/vendors',
          authenticated: true
        },
        {
          title: 'Orders',
          caption: 'list',
          icon: 'list_alt',
          to: '/orders',
          authenticated: true
        },
        {
          title: 'Messages',
          caption: 'chat',
          icon: 'chat',
          to: '/chat',
          authenticated: true,
          badgeCounter: this.cartItemsCount
        },
        {
          title: 'Cart',
          caption: 'items',
          icon: 'shopping_cart',
          to: '/shopping-cart',
          authenticated: true,
          badgeCounter: this.cartItemsCount
        },
        {
          title: 'Settings',
          caption: 'page',
          icon: 'settings',
          to: '/settings',
          authenticated: true
        },
        {
          title: 'Login',
          caption: 'page',
          icon: 'vpn_key',
          to: '/accounts/login',
          authenticated: false
        },
        {
          title: 'Signup',
          caption: 'page',
          icon: 'person_add',
          to: '/accounts/signup',
          authenticated: false
        },
        {
          title: 'Logout',
          caption: 'from app',
          icon: 'power_settings_new',
          to: '/accounts/logout',
          authenticated: true
        }
      ]
    }
  },
  methods: {
    cartItemsCount () {
      return this.$store.getters['shop/cartItemsCount'] || 0
    }
  }
}
</script>
