<template>
  <div>
    <div class="new-subscription">
      <div class="text-h6">Subscription</div>
      <table class="subscription">
        <tr class="header-row">
          <th class="text-left">Feature</th>
          <th :class="`bg-${colColors[col.name]} text-white text-uppercase`" v-for="col in subscriptionTypes" :key="col.name">
            {{col.name}}
          </th>
        </tr>
        <tr class="body-rows" v-for="row in rows" :key="row.key">
          <th class="text-left">{{row.label}}</th>
          <td :class="`text-${colColors[col.name]} text-bold`" class="text-center" v-for="col in subscriptionTypes" :key="col.name">
            <span v-if="row.key != 'amount'">{{typeof col[row.key] === 'number' ? Number(col[row.key]).toLocaleString() : col[row.key]}}</span>
            <span class="text-h6" v-else><small>{{symbols[col.currency]}}</small> <strong> {{col.amount}}</strong></span>
          </td>
        </tr>
        <tr>
          <th style="border-top: 1px solid rgba(0,0,0,0.3);"></th>
          <td :class="`text-${colColors[col.name]} text-bold text-center`" v-for="col in subscriptionTypes" :key="col.name" style="padding: 0em !important;">
            <q-btn class="full-width no-border-radius" :color="colColors[col.name]" size="lg">Select</q-btn>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import subscriptions from '../data/subscriptions.json'

export default {
  // name: 'ComponentName',
  data () {
    return {
      rows: [
        { key: 'description', label: 'Description' },
        { key: 'max_products', label: 'Max. products' },
        { key: 'max_product_price', label: 'Max. product price' },
        { key: 'max_distance', label: 'Max. distance radius' },
        { key: 'amount', label: 'Price' }
      ],
      subscriptionTypes: subscriptions.map(a => {
        console.log('subscriptions', a)
        return {
          ...a,
          amount: typeof a.amount === 'number' && a.amount === -1 ? 'Contact us' : Number(a.amount).toLocaleString(),
          currency: typeof a.amount === 'number' && a.amount === -1 ? '' : a.currency,
          max_products: typeof a.max_products === 'number' && a.max_products === -1 ? 'Contact us' : a.max_products,
          max_distance: typeof a.max_distance === 'number' && a.max_distance === -1 ? 'Contact us' : a.max_distance,
          max_product_price: typeof a.max_product_price === 'number' && a.max_product_price === -1 ? 'Contact us' : a.max_product_price
        } // a && typeof a === 'number' && a === -1 ? 'Contact' : a
      }),
      colColors: {
        free: 'grey-8',
        basic: 'teal-10',
        standard: 'amber-10',
        premium: 'light-green-10',
        custom: 'blue-grey-10'
      },
      symbols: {
        KES: 'KSh',
        USD: '$',
        undefined: '',
        null: '',
        '': ''
      }
    }
  }
}
</script>
<style>
table.subscription {
  border-spacing: 0;
  border: 1px solid rgba(0,0,0,0.5);
  border-right: none;
}
table.subscription tr th,
table.subscription tr td {
  max-width: 8em;
  padding: 1em 2em;
  margin: -0.2em;
  border-right: 1px solid;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
</style>
