<template>
    <label
      for="g-autocomplete"
      :class="`g-autocomplete-wrapper q-field row no-wrap items-start q-input ${focused ? 'q-field--focused' : ''} ${(focused || newPhoneNumber) ? 'q-field--float' : ''} q-field--filled q-field--labeled q-field--with-bottom`"
    >
      <div class="q-field__inner relative-position col self-stretch column justify-center">
        <div tabindex="-1" class="q-field__control relative-position row no-wrap">
          <div class="q-field__control-container col relative-position row no-wrap q-anchor--skip">
            <vue-tel-input
              id="new-phone-number"
              v-model="newPhoneNumber"
              :disabled="disable"
              wrapperClasses="q-field__control relative-position row no-wrap"
              inputClasses="q-field__native q-placeholder vue-tel-input--input"
              :preferredCountries="['KE']"
              defaultCountry="KE"
              @input="phoneNumberChanged"
              @focus="focused = true"
              @blur="focused = false"
              style="border: none;border-radius: 4px 4px 0 0;"
            ></vue-tel-input>
            <div v-if="label" class="q-field__label no-pointer-events absolute ellipsis" style="margin-left: 4em;">{{label}}</div>
            <div v-if="!phoneNumberValid && newPhoneNumber" class="text-red q-field__bottom row items-start q-field__bottom--animated"><div class="q-field__messages col"><div>Please enter a valid phone number</div></div></div>
          </div>
        </div>
        <div class="q-field__bottom row items-start q-field__bottom--animated">
          <div class="q-field__messages col">
            <div v-if="hint && (phoneNumberValid || !newPhoneNumber)">{{hint}}</div>
          </div>
        </div>
      </div>
    </label>
</template>

<script>
import { VueTelInput } from 'vue-tel-input'

export default {
  name: 'TelInput',

  props: {
    value: {
      type: Object,
      required: true
    },
    label: {
      type: String,
      default: 'Enter phone number'
    },
    hint: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'phone'
    },
    disable: {
      type: Boolean,
      default: false
    }
  },

  components: {
    'vue-tel-input': VueTelInput
  },

  data () {
    return {
      focused: false,
      phoneNumberValid: true,
      newPhoneNumber: '',
      country: null,
      phone: ''
    }
  },

  methods: {
    phoneNumberChanged (number, isValid, country) {
      console.log('phoneNumberChanged', { number, isValid, country: JSON.stringify(isValid && isValid.country) })
      this.phoneNumberValid = isValid && isValid.valid
      if (isValid && isValid.valid && isValid.number && isValid.number.e164) {
          this.phone = isValid.number.e164
          if (isValid && isValid.country && isValid.country.iso2) {
              this.country = {
                  label: isValid.country.name,
                  value: isValid.country.iso2
              }
          }
      }
      this.$emit('input', {
        number: this.phone,
        valid: this.phoneNumberValid,
        country: this.country
      })
    }
  },

  mounted () {
    if (this.name) {
      document.querySelector('#new-phone-number input').setAttribute('name', this.name)
    }
    if (this.value && this.value.number) {
      this.newPhoneNumber = this.value.number
    }
  }
}
</script>
<style>
#new-phone-number,
#new-phone-number input {
  width: 100%;
  background-color: transparent;
}
.g-autocomplete-wrapper.q-field--filled .q-field__control {
  padding: 0;
}

#new-phone-number input {
  padding: 0 12px;
  font-size: 14px;
  margin-top: 14px;
}
/* .g-autocomplete-wrapper.q-field--filled.q-field--focused .q-field__control:before {
  background: transparent;
} */
.vue-tel-input:focus-within {
  box-shadow: none !important;
}
</style>
