<template>
  <div>
    <q-form
      id="update-shop-form"
      autocomplete="off"
      @submit="onSubmit"
      @reset="onReset"
      :class="`q-gutter-md ${isVendor ? 'text-black' : 'text-teal-10'}`"
    >
      <q-input
        filled
        v-model="shop.name"
        name="shop_name"
        :label="$t('Your shop or company name *')"
        :hint="$t('The name of your business')"
        lazy-rules
        :rules="[ val => val && val.length > 0 || $t('Please type something')]"
      />

      <Autocomplete v-model="shop.coords" label="Vendor Address" hint="The street or the building business is located" />

      <div class="text-right">
        <q-btn type="submit" color="teal-10" label="Save"></q-btn>
        <q-btn type="reset" color="negative" flat label="Cancel"></q-btn>
      </div>
    </q-form>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Autocomplete from './Autocomplete.vue'
import { API } from '../utils'

export default {
  name: 'VendorForm',
  props: {
    shop: {
      type: Object,
      required: true
    }
  },
  components: {
    Autocomplete
  },
  data () {
    return {
    }
  },

  computed: {
    ...mapGetters(['isVendor'])
  },

  methods: {
    onSubmit () {
      console.log('onSubmit')
      API(this, {
        url: `/my-shops/${this.shop.id}`,
        method: 'put',
        data: this.shop
      }).then(resp => {
        console.log('shop updated', resp.data)
        this.$emit('reset')
      }).catch(err => {
        console.log('shop update failed:', err)
      })
    },
    onReset () {
      console.log('onReset')
      this.$emit('reset')
    }
  }
}
</script>
