<template>
  <div class="fit row wrap full-height q-pl-md q-pr-md q-col-gutter-md q-pt-md q-pb-md">
    <div class="col-xs-12">
      <div class="text-h4">Business performance</div>
    </div>
    <div class="col-xs-12" v-for="shop in shops" :key="shop.id">
      <div class="text-h6">{{shop.name}}</div>
      <MonthlyChart :shopID="shop.id" :series="performance.totals" :labels="performance.count_labels" :title="`Sales (Ksh)`" backgroundColor="#2e7d32" borderColor="#4caf50"/>
      <MonthlyChart :shopID="shop.id" :series="performance.counts" :labels="performance.total_labels" :title="`Number of orders`"/>
    </div>
    <div class="col-xs-12">
      <div class="text-h6">Orders</div>
      <q-btn
        v-for="status in orders"
        :key="status.name"
        :color="status.count > 0 ? 'teal' : 'teal-3'"
        size="md"
        :label="status.name"
        class="q-ma-xs"
        :to="`/customer-orders?status=${status.name}`"
      >
        <q-badge :color="status.count > 0 ? 'orange' : 'orange-3'" :text-color="status.count > 0 ? 'black' : 'grey-8'" floating>
          {{status.count}}
        </q-badge>
      </q-btn>
    </div>
  </div>
</template>

<script>
import MonthlyChart from '../components/MonthlyChart.vue'
import { API } from '../utils/api'
import moment from 'moment'

export default {
  name: 'VendorHome',

  components: {
    MonthlyChart
  },

  data () {
    return {
      shops: [],
      performance: {
        counts: [],
        count_labels: [],
        totals: [],
        total_labels: []
      },
      orderByCategory: {
        pending: 0,
        verified: 0,
        processing: 0,
        delivering: 0,
        delivered: 0,
        received: 0,
        cancelled: 0,
        rejected: 0
      }
    }
  },

  computed: {
    monthDays () {
      return this.$store.getters['shop/monthDays']
    },
    orders () {
      return Object.keys(this.orderByCategory).map(key => ({ name: key, count: this.orderByCategory[key] })) // .filter(order => order && order.counts > 0)
    }
  },

  watch: {
    monthDays (val) {
      if (val && val.length > 0) {
        this.shops.forEach(shop => {
          this.getShopPerformance(shop.id)
        })
      }
    }
  },

  methods: {
    getMyVendors () {
      API(this, {
        url: '/my-shops'
      }).then(resp => {
        this.shops = resp.data && resp.data.shops
        this.shops.forEach(shop => {
          this.getCustomerOrders(shop.id)
        })
      }).catch(err => {
        console.error('getMyVendors error: ' + err)
      })
    },
    getShopPerformance (shopID) {
      API(this, {
        url: `/vendors/${shopID}/performance`,
        data: { dates: this.$store.getters['shop/monthDays'] },
        method: 'post'
      }).then(resp => {
        console.log('getShopPerformance response', resp)
        if ('performance' in resp.data) {
          this.performance.count_labels = this.$store.getters['shop/monthDays'].map(day => moment(day).format('MMM DD'))
          this.performance.total_labels = this.performance.count_labels

          this.performance.counts = resp.data.performance.counts // this.performance.count_labels.map(key => resp.data.performance.counts[key])
          this.performance.totals = resp.data.performance.totals // this.performance.total_labels.map(key => resp.data.performance.totals[key])
        }
      }).catch(err => {
        console.log('getShopPerformance error', err)
      })
    },
    getCustomerOrders (shopID) {
      API(this, {
        url: `/my-shops/${shopID}/orders`,
        loading: 'show'
      }).then(resp => {
        if (resp.data.orders && resp.data.orders.length > 0) {
          // reset old counters
          Object.keys(this.orderByCategory).forEach(status => {
            this.orderByCategory[status] = 0
          })

          // update new counters
          resp.data.orders.forEach(order => {
            this.orderByCategory[order.status] += 1
          })
        }
      }).catch(err => {
        this.loading = false
        console.error('getMyProducts error: ' + err)
      })
    }
  },

  mounted () {
    this.getMyVendors()
  }
}
</script>
