<template>
  <div class="shops-list-wrapper">
    <BannerMessage v-if="errMsg" class="q-ma-lg full-width" type="error" msg="" :action="emptyWarningAction" :loading="loading">
      {{ errMsg }}
    </BannerMessage>
    <q-list separator>
      <q-item clickable ripple :class="isVendor ? 'text-black' : 'text-teal-10'" v-for="item in shopsList" :key="item.id" :to="`/vendors/${item.id}`">
        <q-item-section>
          <q-item-label>{{item.name}}</q-item-label>
          <q-item-label caption><span v-if="!mine">{{item.distance}} km away, </span>{{toAddress(item.coords)}}</q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-item-label caption>{{estimateCounter(item.items_sold)}}</q-item-label>
          <div class="">
            <q-rating
              v-if="!mine"
              v-model="item.score"
              size="1.2em"
              :max="5"
              readonly
              color="orange"
              />
            <q-btn v-else-if="selectedID !== item.id" round :disable="selectedID !== '' && selectedID === item.id" color="primary" size="sm" icon="edit" @click.stop.prevent="toggleEdit(item)"/>
          </div>
        </q-item-section>
      </q-item>

      <!-- <q-separator spaced inset /> -->
    </q-list>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'VendorsList',

  props: {
    shops: {
      type: Array,
      required: true
    },
    mine: {
      type: Boolean,
      default: false
    },
    selectedID: {
      type: String,
      default: ''
    },
    errMsg: {
      type: String,
      default: null
    }
  },

  data () {
      return {
      }
  },

  computed: {
    ...mapGetters(['isVendor']),
    shopsList () {
        return this.shops.slice().sort((a, b) => a && a.distance > b.distance ? 1 : -1)
    }
  },

  methods: {
    emptyWarningAction () {
      return {
        label: 'Go back',
        click: this.goBack
      }
    },
    toggleEdit (item) {
      this.$emit('edit', item)
    },
    toAddress (coords) {
      if (!coords) {
        return ''
      }
      const address = [coords.street, coords.county, coords.city].filter(a => a && a).join(', ')

      if (address) {
        return address
      }
      return [coords.lng, coords.lat].join(', ')
    },
    estimateCounter (count, min = 100) {
      if (count < min) {
        return `Sold < ${min}`
      }
      if (count >= 1000 && count < 1000000) {
        return `Sold ${(min / 1000)}k`
      }
      if (count >= 1000000 && count < 1000000000) {
        return `Sold ${(min / 1000000)}m`
      }
      if (count >= 1000000000 && count < 1000000000000) {
        return `Sold ${(min / 1000000000)}b`
      }
      if (count >= 1000000000000 && count < 1000000000000000) {
        return `Sold ${(min / 1000000000000)}t`
      }
    }
  }
}
</script>
