.blue-gradient-bg {
  background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)
}
.black-gradient-bg {
  background: radial-gradient(circle, #607d8b 0%, #263238 100%)
}
.teal-gradient-bg {
  background: radial-gradient(circle, #26a69a 0%, #004d40 100%)
}

.auth-form-card {
  max-width: 600px;
  min-width: 500px;
}

@media screen and (max-width: 600px) {
  .auth-form-card {
    max-width: 100vw;
    min-width: 100vw;
  }
}