<template>
  <div id="q-app" style="height: 99.9vh !important;">
    <router-view />

    <q-dialog v-model="askLocationAccess" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="my_location" color="primary" text-color="white" />
          <span class="q-ml-sm">We use your current location to find nearby shops, restaurants, gas stations and other types of vendors</span>
          <span class="q-ml-sm q-mt-sm text-negative">Note: If you don't allow this service this app will not be reliable!</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Deny" color="primary" v-close-popup />
          <q-btn flat label="Allow" color="primary" v-close-popup @click="allowGeoLocation" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <share-popup></share-popup>
  </div>
</template>

<script>
import { API, EventBus, getLocalStorage, setLocalStorage, Socket } from './utils'
import SharePopup from './components/SharePopup.vue'

export default {
  name: 'App',

  components: {
    SharePopup
  },

  data () {
    return {
      askLocationAccess: false,
      chatReconnectTimeout: 0
    }
  },

  computed: {
    chatOptions () {
      return {
        onconnect: this.chatConnected,
        onclose: this.chatClosed,
        onmessage: this.chatMessage,
        onerror: this.chatError
      }
    },
    selectedConversation () {
      return this.$store.getters['chat/selectedConversation']
    },
    conversations () {
      return this.$store.getters['chat/conversations'] // .slice().sort((a, b) => a && b && a.last_seen > b.last_seen ? -1 : 1)
    }
  },

  methods: {
    initChat () {
      this.Socket = Socket
      clearInterval(this.chatReconnectTimeout)
      console.log('initChat', this.Socket.state())
      this.Socket.init(this.$store.getters.baseURL, this.chatOptions, this.$store.getters.jwt)
      console.log('initChat', this.Socket.state())
      setTimeout(() => {
        if (this.Socket.state() === 'OPEN') {
          this.getConversations()
        }
      }, 1000)
    },
    sendMessage (data) {
      console.log('sendMessage', data)
      const state = this.Socket.state()
      if (state === 'OPEN') {
        this.Socket.send(JSON.stringify(data))
      } else if (state === 'CONNECTING') {
        setTimeout(() => { this.Socket.send(JSON.stringify(data)) }, 1000)
      } else if (state === 'CLOSING' || state === 'CLOSED') {
        this.Socket.addQueue(data)
        this.initChat()
      }
    },
    chatConnected (e) {
      clearInterval(this.chatReconnectTimeout)
      console.log('chatConnected', e)
    },
    chatClosed (e) {
      console.log('chatClosed', e)
      clearInterval(this.chatReconnectTimeout)
      this.chatReconnectTimeout = setTimeout(() => {
        this.Socket.init(this.$store.getters.baseURL, this.chatOptions, this.$store.getters.jwt)
      }, 5000)
    },
    chatMessage (e) {
      console.log('chatMessage', e)
      if (e && typeof e.data === 'string' && e.data.indexOf('{') === 0) {
        const msg = JSON.parse(e.data)
        if (msg && msg.id && msg.id.length === 24 && msg.coversation_id && msg.coversation_id.length === 24) {
          if (this.$store.getters['chat/isInConversations'](msg.coversation_id)) {
            console.log('isInConversations', true)
            if (this.$route.params && this.$route.params.conversationID !== msg.coversation_id) {
              const conversations = this.clone(this.conversations).map(a => {
                if (a && a.id === msg.conversation_id) {
                  if (a.messages.filter(m => m && m.id === msg.id).length === 0) {
                    a.messages.push(msg)
                  } else {
                    a.messages = a.messages.map(m => m && m.id === msg.id ? msg : m)
                  }
                }
                return a
              })
              this.$store.commit('chat/setConversations', conversations)
              if (this.selectedConversation && this.selectedConversation.id === msg.conversation_id) {
                const conversation = this.clone(this.selectedConversation)
                if (conversation.messages.filter(a => a && a.id === msg.id).length === 0) {
                  conversation.messages.push(msg)
                } else {
                  conversation.messages = conversation.messages.map(a => a && a.id === msg.id ? msg : a)
                }
                this.$store.commit('chat/selectedConversation', conversation)
              }
              this.$q.notify({
                type: 'info',
                color: 'info',
                position: 'bottom',
                message: 'New message received',
                timeout: 4000
              })
            } else {
              // this.$store.commit('chat/updateConversationMessages', msg)
              const conversation = this.clone(this.selectedConversation)
              conversation.messages.push(msg)
              this.$store.commit('chat/selectedConversation', conversation)
              EventBus.$emit('newChatMessageReceived', msg)
              this.$forceUpdate()
            }
          } else {
            console.log('isInConversations', false)
            this.getConversations(msg.coversation_id).then(conversation => {
              this.$store.commit('chat/updateConversationMessages', msg)
              if (this.$route.params && this.$route.params.conversationID !== msg.coversation_id) {
                let sender = conversation && conversation.id && conversation.id.length === 24 ? conversation.members.filter(a => a && a.sender_id === msg.sender_id) : []
                if (sender && sender.length > 0) {
                  sender = sender[0]
                }
                if (sender && sender.full_name) {
                  this.$q.notify({
                    type: 'info',
                    color: 'info',
                    position: 'bottom',
                    message: this.$t(`${sender.full_name}: ${msg.data}`),
                    timeout: 4000
                  })
                }
              } else {
                this.$forceUpdate()
              }
            })
          }
        }
      } else {
        console.warn('[chatMessage] message is unknown type', e.data)
      }
    },
    clone (obj) {
      if (typeof obj === 'object') {
        return JSON.parse(JSON.stringify(obj))
      }
      return obj
    },
    getConversations (conversationID) {
      return new Promise((resolve, reject) => {
        API(this, {
          url: '/conversations'
        }).then(resp => {
          if (resp.data && 'conversations' in resp.data) {
            this.$store.commit('chat/setConversations', resp.data.conversations.map(a => a && ({
              ...a,
              me: a.members && a.members.filter(m => m && m.id === this.userID)[0],
              others: a.members && a.members.filter(m => m && m.id !== this.userID),
              messages: []
            })))
            if (!conversationID) {
              resolve(null)
              return
            }
            let conversation = resp.data.conversations.filter(a => a && a.id === conversationID)
            if (conversation && conversation.length > 0) {
              conversation = conversation[0]
            } else {
              conversation = null
            }
            // if (conversation && conversation.id && conversation.id.length === 24) {
            //   // this.$store.commit('chat/selectedConversation', conversation)
            // }
            resolve(conversation)
          }
        }).catch(err => {
          console.log('getConversations failed', err)
          reject(err)
        })
      })
    },
    chatError (e) {
      console.log('chatError', e)
    },
    allowGeoLocation () {
      setLocalStorage('location-access-allowed', 'allowed')
      this.getCurrentLocation()
    },
    getCurrentLocation () {
      const locationAccessStatus = getLocalStorage('location-access-allowed')
      if (!locationAccessStatus) {
        this.askLocationAccess = true
        return
      }
      this.$getLocation(this.options)
      .then(coordinates => {
        setLocalStorage('location-access-allowed', 'allowed')
        this.coordinates = coordinates
        setLocalStorage('lastCoords', JSON.stringify(this.coordinates))
      }).catch(err => {
        if (err && err.code === err.PERMISSION_DENIED) {
          setLocalStorage('location-access-allowed', 'denied')
        } else if (err && err.code === err.POSITION_UNAVAILABLE) {
          setLocalStorage('location-access-allowed', 'unavailable')
        } else if (err && err.code === err.TIMEOUT) {
          setLocalStorage('location-access-allowed', 'timeout')
        }
      })
    },
    getUserData (data) {
      API(this, {
        url: '/user'
      }).then(resp => {
        console.log('getUserData response', resp)
        this.$store.commit('setAuthUser', { authUser: resp.data && resp.data.user })
        if (data && data.next) {
          this.$router.push(data.next)
        }
        this.getCurrentLocation()
      }).catch(err => {
        console.log('getUserData error', err)
        // if offline use the cached user data
        setTimeout(() => {
          if (!this.isOnline) {
            console.warn('Using cached data')
            let authUser = getLocalStorage('authUser')
            if (authUser) {
              authUser = JSON.parse(authUser)
              this.$store.commit('setAuthUser', { authUser })
            }
          }
        }, 1000)
      })
    },
    getCategories () {
      API(this, {
        url: '/categories'
      }).then(resp => {
        if (resp && resp.data && resp.data.categories) {
          this.$store.commit('app/setCategories', resp.data.categories)
        }
      }).catch(err => {
        console.log('getCategories error', err)
      })
    }
  },

  beforeMount () {
    console.log('EventBus', EventBus)
    EventBus.$on('getUserData', this.getUserData)
    EventBus.$on('sendMessage', this.sendMessage)
    this.getCategories()
    setTimeout(() => {
      if (this.$store.getters.isAuthenticated) {
        this.getUserData()
        this.initChat()
      }
    }, 1000)
  }
}
</script>
