<template>
  <q-layout view="hHh Lpr lff" class="shadow-2">
    <q-header elevated :class="isVendor ? 'bg-black' : 'bg-teal-10'">
      <q-toolbar>
        <q-btn
          round
          icon="menu"
          aria-label="Menu"
          show-if-above
          :width="200"
          :breakpoint="500"
          content-class="bg-grey-3"
          class="no-shadow"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title @click="$router.push('/')" class="cursor-pointer">
          {{appName}}
        </q-toolbar-title>

        <q-btn round class="q-mr-md" text-color="white" icon="notifications_active"  @click="showNotification = !showNotification"></q-btn>

        <!-- <div class="cursor-pointer ">
          <q-icon class="" name="" size="sm"></q-icon>
        </div> -->

        <div v-if="!isVendor" class="cursor-pointer" @click="$router.push('/shopping-cart')">
          <q-icon name="shopping_cart" size="sm"></q-icon>
          <strong class="q-ml-xs">{{ fmtAmount(totalPrice, 'KSh') }}</strong>.
        </div>
      </q-toolbar>
    </q-header>

    <!-- <q-footer bordered reveal class="bg-white text-blue-grey-10">
      <q-tabs no-caps active-color="grey-10" indicator-color="transparent" class="text-grey-6" v-model="footerTab">
        <q-tab color="gray" name="home" icon="home" label="Home" @click="goTo('/')" />
        <q-tab color="gray" name="shops" icon="shop" label="Vendors"  @click="goTo('/vendors')" />
        <q-tab color="gray" name="orders" icon="shopping_basket" label="Orders"  @click="goTo('/orders')" />
        <q-tab color="gray" name="cart" icon="shopping_cart" label="Cart"  @click="goTo('/shopping-cart')" />
      </q-tabs>
    </q-footer> -->

    <Sidebar :leftDrawerOpen="leftDrawerOpen" @toggle-sidebar="show => leftDrawerOpen = show" />

    <q-page-container>
      <router-view />
    </q-page-container>

    <Notifications :show="showNotification" />
  </q-layout>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'
import Sidebar from 'components/Sidebar.vue'
import Notifications from '../components/Notifications'

export default {
  name: 'MainLayout',

  components: {
    Sidebar,
    Notifications
  },

  computed: {
    ...mapGetters(['isVendor'/* 'app/leftDrawerOpen', */]),
    ...mapState('app', {
      // leftDrawerOpen: state => state.leftDrawerOpen,
      // footerTab: state => state.footerTab,
      appName: state => state.appName
    }),
    ...mapActions('app', []),
    leftDrawerOpen: {
      get () {
        return this.$store.state.app.leftDrawerOpen
      },
      set (val) {
        this.$store.commit('app/leftDrawerOpen', val)
      }
    },
    footerTab: {
      get () {
        return this.$store.state.app.footerTab
      },
      set (val) {
        console.log('footerTab', val)
        this.$store.commit('app/footerTab', val)
      }
    },
    totalPrice () {
      return this.$store.getters['shop/totalPrice']
    },
    isAuthenticated () {
      return this.$store.getters.isAuthenticated
    },
    showNotification: {
      get () {
        return this.$store.getters['app/showNotification']
      },
      set (val) {
        this.$store.commit('app/toggleNotification', !val)
      }
    }
  },

  watch: {
    '$route.path' (path) {
      this.updateFooterTab(path)
    }
  },

  methods: {
    goTo (path) {
      this.$router.push(path)
    },
    updateFooterTab (path) {
      if (path === '/') {
        this.footerTab = 'home'
      } else if (typeof path === 'string' && path.length > 2) {
        this.footerTab = path.substring(1)
      }
    },
    fmtAmount (amount, currency) {
      amount = Number(amount).toLocaleString()
      if (currency === 'KSh' || currency === 'KES') {
        return `${amount} ${currency}`
      }
      return `${currency} ${amount}`
    }
  },

  data () {
    return {
    }
  },

  beforeMount () {
    this.updateFooterTab(this.$route.path)
  }
}
</script>
<style>
main.q-page {
  max-width: 97vw;
}
</style>
