<template>
  <q-layout view="hHh lpR fFf">

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  name: 'NoLayout',

  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
